In [1]:
import pandas as pd
from tqdm import tqdm
tqdm.pandas()
import numpy as np
import datetime as dt
import math as math
pd.set_option('display.max_columns', None)

In [2]:
df1 = pd.read_csv('Main_Director_complete v140924.csv')

C:\Users\SHIVAM\AppData\Local\Temp\ipykernel_19276\3137616079.py:1: DtypeWarning: Columns (28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv('Main_Director_complete v140924.csv')

In [3]:
df31 = df1.copy()

In [4]:
df31['IsBusy'] = np.where( df31['CompCountCurrTotalA'] > 2, 1,0)

In [5]:
df31['IsFirstTerm'] = np.where((df31['OpBalTotal'] < 365*5), 1, 0)
df31['IsFirstYear'] = np.where((df31['OpBalTotal'] < 365*1), 1, 0)
df31['IsFirstYearIndep'] = np.where( (df31['IsIndep'] == 1) & (df31['OpBalTotal'] < 365*1), 1, 0)

In [6]:
df31

,Unnamed: 0,Symbol,Company,AsOnDate,Person Code,Director Salutation,Director First Name,Director Middle Name,Director Surname,Date of Birth,Gender,Nationality,Appointment Date,Member of Civil Services,Education1,Education2,Education3,Education4,Education5,Education6,Education7,Education8,Education9,Education10,Skills/Competencies,Cessation Date,Cessation Reason,Brief Profile,Promoter Director (Yes/No),Position on Board,Independent (Yes/No),Occupation,Other Directorship 1,Other Directorship 2,Other Directorship 3,Other Directorship 4,Other Directorship 5,Other Directorship 6,Other Directorship 7,Other Directorship 8,Other Directorship 9,Other Directorship 10,Other Directorship 11,Other Directorship 12,Other Directorship 13,Other Directorship 14,Other Directorship 15,Tenure Valid till,PrevLastServed,Indep,cumsum_U,cumsum_Y,cumsum_N,OpBalUnc,OpBalIndep,OpBalNonIndep,OpBalTotal,CloBalUnc,CloBalIndep,CloBalNonIndep,CloBalTotal,YOE,YOEmax,AllPastDirect,CurrDirectA,CurrDirectAB,PastSiezedDirectA,PastSiezedDirectAB,CountOtherPastUnclearA,CountOtherPastIndepA,CountOtherPastNonIndepA,CompCountOtherPastTotalA,CountOtherPastUnclearAB,CountOtherPastIndepAB,CountOtherPastNonIndepAB,CompCountOtherPastTotalAB,CountCurrUnclearA,CountCurrIndepA,CountCurrNonIndepA,CompCountCurrTotalA,CountCurrUnclearAB,CountCurrIndepAB,CountCurrNonIndepAB,CompCountCurrTotalAB,Rookie,IsIndep,IsNonIndep,IsRookie,IsNonRookie,IsCeoMD,IsChairman,IsPromoterClassification,IsPromoterBoard,IsPromoter,IsDualityChairmanMD,IsFamilyManaged,IsFamilyChairman,IsFamilyChairmanAndCEO,IsRookieIndep,IsRookieNonIndep,IsNonRookieIndep,IsNonRookieNonIndep,IsFemale,Age,TenureInYearsIndep,TenureInYearsTotal,IsFirstTermIndep,IsRetires5y,IsTermLimitRetirement,IsDefaultTerm,AsOnYear,IsTurnOver,HasRetires5y,HasTermLimitRetirement,IsTurnOverIndep,IsBusy,IsFirstTerm,IsFirstYear,IsFirstYearIndep
0,0,3MINDIA,3M INDIA LTD.,2006-03-31,P00033272,MR.,SHANKARANARAYANA,VISHWANATHA RAO,BANAWARA,1960-05-14,M,INDIA,2002-07-24,NONE,GRADUATE: B.COM.,"POST GRADUATE: M.B.A.-FINANCE,BANGALORE UNIVER...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"ACCOUNTS/AUDIT/TAXATION,FINANCE,LEADERSHIP/MAN...",NaN,NaN,"MR. B.V. SHANKARANARAYANA RAO, 57, HOLDS A BAC...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,U,1,0,0,1346.0,0,0,1346.0,1711.0,0,0,1711.0,1346.0,1346.0,(),"(('3M INDIA LTD.', 'U'),)","(('3M INDIA LTD.', 'U'),)",(),(),0,0,0,0,0,0,0,0,1,0,0,1,1,0,0,1,N,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,64.0,0.0,3.687671,0,0,0,0,2006,0,0,0,0,0,1,0,0
1,1,3MINDIA,3M INDIA LTD.,2006-03-31,P00000249,LATE MR.,BALAJI RAO,JAGANNATH RAO,DOVETON,1939-12-15,M,INDIA,2001-12-26,NONE,"GRADUATE: ASSOCIATE MEMBER,INDIAN INSTITUTION ...","GRADUATE: B.E.-MECHANICAL,UNIVERSITY OF MADRAS...","POST GRADUATE: M.E.-MECHANICAL,UNIVERSITY OF M...",POST GRADUATE: P.G.-ADVANCED MANAGEMENT PROGRA...,POST GRADUATE: P.G.DIPLOMA-INDUSTRIAL ENGINEER...,NaN,NaN,NaN,NaN,NaN,"ACCOUNTS/AUDIT/TAXATION,CONSUMER DISCRETIONARY...",NaN,NaN,"MR. D.J. BALAJI RAO, 73, HOLDS A B.E DEGREE IN...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,U,1,0,0,1556.0,0,0,1556.0,1921.0,0,0,1921.0,1556.0,3289.0,(),"(('ASHOK LEYLAND LTD.', 'U'), ('3M INDIA LTD.'...","(('ASHOK LEYLAND LTD.', 'U'), ('3M INDIA LTD.'...",(),(),0,0,0,0,0,0,0,0,5,0,0,5,5,0,0,5,N,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,84.0,0.0,4.263014,0,1,0,0,2006,0,0,0,0,1,1,0,0
2,2,ASHOKLEY,ASHOK LEYLAND LTD.,2006-03-31,P00000249,LATE MR.,BALAJI RAO,JAGANNATH RAO,DOVETON,1939-12-15,M,INDIA,2000-07-27,NONE,"GRADUATE: ASSOCIATE MEMBER,INDIAN INSTITUTION ...","GRADUATE: B.E.-MECHANICAL,UNIVERSITY OF MADRAS...","POST GRADUATE: M.E.-MECHANICAL,UNIVERSITY OF M...",POST GRADUATE: P.G.-ADVANCED MANAGEMENT PROGRA...,POST GRADUATE: P.G.DIPLOMA-INDUSTRIAL ENGINEER...,NaN,NaN,NaN,NaN,NaN,"ACCOUNTS/AUDIT/TAXATION,CONSUMER DISCRETIONARY...",NaN,NaN,"MR D J BALAJI RAO, IS A FORMER DEPUTY MANAGING...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,U,1,0,0,2073.0,0,0,2073.0,2438.0,0,0,2438.0,2073.0,3289.0,(),"(('ASHOK LEYLAND LTD.', 'U'), ('3M INDIA LTD.'...","(('ASHOK LEYLAND LTD.', 'U'), ('3M INDIA LTD.'...",(),(),0,0,0,0,0,0,0,0,5,0,0,5,5,0,0,5,N,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,84.0,0.0,5.679452,0,0,0,0,2006,0,0,0,0,1,0,0,0
3,3,BAJAJHLDNG,BAJAJ HOLDINGS & INVESTMENT LTD.,2006-03-31,P00000249,LATE MR.,BALAJI RAO,JAGANNATH RAO,DOVETON,1939-12-15,M,INDIA,1997-03-29,NONE,"GRADUATE: ASSOCIATE MEMBER,INDIAN INSTITUTION ...","GRADUATE: B.E.-MECHANICAL,UNIVERSITY OF MADRAS...","POST GRADUATE: M.E.-MECHANICAL,UNIVERSITY OF M...",POST GRADUATE: P.G.-ADVANCED MANAGEMENT PROGRA...,POST GRADUATE: P.G.DIPLOMA-INDUSTRIAL ENGINEER...,NaN,NaN,NaN,NaN,NaN,"ACCOUNTS/AUDIT/TAXATION,CONSUMER DISCRETIONARY...",NaN,NaN,"D. J. BALAJI RAO (BORN ON 15 DECEMBER 1939), H...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,U,1,0,0,3289.0,0,0,3289.0,3654.0,0,0,3654.0,3289.0,3289.0,(),"(('ASHOK LEYLAND LTD.', 'U'), ('3M INDIA LTD.'...","(('ASHOK LEYLAND LTD.', 'U'), ('3M INDIA LTD.'...",(),(),0,0,0,0,0,0,0,0,5,0,0,5,5,0,0,5,N,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,84.0,0.0,9.010959,0,0,1,0,2006,0,0,0,0,1,0,0,0
4,4,GRAPHITE,GRAPHITE INDIA LTD.,2006-03-31,P00000249,LATE MR.,BALAJI RAO,JAGANNATH RAO,DOVETON,1939-12-15,M,INDIA,2004-01-17,NONE,"GRADUATE: ASSOCIATE MEMBER,INDIAN INSTITUTION ...","GRADUATE: B.E.-MECHANICAL,UNIVERSITY OF MADRAS...","POST GRADUATE: M.E.-MECHANICAL,UNIVERSITY OF M...",POST GRADUATE: P.G.-ADVANCED MANAGEMENT PROGRA...,POST GRADUATE: P.G.DIPLOMA-INDUSTRIAL ENGINEER...,NaN,NaN,NaN,NaN,NaN,"ACCOUNTS/AUDIT/TAXATION,CONSUMER DISCRETIONARY...",NaN,NaN,"MR. D J BALAJI RAO, AGED 73 YEARS, HOLDS A DEG...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,U,1,0,0,804.0,0,0,804.0,1169.0,0,0,1169.0,804.0,3289.0,(),"(('ASHOK LEYLAND LTD.', 'U'), ('3M INDIA LTD.'...","(('ASHOK LEYLAND LTD.', 'U'), ('3M INDIA LTD.'...",(),(),0,0,0,0,0,0,0,0,5,0,0,5,5,0,0,5,N,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,84.0,0.0,2.202740,0,0,0,0,2006,0,0,0,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446429,446429,ZYDUSWELL,ZYDUS WELLNESS LTD.,2024-03-31,P00005980,MR.,BHARAT,VINAYAK,PATEL,1950-09-29,M,NaN,2003-04-29,NaN,GRADUATE: B.E.-MECHANICAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2006-07-27,NaN,HE HAS VAST EXPERIENCE IN CHEMICAL MANUFACTURI...,NO,NON-EXECUTIVE DIRECTOR,YES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-03-31,Y,3,12,0,3623.0,4015,0,7638.0,3623.0,4380,0,8003.0,7642.0,7642.0,"(('ZYDUSWELL', 'U'), ('ZYDUSWELL', 'Y'))","(('ZYDUS WELLNESS LTD.', 'Y'),)","(('ZYDUS WELLNESS LTD.', 'Y'),)","(('ZYDUSWELL', 'U'), ('ZYDUSWELL', 'Y'))","(('ZYDUSWELL', 'U'), ('ZYDUSWELL', 'Y'))",1,1,0,2,1,1,0,2,0,1,0,1,0,1,0,1,N,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,74.0,11.0,20.926027,0,0,0,1,2024,1,0,0,1,0,0,0,0
446430,446430,ZYDUSWELL,ZYDUS WELLNESS LTD.,2024-03-31,P00031583,MR.,JITENDRA,R.,PATEL,NaN,M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009-07-29,NaN,NaN,NO,"MANAGING DIRECTOR, EXECUTIVE DIRECTOR",NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-03-31,N,0,0,12,NaN,0,4015,NaN,NaN,0,4380,NaN,NaN,NaN,"(('ZYDUSWELL', 'N'),)","(('ZYDUS WELLNESS LTD.', 'N'),)","(('ZYDUS WELLNESS LTD.', 'N'),)","(('ZYDUSWELL', 'N'),)","(('ZYDUSWELL', 'N'),)",0,0,1,1,0,0,1,1,0,0,1,1,0,0,1,1,n,0,1,0,1,1,0,0,0,0,0,0,0,0,0,0,0,1,0,NaN,0.0,NaN,0,0,0,0,2024,1,0,0,0,0,0,0,0
446431,446431,ZYDUSWELL,ZYDUS WELLNESS LTD.,2024-03-31,P00005982,MR.,MANU,PURSHOTTAM,PATEL,1936-04-21,M,NaN,1994-11-01,NaN,GRADUATE: B.COM.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2006-07-27,NaN,HE HAS VAST EXPERIENCE IN TEA MANUFACTURING BU...,NO,NON-EXECUTIVE DIRECTOR,YES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-03-31,Y,3,12,0,6724.0,4015,0,10739.0,6724.0,4380,0,11104.0,10743.0,10743.0,"(('ZYDUSWELL', 'U'), ('ZYDUSWELL', 'Y'))","(('ZYDUS WELLNESS LTD.', 'Y'),)","(('ZYDUS WELLNESS LTD.', 'Y'),)","(('ZYDUSWELL', 'U'), ('ZYDUSWELL', 'Y'))","(('ZYDUSWELL', 'U'), ('ZYDUSWELL', 'Y'))",1,1,0,2,1,1,0,2,0,1,0,1,0,1,0,1,N,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,88.0,11.0,29.421918,0,0,0,1,2024,1,0,0,1,0,0,0,0
446432,446432,ZYDUSWELL,ZYDUS WELLNESS LTD.,2024-03-31,P00022619,DR.(MR.),MUKESH,RAOJI,PATEL,1947-09-13,M,NaN,2006-07-27,NaN,POST GRADUATE: M.PHARM.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009-04-27,NaN,HE IS A MASTER IN PHARMACY AND ALSO A PH.D. IN...,NO,NON-EXECUTIVE DIRECTOR,YES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-03-31,Y,3,12,0,2438.0,4015,0,6453.0,2438.0,4380,0,6818.0,6457.0,6457.0,"(('ZYDUSWELL', 'U'), ('ZYDUSWELL', 'Y'))","(('ZYDUS WELLNESS LTD.', 'Y'),)","(('ZYDUS WELLNESS LTD.', 'Y'),)","(('ZYDUSWELL', 'U'), ('ZYDUSWELL', 'Y'))","(('ZYDUSWELL', 'U'), ('ZYDUSWELL', 'Y'))",1,1,0,2,1,1,0,2,0,1,0,1,0,1,0,1,N,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,77.0,11.0,17.679452,0,0,0,1,2024,1,0,0,1,0,0,0,0
446433,446433,ZYDUSWELL,ZYDUS WELLNESS LTD.,2024-03-31,P00090966,MR.,SAVYASACHI,SANTOSH,SENGUPTA,1952-10-16,M,NaN,2018-11-02,NaN,GRADUATE: B.SC.-STATISTICS,"POST GRADUATE: P.G.DIPLOMA-MANAGEMENT,INDIAN I...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"FAST MOVING CONSUMER GOODS,LEADERSHIP/MANAGEME...",2023-11-01,RETIRED/SUPERANNUATED/TERM EXPIRED,"MR. SAVYASACHI SENGUPTA, AGED ABOUT 66 YEARS I...",NO,NON-EXECUTIVE DIRECTOR,YES,MANAGEMENT CONSULTANT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-03-31,Y,0,6,0,149.0,1825,0,1974.0,149.0,2190,0,2339.0,1976.0,1976.0,"(('ZYDUSWELL', 'Y'),)","(('ZYDUS WELLNESS LTD.', 'Y'),)","(('ZYDUS WELLNESS LTD.', 'Y'),)","(('ZYDUSWELL', 'Y'),)","(('ZYDUSWELL', 'Y'),)",0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,N,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,71.0,5.0,5.408219,0,0,0,0,2024,1,0,0,1,0,0,0,0

In [7]:
df32 = df31.head(n = 500)
df32

,Unnamed: 0,Symbol,Company,AsOnDate,Person Code,Director Salutation,Director First Name,Director Middle Name,Director Surname,Date of Birth,Gender,Nationality,Appointment Date,Member of Civil Services,Education1,Education2,Education3,Education4,Education5,Education6,Education7,Education8,Education9,Education10,Skills/Competencies,Cessation Date,Cessation Reason,Brief Profile,Promoter Director (Yes/No),Position on Board,Independent (Yes/No),Occupation,Other Directorship 1,Other Directorship 2,Other Directorship 3,Other Directorship 4,Other Directorship 5,Other Directorship 6,Other Directorship 7,Other Directorship 8,Other Directorship 9,Other Directorship 10,Other Directorship 11,Other Directorship 12,Other Directorship 13,Other Directorship 14,Other Directorship 15,Tenure Valid till,PrevLastServed,Indep,cumsum_U,cumsum_Y,cumsum_N,OpBalUnc,OpBalIndep,OpBalNonIndep,OpBalTotal,CloBalUnc,CloBalIndep,CloBalNonIndep,CloBalTotal,YOE,YOEmax,AllPastDirect,CurrDirectA,CurrDirectAB,PastSiezedDirectA,PastSiezedDirectAB,CountOtherPastUnclearA,CountOtherPastIndepA,CountOtherPastNonIndepA,CompCountOtherPastTotalA,CountOtherPastUnclearAB,CountOtherPastIndepAB,CountOtherPastNonIndepAB,CompCountOtherPastTotalAB,CountCurrUnclearA,CountCurrIndepA,CountCurrNonIndepA,CompCountCurrTotalA,CountCurrUnclearAB,CountCurrIndepAB,CountCurrNonIndepAB,CompCountCurrTotalAB,Rookie,IsIndep,IsNonIndep,IsRookie,IsNonRookie,IsCeoMD,IsChairman,IsPromoterClassification,IsPromoterBoard,IsPromoter,IsDualityChairmanMD,IsFamilyManaged,IsFamilyChairman,IsFamilyChairmanAndCEO,IsRookieIndep,IsRookieNonIndep,IsNonRookieIndep,IsNonRookieNonIndep,IsFemale,Age,TenureInYearsIndep,TenureInYearsTotal,IsFirstTermIndep,IsRetires5y,IsTermLimitRetirement,IsDefaultTerm,AsOnYear,IsTurnOver,HasRetires5y,HasTermLimitRetirement,IsTurnOverIndep,IsBusy,IsFirstTerm,IsFirstYear,IsFirstYearIndep
0,0,3MINDIA,3M INDIA LTD.,2006-03-31,P00033272,MR.,SHANKARANARAYANA,VISHWANATHA RAO,BANAWARA,1960-05-14,M,INDIA,2002-07-24,NONE,GRADUATE: B.COM.,"POST GRADUATE: M.B.A.-FINANCE,BANGALORE UNIVER...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"ACCOUNTS/AUDIT/TAXATION,FINANCE,LEADERSHIP/MAN...",NaN,NaN,"MR. B.V. SHANKARANARAYANA RAO, 57, HOLDS A BAC...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,U,1,0,0,1346.0,0,0,1346.0,1711.0,0,0,1711.0,1346.0,1346.0,(),"(('3M INDIA LTD.', 'U'),)","(('3M INDIA LTD.', 'U'),)",(),(),0,0,0,0,0,0,0,0,1,0,0,1,1,0,0,1,N,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,64.0,0.0,3.687671,0,0,0,0,2006,0,0,0,0,0,1,0,0
1,1,3MINDIA,3M INDIA LTD.,2006-03-31,P00000249,LATE MR.,BALAJI RAO,JAGANNATH RAO,DOVETON,1939-12-15,M,INDIA,2001-12-26,NONE,"GRADUATE: ASSOCIATE MEMBER,INDIAN INSTITUTION ...","GRADUATE: B.E.-MECHANICAL,UNIVERSITY OF MADRAS...","POST GRADUATE: M.E.-MECHANICAL,UNIVERSITY OF M...",POST GRADUATE: P.G.-ADVANCED MANAGEMENT PROGRA...,POST GRADUATE: P.G.DIPLOMA-INDUSTRIAL ENGINEER...,NaN,NaN,NaN,NaN,NaN,"ACCOUNTS/AUDIT/TAXATION,CONSUMER DISCRETIONARY...",NaN,NaN,"MR. D.J. BALAJI RAO, 73, HOLDS A B.E DEGREE IN...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,U,1,0,0,1556.0,0,0,1556.0,1921.0,0,0,1921.0,1556.0,3289.0,(),"(('ASHOK LEYLAND LTD.', 'U'), ('3M INDIA LTD.'...","(('ASHOK LEYLAND LTD.', 'U'), ('3M INDIA LTD.'...",(),(),0,0,0,0,0,0,0,0,5,0,0,5,5,0,0,5,N,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,84.0,0.0,4.263014,0,1,0,0,2006,0,0,0,0,1,1,0,0
2,2,ASHOKLEY,ASHOK LEYLAND LTD.,2006-03-31,P00000249,LATE MR.,BALAJI RAO,JAGANNATH RAO,DOVETON,1939-12-15,M,INDIA,2000-07-27,NONE,"GRADUATE: ASSOCIATE MEMBER,INDIAN INSTITUTION ...","GRADUATE: B.E.-MECHANICAL,UNIVERSITY OF MADRAS...","POST GRADUATE: M.E.-MECHANICAL,UNIVERSITY OF M...",POST GRADUATE: P.G.-ADVANCED MANAGEMENT PROGRA...,POST GRADUATE: P.G.DIPLOMA-INDUSTRIAL ENGINEER...,NaN,NaN,NaN,NaN,NaN,"ACCOUNTS/AUDIT/TAXATION,CONSUMER DISCRETIONARY...",NaN,NaN,"MR D J BALAJI RAO, IS A FORMER DEPUTY MANAGING...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,U,1,0,0,2073.0,0,0,2073.0,2438.0,0,0,2438.0,2073.0,3289.0,(),"(('ASHOK LEYLAND LTD.', 'U'), ('3M INDIA LTD.'...","(('ASHOK LEYLAND LTD.', 'U'), ('3M INDIA LTD.'...",(),(),0,0,0,0,0,0,0,0,5,0,0,5,5,0,0,5,N,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,84.0,0.0,5.679452,0,0,0,0,2006,0,0,0,0,1,0,0,0
3,3,BAJAJHLDNG,BAJAJ HOLDINGS & INVESTMENT LTD.,2006-03-31,P00000249,LATE MR.,BALAJI RAO,JAGANNATH RAO,DOVETON,1939-12-15,M,INDIA,1997-03-29,NONE,"GRADUATE: ASSOCIATE MEMBER,INDIAN INSTITUTION ...","GRADUATE: B.E.-MECHANICAL,UNIVERSITY OF MADRAS...","POST GRADUATE: M.E.-MECHANICAL,UNIVERSITY OF M...",POST GRADUATE: P.G.-ADVANCED MANAGEMENT PROGRA...,POST GRADUATE: P.G.DIPLOMA-INDUSTRIAL ENGINEER...,NaN,NaN,NaN,NaN,NaN,"ACCOUNTS/AUDIT/TAXATION,CONSUMER DISCRETIONARY...",NaN,NaN,"D. J. BALAJI RAO (BORN ON 15 DECEMBER 1939), H...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,U,1,0,0,3289.0,0,0,3289.0,3654.0,0,0,3654.0,3289.0,3289.0,(),"(('ASHOK LEYLAND LTD.', 'U'), ('3M INDIA LTD.'...","(('ASHOK LEYLAND LTD.', 'U'), ('3M INDIA LTD.'...",(),(),0,0,0,0,0,0,0,0,5,0,0,5,5,0,0,5,N,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,84.0,0.0,9.010959,0,0,1,0,2006,0,0,0,0,1,0,0,0
4,4,GRAPHITE,GRAPHITE INDIA LTD.,2006-03-31,P00000249,LATE MR.,BALAJI RAO,JAGANNATH RAO,DOVETON,1939-12-15,M,INDIA,2004-01-17,NONE,"GRADUATE: ASSOCIATE MEMBER,INDIAN INSTITUTION ...","GRADUATE: B.E.-MECHANICAL,UNIVERSITY OF MADRAS...","POST GRADUATE: M.E.-MECHANICAL,UNIVERSITY OF M...",POST GRADUATE: P.G.-ADVANCED MANAGEMENT PROGRA...,POST GRADUATE: P.G.DIPLOMA-INDUSTRIAL ENGINEER...,NaN,NaN,NaN,NaN,NaN,"ACCOUNTS/AUDIT/TAXATION,CONSUMER DISCRETIONARY...",NaN,NaN,"MR. D J BALAJI RAO, AGED 73 YEARS, HOLDS A DEG...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,U,1,0,0,804.0,0,0,804.0,1169.0,0,0,1169.0,804.0,3289.0,(),"(('ASHOK LEYLAND LTD.', 'U'), ('3M INDIA LTD.'...","(('ASHOK LEYLAND LTD.', 'U'), ('3M INDIA LTD.'...",(),(),0,0,0,0,0,0,0,0,5,0,0,5,5,0,0,5,N,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,84.0,0.0,2.202740,0,0,0,0,2006,0,0,0,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,495,ANSALAPI,ANSAL PROPERTIES & INFRASTRUCTURE LTD.,2006-03-31,P00011988,AIR MARSHAL (MR.),OM,PRAKASH,MEHRA,1919-01-19,M,NaN,2000-03-23,NaN,POST GRADUATE: M.A.-HISTORY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AIR CHIEF MARSHAL O. P. MEHRA (RETD. ) HAS IMM...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,U,1,0,0,2199.0,0,0,2199.0,2564.0,0,0,2564.0,2199.0,7106.0,(),"(('POLYPLEX CORP.LTD.', 'U'), ('ANSAL PROPERTI...","(('POLYPLEX CORP.LTD.', 'U'), ('ANSAL PROPERTI...",(),(),0,0,0,0,0,0,0,0,2,0,0,2,2,0,0,2,N,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,105.0,0.0,6.024658,0,0,0,0,2006,0,0,0,0,0,0,0,0
496,496,POLYPLEX,POLYPLEX CORP.LTD.,2006-03-31,P00011988,AIR MARSHAL (MR.),OM,PRAKASH,MEHRA,1919-01-19,M,NaN,1986-10-16,NaN,POST GRADUATE: M.A.-HISTORY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AIR CHIEF MARSHAL O.P. MEHRA RETIRED AS CHIEF ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,U,1,0,0,7106.0,0,0,7106.0,7471.0,0,0,7471.0,7106.0,7106.0,(),"(('POLYPLEX CORP.LTD.', 'U'), ('ANSAL PROPERTI...","(('POLYPLEX CORP.LTD.', 'U'), ('ANSAL PROPERTI...",(),(),0,0,0,0,0,0,0,0,2,0,0,2,2,0,0,2,N,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,105.0,0.0,19.468493,0,0,0,1,2006,0,0,0,0,0,0,0,0
497,497,ANSALAPI,ANSAL PROPERTIES & INFRASTRUCTURE LTD.,2006-03-31,P00008371,DR.(MR.),RAMESH,CHANDRA,VAISH,1941-06-19,M,INDIA,1992-02-11,NONE,"GRADUATE: LL.B.,UNIVERSITY OF FLORIDA,GAINESVILLE",POST GRADUATE: F.C.A.(FELLOW CHARTERED ACCOUNT...,"POST GRADUATE: M.COM.,UNIVERSITY OF FLORIDA,GA...","DOCTORATE: PH.D.-ECONOMICS,UNIVERSITY OF FLORI...",NaN,NaN,NaN,NaN,NaN,NaN,"ACCOUNTS/AUDIT/TAXATION,CONSUMER DISCRETIONARY...",NaN,NaN,"DR. VAISH, IS AN EMINENT PRACTICING CHARTERED ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,U,1,0,0,5162.0,0,0,5162.0,5527.0,0,0,5527.0,5162.0,5162.0,(),"(('JAIPRAKASH POWER VENTURES LTD.', 'U'), ('OM...","(('JAIPRAKASH POWER VENTURES LTD.', 'U'), ('OM...",(),(),0,0,0,0,0,0,0,0,5,0,0,5,5,0,0,5,N,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,83.0,0.0,14.142466,0,0,0,1,2006,0,0,0,0,1,0,0,0
498,498,FMGOETZE,FEDERAL-MOGUL GOETZE (INDIA) LTD.,2006-03-31,P00008371,DR.(MR.),RAMESH,CHANDRA,VAISH,1941-06-19,M,INDIA,2001-09-22,NONE,"GRADUATE: LL.B.,UNIVERSITY OF FLORIDA,GAINESVILLE",POST GRADUATE: F.C.A.(FELLOW CHARTERED ACCOUNT...,"POST GRADUATE: M.COM.,UNIVERSITY OF FLORIDA,GA...","DOCTORATE: PH.D.-ECONOMICS,UNIVERSITY OF FLORI...",NaN,NaN,NaN,NaN,NaN,NaN,"ACCOUNTS/AUDIT/TAXATION,CONSUMER DISCRETIONARY...",NaN,NaN,DR.VAISH IS AN EMINENT PRACTICING CHARTERED AC...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,U,1,0,0,1651.0,0,0,1651.0,2016.0,0,0,2016.0,1651.0,5162.0,(),"(('JAIPRAKASH POWER VENTURES LTD.', 'U'), ('OM...","(('JAIPRAKASH POWER VENTURES LTD.', 'U'), ('OM...",(),(),0,0,0,0,0,0,0,0,5,0,0,5,5,0,0,5,N,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,83.0,0.0,4.523288,0,1,0,0,2006,0,0,0,0,1,1,0,0
499,499,JPPOWER,JAIPRAKASH POWER VENTURES LTD.,2006-03-31,P00008371,DR.(MR.),RAMESH,CHANDRA,VAISH,1941-06-19,M,INDIA,2002-09-21,NONE,"GRADUATE: LL.B.,UNIVERSITY OF FLORIDA,GAINESVILLE",POST GRADUATE: F.C.A.(FELLOW CHARTERED ACCOUNT...,"POST GRADUATE: M.COM.,UNIVERSITY OF FLORIDA,GA...","DOCTORATE: PH.D.-ECONOMICS,UNIVERSITY OF FLORI...",NaN,NaN,NaN,NaN,NaN,NaN,"ACCOUNTS/AUDIT/TAXATION,CONSUMER DISCRETIONARY...",NaN,NaN,DR. R.C. VAISH HAS OVER 46 YEARS OF EXPERIENC...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,U,1,0,0,1287.0,0,0,1287.0,1652.0,0,0,1652.0,1287.0,5162.0,(),"(('JAIPRAKASH POWER VENTURES LTD.', 'U'), ('OM...","(('JAIPRAKASH POWER VENTURES LTD.', 'U'), ('OM...",(),(),0,0,0,0,0,0,0,0,5,0,0,5,5,0,0,5,N,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,83.0,0.0,3.526027,0,0,0,0,2006,0,0,0,0,1,1,0,0

In [8]:
firmlev_col = ['TotDirCount',	'LnBoardSize',	'FemaleDirCount',	'PercentWomenDir',	
               'Women_dummy',	'AvgAge',	'CountRookie',	'Rookie_dummy',	
               'CountNonRookie',	'CountIndep',	'PercentIndep',	'CountNonIndep',	
               'CountRookieIndep',	'CountRookieNonIndep',	'CountNonRookieIndep',	
               'CountNonRookieNonIndep',	'CountPromoterDir',	'CountBusyDir',	'Busy_dummy',	
               'AsOnYear',	'IsCeoMD',	'HasChairman',	'HasPromoterOnBoard',	
               'IsDualityChairmanMD',	'IsFamilyManaged',	'IsFamilyChairman',	
               'IsFamilyChairmanAndCEO',	'CountFirstTermDir',	'CountTurnOverIndepDir',	
               'HasIndepTurnOver',	'AvgTenureInYearsALL',	'AvgTenureInYearsIndep',	
               'PercentRookieIndep',	'PercentNonRookieIndep',	'PercentRookieNonIndep',	
               'PercentNonRookieNonIndep',	'PercentRookie',	'PercentNonRookie',	'IsRookieBoard',	
               'JustOneRookie',	'TwoOrMoreRookies',	'PercentRetiringTermLimit', 
               'TermLimitRetireesPcodeList',	'PercentBusyDir',	'PercentFirstTermIndep',	
               'FirstYearIndepPCodeList', 'IndepPCodeList', 'FirstYearPCodeList', 'PCodeList']

In [9]:
def FirmLev(frame):
    
    dffirm = pd.DataFrame(index = [0], columns = firmlev_col)
    dffirm.at[0, 'TotDirCount'] = frame['Person Code'].shape[0]
    dffirm.at[0, 'LnBoardSize'] = math.log(dffirm.at[0, 'TotDirCount'])
    dffirm.at[0, 'FemaleDirCount'] = frame.loc[frame['IsFemale'] == 1].shape[0]
    dffirm.at[0, 'PercentWomenDir'] =  dffirm.at[0, 'FemaleDirCount'] / dffirm.at[0, 'TotDirCount'] if dffirm.at[0, 'TotDirCount'] > 0 else 0
    dffirm.at[0, 'Women_dummy'] = np.where( dffirm.at[0, 'FemaleDirCount'] > 0, 1, 0)
    dffirm.at[0, 'AvgAge'] = frame['Age'].mean()
    dffirm.at[0, 'CountRookie'] = frame.loc[frame['IsRookie'] == 1].shape[0]
    dffirm.at[0, 'Rookie_dummy'] = np.where( frame.loc[frame['IsRookieIndep'] == 1].shape[0]>1,1,0)
    dffirm.at[0, 'CountNonRookie'] = frame.loc[frame['IsNonRookie'] == 1].shape[0]
    dffirm.at[0, 'CountIndep'] = frame.loc[frame['IsIndep'] == 1].shape[0]
    dffirm.at[0, 'PercentIndep'] = dffirm.at[0, 'CountIndep'] / dffirm.at[0, 'TotDirCount'] if dffirm.at[0, 'TotDirCount'] > 0 else 0
    dffirm.at[0, 'CountNonIndep'] = frame.loc[frame['IsNonIndep'] == 1].shape[0]
    dffirm.at[0, 'CountRookieIndep'] = frame.loc[frame['IsRookieIndep'] == 1].shape[0]
    dffirm.at[0, 'CountRookieNonIndep'] = frame.loc[frame['IsRookieNonIndep'] == 1].shape[0]
    dffirm.at[0, 'CountNonRookieIndep'] = frame.loc[frame['IsNonRookieIndep'] == 1].shape[0]
    dffirm.at[0, 'CountNonRookieNonIndep'] = frame.loc[frame['IsNonRookieNonIndep'] == 1].shape[0]
    dffirm.at[0, 'CountPromoterDir'] = frame.loc[frame['IsPromoter'] == 1].shape[0]
    dffirm.at[0, 'CountBusyDir'] = frame.loc[frame['IsBusy'] == 1].shape[0]
    dffirm.at[0, 'Busy_dummy'] = np.where( dffirm.at[0, 'CountBusyDir']>0,1,0)

    dffirm.at[0, 'IsCeoMD'] = np.where( frame.loc[frame['IsCeoMD'] == 1].shape[0] >0,1,0)
    dffirm.at[0, 'HasChairman'] = np.where( frame.loc[frame['IsChairman'] == 1].shape[0] >0,1,0)
    dffirm.at[0, 'HasPromoterOnBoard'] = np.where( frame.loc[frame['IsPromoter'] == 1].shape[0] >0,1,0)
    dffirm.at[0, 'IsDualityChairmanMD'] = np.where( frame.loc[frame['IsDualityChairmanMD'] == 1].shape[0] >0,1,0)
    dffirm.at[0, 'IsFamilyManaged'] = np.where( frame.loc[frame['IsFamilyManaged'] == 1].shape[0] >0,1,0)
    dffirm.at[0, 'IsFamilyChairman'] = np.where( frame.loc[frame['IsFamilyChairman'] == 1].shape[0] >0,1,0)
    dffirm.at[0, 'IsFamilyChairmanAndCEO'] = np.where( frame.loc[frame['IsFamilyChairmanAndCEO'] == 1].shape[0] >0,1,0)
    
    dffirm.at[0, 'CountFirstTermDir'] = frame.loc[frame['IsFirstTerm'] == 1].shape[0]
    dffirm.at[0, 'CountTurnOverIndepDir'] = frame.loc[frame['IsTurnOver'] == 1].shape[0]
    dffirm.at[0, 'HasIndepTurnOver'] = np.where( dffirm.at[0, 'CountTurnOverIndepDir']>0, 1,0)
    dffirm.at[0, 'AvgTenureInYearsALL'] = frame['TenureInYearsTotal'].mean()
    dffirm.at[0, 'AvgTenureInYearsIndep'] = frame['TenureInYearsIndep'].mean()

    dffirm.at[0, 'PercentRookieIndep'] = dffirm.at[0, 'CountRookieIndep'] /  dffirm.at[0, 'CountIndep'] if dffirm.at[0, 'CountIndep'] > 0 else 0
    
    dffirm.at[0, 'PercentNonRookieIndep'] = dffirm.at[0, 'CountNonRookieIndep'] / dffirm.at[0, 'TotDirCount'] if dffirm.at[0, 'TotDirCount'] > 0 else 0
    dffirm.at[0, 'PercentRookieNonIndep'] =  dffirm.at[0, 'CountRookieNonIndep'] / dffirm.at[0, 'TotDirCount'] if dffirm.at[0, 'TotDirCount'] > 0 else 0
    dffirm.at[0, 'PercentNonRookieNonIndep'] = dffirm.at[0, 'CountNonRookieNonIndep'] / dffirm.at[0, 'TotDirCount'] if dffirm.at[0, 'TotDirCount'] > 0 else 0
    dffirm.at[0, 'PercentRookie'] = dffirm.at[0, 'CountRookie'] / dffirm.at[0, 'TotDirCount'] if dffirm.at[0, 'TotDirCount'] > 0 else 0
    dffirm.at[0, 'PercentNonRookie'] = dffirm.at[0, 'CountNonRookie'] / dffirm.at[0, 'TotDirCount'] if dffirm.at[0, 'TotDirCount'] > 0 else 0
    
    dffirm.at[0, 'IsRookieBoard'] = np.where((dffirm.at[0, 'CountRookieIndep']/dffirm.at[0, 'CountIndep'])>0.5, 1, 0) if dffirm.at[0, 'CountIndep'] > 0 else 0
    
    dffirm.at[0, 'JustOneRookie'] = np.where( dffirm.at[0, 'CountRookieIndep'] == 1,1,0)
    dffirm.at[0, 'TwoOrMoreRookies'] = np.where( dffirm.at[0, 'CountRookieIndep'] > 1,1,0)
    
    dffirm.at[0, 'CountRetiringTermLimit'] = frame.loc[ (frame['IsIndep'] == 1) & ((frame['HasTermLimitRetirement'] == 1) | (frame['HasRetires5y'] == 1))].shape[0]
    dffirm.at[0, 'PercentRetiringTermLimit'] = dffirm.at[0, 'CountRetiringTermLimit'] / dffirm.at[0, 'CountIndep'] if dffirm.at[0, 'CountIndep'] > 0 else 0
    dffirm.at[0, 'TermLimitRetireesPcodeList'] = list (frame.loc[(frame['IsIndep'] == 1) & ((frame['HasTermLimitRetirement'] == 1) | (frame['HasRetires5y'] == 1))]['Person Code'])
    
    dffirm.at[0, 'PercentBusyDir'] = dffirm.at[0, 'CountBusyDir'] /  dffirm.at[0, 'CountIndep'] if dffirm.at[0, 'CountIndep'] > 0 else 0

    dffirm.at[0, 'CountFirstTermIndep'] = frame.loc[ frame['IsFirstTermIndep'] == 1].shape[0]
    dffirm.at[0, 'PercentFirstTermIndep'] = dffirm.at[0, 'CountFirstTermIndep'] /  dffirm.at[0, 'CountIndep'] if dffirm.at[0, 'CountIndep'] > 0 else 0
    # ---------------------------------------------------
    dffirm.at[0, 'CountDirTurnOver_exits_retire'] = frame.loc[ (frame['IsTurnOver'] == 1)].shape[0]
    dffirm.at[0, 'PercentDirTurnOver_exits_retire'] = dffirm.at[0, 'CountDirTurnOver_exits_retire']/  dffirm.at[0, 'TotDirCount'] if dffirm.at[0, 'TotDirCount'] > 0 else 0

    dffirm.at[0, 'CountDirTurnOver_real_exits'] = frame.loc[ (frame['IsTurnOver'] == 1) & ((frame['HasTermLimitRetirement'] == 0) & (frame['HasRetires5y'] == 0)) ].shape[0]
    dffirm.at[0, 'PercentDirTurnOver_real_exits'] = dffirm.at[0, 'CountDirTurnOver_real_exits']/  dffirm.at[0, 'TotDirCount'] if dffirm.at[0, 'TotDirCount'] > 0 else 0
    # ---------------------------------------------------
    dffirm.at[0, 'CountIndepDirTurnOver_exits_retire'] = frame.loc[ (frame['IsTurnOver'] == 1) & (frame['IsIndep'] == 1) ].shape[0]
    dffirm.at[0, 'PercentIndepDirTurnOver_exits_retire'] = dffirm.at[0, 'CountIndepDirTurnOver_exits_retire']/  dffirm.at[0, 'CountIndep'] if dffirm.at[0, 'CountIndep'] > 0 else 0

    dffirm.at[0, 'CountIndepDirTurnOver_real_exits'] = frame.loc[ (frame['IsTurnOver'] == 1) & (frame['IsIndep'] == 1) & ((frame['HasTermLimitRetirement'] == 0) & (frame['HasRetires5y'] == 0)) ].shape[0]
    dffirm.at[0, 'PercentIndepDirTurnOver_real_exits'] = dffirm.at[0, 'CountIndepDirTurnOver_real_exits']/  dffirm.at[0, 'CountIndep'] if dffirm.at[0, 'CountIndep'] > 0 else 0
    # ---------------------------------------------------
    dffirm.at[0, 'FirstYearIndepPCodeList'] = list (frame.loc[(frame['IsFirstYearIndep'] == 1)]['Person Code'])
    dffirm.at[0, 'IndepPCodeList'] = list (frame.loc[(frame['IsIndep'] == 1)]['Person Code'])

    dffirm.at[0, 'FirstYearPCodeList'] = list (frame.loc[(frame['IsFirstYear'] == 1)]['Person Code'])
    dffirm.at[0, 'PCodeList'] = list (frame.loc[:, 'Person Code'])
    
    
    return dffirm

#you have to calc turnover%, by taking turnover data (with and without termlimit and 5 years exits) from previous year
#simple way to do this, is to first, count the trunover and shift it down by one row and then divide by year+1 directors
#actuialy, thats all, easy shit
# i think u gotta do the same for termlimitretireesPcodeList

In [10]:
df50 = df31.groupby(['Symbol', 'AsOnDate']).progress_apply(FirmLev)

100%|| 28899/28899 [12:02<00:00, 40.02it/s]

In [11]:
df50

                       TotDirCount LnBoardSize FemaleDirCount PercentWomenDir  \
Symbol    AsOnDate
20MICRONS 2009-03-31 0          12    2.484907              0             0.0
          2010-03-31 0          13    2.564949              0             0.0
          2011-03-31 0          13    2.564949              0             0.0
          2012-03-31 0          14    2.639057              0             0.0
          2013-03-31 0          14    2.639057              0             0.0
...                            ...         ...            ...             ...
ZYLOG     2014-03-31 0          13    2.564949              0             0.0
          2015-03-31 0          15     2.70805              0             0.0
          2016-03-31 0          20    2.995732              0             0.0
          2017-03-31 0          22    3.091042              1        0.045455
          2018-03-31 0          22    3.091042              1        0.045455

                       Women_dummy     AvgAge CountRookie Rookie_dummy  \
Symbol    AsOnDate
20MICRONS 2009-03-31 0           0  69.166667           4            0
          2010-03-31 0           0  69.461538           4            0
          2011-03-31 0           0  69.461538           2            0
          2012-03-31 0           0  69.461538           2            0
          2013-03-31 0           0  69.461538           1            0
...                            ...        ...         ...          ...
ZYLOG     2014-03-31 0           0  67.166667           2            0
          2015-03-31 0           0  67.166667           4            1
          2016-03-31 0           0     65.125           8            1
          2017-03-31 0           1     65.125           8            1
          2018-03-31 0           1     65.125           6            1

                       CountNonRookie CountIndep PercentIndep CountNonIndep  \
Symbol    AsOnDate
20MICRONS 2009-03-31 0              8          0          0.0            12
          2010-03-31 0              9          0          0.0            13
          2011-03-31 0             11          0          0.0            13
          2012-03-31 0             12          0          0.0            14
          2013-03-31 0             13          5     0.357143             9
...                               ...        ...          ...           ...
ZYLOG     2014-03-31 0             11          7     0.538462             6
          2015-03-31 0             11          8     0.533333             7
          2016-03-31 0             12         13         0.65             7
          2017-03-31 0             14         15     0.681818             7
          2018-03-31 0             16         15     0.681818             7

                       CountRookieIndep CountRookieNonIndep  \
Symbol    AsOnDate
20MICRONS 2009-03-31 0                0                   4
          2010-03-31 0                0                   4
          2011-03-31 0                0                   2
          2012-03-31 0                0                   2
          2013-03-31 0                0                   1
...                                 ...                 ...
ZYLOG     2014-03-31 0                1                   1
          2015-03-31 0                2                   2
          2016-03-31 0                5                   3
          2017-03-31 0                6                   2
          2018-03-31 0                5                   1

                       CountNonRookieIndep CountNonRookieNonIndep  \
Symbol    AsOnDate
20MICRONS 2009-03-31 0                   0                      8
          2010-03-31 0                   0                      9
          2011-03-31 0                   0                     11
          2012-03-31 0                   0                     12
          2013-03-31 0                   5                      8
...                                    ...                    ...
ZYLOG     2014-03-31 0                   6                      5
          2015-03-31 0                   6                      5
          2016-03-31 0                   8                      4
          2017-03-31 0                   9                      5
          2018-03-31 0                  10                      6

                       CountPromoterDir CountBusyDir Busy_dummy AsOnYear  \
Symbol    AsOnDate
20MICRONS 2009-03-31 0                0            1          1      NaN
          2010-03-31 0                0            1          1      NaN
          2011-03-31 0                0            1          1      NaN
          2012-03-31 0                0            1          1      NaN
          2013-03-31 0                4            1          1      NaN
...                                 ...          ...        ...      ...
ZYLOG     2014-03-31 0                1            3          1      NaN
          2015-03-31 0                1            3          1      NaN
          2016-03-31 0                1            3          1      NaN
          2017-03-31 0                1            3          1      NaN
          2018-03-31 0                1            3          1      NaN

                       IsCeoMD HasChairman HasPromoterOnBoard  \
Symbol    AsOnDate
20MICRONS 2009-03-31 0       0           0                  0
          2010-03-31 0       0           0                  0
          2011-03-31 0       0           0                  0
          2012-03-31 0       0           0                  0
          2013-03-31 0       1           1                  1
...                        ...         ...                ...
ZYLOG     2014-03-31 0       1           1                  1
          2015-03-31 0       1           1                  1
          2016-03-31 0       1           1                  1
          2017-03-31 0       1           1                  1
          2018-03-31 0       1           1                  1

                       IsDualityChairmanMD IsFamilyManaged IsFamilyChairman  \
Symbol    AsOnDate
20MICRONS 2009-03-31 0                   0               0                0
          2010-03-31 0                   0               0                0
          2011-03-31 0                   0               0                0
          2012-03-31 0                   0               0                0
          2013-03-31 0                   1               1                1
...                                    ...             ...              ...
ZYLOG     2014-03-31 0                   1               1                0
          2015-03-31 0                   0               1                0
          2016-03-31 0                   0               1                0
          2017-03-31 0                   0               1                0
          2018-03-31 0                   0               1                0

                       IsFamilyChairmanAndCEO CountFirstTermDir  \
Symbol    AsOnDate
20MICRONS 2009-03-31 0                      0                 6
          2010-03-31 0                      0                 7
          2011-03-31 0                      0                 6
          2012-03-31 0                      0                 6
          2013-03-31 0                      1                 3
...                                       ...               ...
ZYLOG     2014-03-31 0                      0                 5
          2015-03-31 0                      0                 6
          2016-03-31 0                      0                10
          2017-03-31 0                      0                12
          2018-03-31 0                      0                11

                       CountTurnOverIndepDir HasIndepTurnOver  \
Symbol    AsOnDate
20MICRONS 2009-03-31 0                     0                0
          2010-03-31 0                     0                0
          2011-03-31 0                     0                0
          2012-03-31 0                     0                0
          2013-03-31 0                     0                0
...                                      ...              ...
ZYLOG     2014-03-31 0                     0                0
          2015-03-31 0                     0                0
          2016-03-31 0                     0                0
          2017-03-31 0                     0                0
          2018-03-31 0                    22                1

                       AvgTenureInYearsALL AvgTenureInYearsIndep  \
Symbol    AsOnDate
20MICRONS 2009-03-31 0            6.419178                   0.0
          2010-03-31 0            6.893994                   0.0
          2011-03-31 0            7.893994                   0.0
          2012-03-31 0            8.324658                   0.0
          2013-03-31 0            9.324658                   0.0
...                                    ...                   ...
ZYLOG     2014-03-31 0            7.496944              0.538462
          2015-03-31 0            7.412237              0.933333
          2016-03-31 0            6.410274                   1.1
          2017-03-31 0            6.758655              1.590909
          2018-03-31 0            7.758655              2.272727

                       PercentRookieIndep PercentNonRookieIndep  \
Symbol    AsOnDate
20MICRONS 2009-03-31 0                  0                   0.0
          2010-03-31 0                  0                   0.0
          2011-03-31 0                  0                   0.0
          2012-03-31 0                  0                   0.0
          2013-03-31 0                0.0              0.357143
...                                   ...                   ...
ZYLOG     2014-03-31 0           0.142857              0.461538
          2015-03-31 0               0.25                   0.4
          2016-03-31 0           0.384615                   0.4
          2017-03-31 0                0.4              0.409091
          2018-03-31 0           0.333333              0.454545

                       PercentRookieNonIndep PercentNonRookieNonIndep  \
Symbol    AsOnDate
20MICRONS 2009-03-31 0              0.333333                 0.666667
          2010-03-31 0              0.307692                 0.692308
          2011-03-31 0              0.153846                 0.846154
          2012-03-31 0              0.142857                 0.857143
          2013-03-31 0              0.071429                 0.571429
...                                      ...                      ...
ZYLOG     2014-03-31 0              0.076923                 0.384615
          2015-03-31 0              0.133333                 0.333333
          2016-03-31 0                  0.15                      0.2
          2017-03-31 0              0.090909                 0.227273
          2018-03-31 0              0.045455                 0.272727

                       PercentRookie PercentNonRookie IsRookieBoard  \
Symbol    AsOnDate
20MICRONS 2009-03-31 0      0.333333         0.666667             0
          2010-03-31 0      0.307692         0.692308             0
          2011-03-31 0      0.153846         0.846154             0
          2012-03-31 0      0.142857         0.857143             0
          2013-03-31 0      0.071429         0.928571             0
...                              ...              ...           ...
ZYLOG     2014-03-31 0      0.153846         0.846154             0
          2015-03-31 0      0.266667         0.733333             0
          2016-03-31 0           0.4              0.6             0
          2017-03-31 0      0.363636         0.636364             0
          2018-03-31 0      0.272727         0.727273             0

                       JustOneRookie TwoOrMoreRookies  \
Symbol    AsOnDate
20MICRONS 2009-03-31 0             0                0
          2010-03-31 0             0                0
          2011-03-31 0             0                0
          2012-03-31 0             0                0
          2013-03-31 0             0                0
...                              ...              ...
ZYLOG     2014-03-31 0             1                0
          2015-03-31 0             0                1
          2016-03-31 0             0                1
          2017-03-31 0             0                1
          2018-03-31 0             0                1

                       PercentRetiringTermLimit TermLimitRetireesPcodeList  \
Symbol    AsOnDate
20MICRONS 2009-03-31 0                        0                         []
          2010-03-31 0                        0                         []
          2011-03-31 0                        0                         []
          2012-03-31 0                        0                         []
          2013-03-31 0                      0.0                         []
...                                         ...                        ...
ZYLOG     2014-03-31 0                      0.0                         []
          2015-03-31 0                      0.0                         []
          2016-03-31 0                      0.0                         []
          2017-03-31 0                      0.0                         []
          2018-03-31 0                 0.066667                [P00062851]

                       PercentBusyDir PercentFirstTermIndep  \
Symbol    AsOnDate
20MICRONS 2009-03-31 0              0                     0
          2010-03-31 0              0                     0
          2011-03-31 0              0                     0
          2012-03-31 0              0                     0
          2013-03-31 0            0.2                   0.2
...                               ...                   ...
ZYLOG     2014-03-31 0       0.428571              0.428571
          2015-03-31 0          0.375                   0.5
          2016-03-31 0       0.230769              0.538462
          2017-03-31 0            0.2                   0.6
          2018-03-31 0            0.2              0.533333

                                             FirstYearIndepPCodeList  \
Symbol    AsOnDate
20MICRONS 2009-03-31 0                                            []
          2010-03-31 0                                            []
          2011-03-31 0                                            []
          2012-03-31 0                                            []
          2013-03-31 0                                            []
...                                                              ...
ZYLOG     2014-03-31 0                                   [P00062851]
          2015-03-31 0                                   [P00067111]
          2016-03-31 0  [P00036956, P00075400, P00075399, P00075398]
          2017-03-31 0                        [P00081419, P00080494]
          2018-03-31 0                                            []

                                                           IndepPCodeList  \
Symbol    AsOnDate
20MICRONS 2009-03-31 0                                                 []
          2010-03-31 0                                                 []
          2011-03-31 0                                                 []
          2012-03-31 0                                                 []
          2013-03-31 0  [P00027633, P00031581, P00027665, P00027663, P...
...                                                                   ...
ZYLOG     2014-03-31 0  [P00007571, P00013013, P00001781, P00027509, P...
          2015-03-31 0  [P00007571, P00013013, P00001781, P00027509, P...
          2016-03-31 0  [P00007571, P00013013, P00001781, P00036956, P...
          2017-03-31 0  [P00007571, P00013013, P00001781, P00036956, P...
          2018-03-31 0  [P00007571, P00013013, P00001781, P00036956, P...

                                                       FirstYearPCodeList  \
Symbol    AsOnDate
20MICRONS 2009-03-31 0                                        [P00032270]
          2010-03-31 0                                        [P00031581]
          2011-03-31 0                                                 []
          2012-03-31 0                                        [P00042601]
          2013-03-31 0                                                 []
...                                                                   ...
ZYLOG     2014-03-31 0                             [P00048642, P00062851]
          2015-03-31 0                             [P00067112, P00067111]
          2016-03-31 0  [P00036956, P00073179, P00075400, P00075399, P...
          2017-03-31 0                             [P00081419, P00080494]
          2018-03-31 0                                                 []

                                                                PCodeList  \
Symbol    AsOnDate
20MICRONS 2009-03-31 0  [P00027662, P00027633, P00027664, P00029006, P...
          2010-03-31 0  [P00027662, P00027633, P00027664, P00029006, P...
          2011-03-31 0  [P00027662, P00027633, P00027664, P00029006, P...
          2012-03-31 0  [P00027662, P00027633, P00027664, P00042601, P...
          2013-03-31 0  [P00027662, P00027633, P00027664, P00042601, P...
...                                                                   ...
ZYLOG     2014-03-31 0  [P00007571, P00013013, P00001781, P00005480, P...
          2015-03-31 0  [P00007571, P00013013, P00001781, P00005480, P...
          2016-03-31 0  [P00007571, P00013013, P00001781, P00005480, P...
          2017-03-31 0  [P00007571, P00013013, P00001781, P00005480, P...
          2018-03-31 0  [P00007571, P00013013, P00001781, P00005480, P...

                        CountRetiringTermLimit  CountFirstTermIndep  \
Symbol    AsOnDate
20MICRONS 2009-03-31 0                     0.0                  0.0
          2010-03-31 0                     0.0                  0.0
          2011-03-31 0                     0.0                  0.0
          2012-03-31 0                     0.0                  0.0
          2013-03-31 0                     0.0                  1.0
...                                        ...                  ...
ZYLOG     2014-03-31 0                     0.0                  3.0
          2015-03-31 0                     0.0                  4.0
          2016-03-31 0                     0.0                  7.0
          2017-03-31 0                     0.0                  9.0
          2018-03-31 0                     1.0                  8.0

                        CountDirTurnOver_exits_retire  \
Symbol    AsOnDate
20MICRONS 2009-03-31 0                            0.0
          2010-03-31 0                            0.0
          2011-03-31 0                            0.0
          2012-03-31 0                            0.0
          2013-03-31 0                            0.0
...                                               ...
ZYLOG     2014-03-31 0                            0.0
          2015-03-31 0                            0.0
          2016-03-31 0                            0.0
          2017-03-31 0                            0.0
          2018-03-31 0                           22.0

                        PercentDirTurnOver_exits_retire  \
Symbol    AsOnDate
20MICRONS 2009-03-31 0                              0.0
          2010-03-31 0                              0.0
          2011-03-31 0                              0.0
          2012-03-31 0                              0.0
          2013-03-31 0                              0.0
...                                                 ...
ZYLOG     2014-03-31 0                              0.0
          2015-03-31 0                              0.0
          2016-03-31 0                              0.0
          2017-03-31 0                              0.0
          2018-03-31 0                              1.0

                        CountDirTurnOver_real_exits  \
Symbol    AsOnDate

In [12]:
df51 = df50.reset_index(drop = False).sort_values( by = ['Symbol', 'AsOnDate'])

In [13]:
df51["AsOnDate"] = pd.to_datetime(df51["AsOnDate"], format = "%Y-%m-%d")
df51["AsOnYear"] = df51["AsOnDate"].dt.year

In [14]:
def TurnOverShift(frame):
    frame['CountDirTurnOver_exits_retire_shifted'] = frame['CountDirTurnOver_exits_retire'].shift(1, axis=0) 
    frame['PercentIndepDirTurnOver_exits_retire_shifted'] = frame['PercentIndepDirTurnOver_exits_retire'].shift(1, axis=0) 

    frame['CountDirTurnOver_real_exits_shifted'] = frame['CountDirTurnOver_real_exits'].shift(1, axis=0) 
    frame['PercentDirTurnOver_real_exits_shifted'] = frame['PercentDirTurnOver_real_exits'].shift(1, axis=0)
# ---------------------------------------------------------------------------------------
    frame['CountIndepDirTurnOver_exits_retire_shifted'] = frame['CountIndepDirTurnOver_exits_retire'].shift(1, axis=0) 
    frame['PercentIndepDirTurnOver_exits_retire_shifted'] = frame['PercentIndepDirTurnOver_exits_retire'].shift(1, axis=0) 

    frame['CountIndepDirTurnOver_real_exits_shifted'] = frame['CountIndepDirTurnOver_real_exits'].shift(1, axis=0) 
    frame['PercentIndepDirTurnOver_real_exits_shifted'] = frame['PercentIndepDirTurnOver_real_exits'].shift(1, axis=0)
    return frame

In [15]:
df52 = df51.groupby(['Symbol']).progress_apply(TurnOverShift)

100%|| 2777/2777 [00:07<00:00, 377.16it/s]

In [16]:
df52

                    Symbol   AsOnDate  level_2 TotDirCount LnBoardSize  \
Symbol
20MICRONS 0      20MICRONS 2009-03-31        0          12    2.484907
          1      20MICRONS 2010-03-31        0          13    2.564949
          2      20MICRONS 2011-03-31        0          13    2.564949
          3      20MICRONS 2012-03-31        0          14    2.639057
          4      20MICRONS 2013-03-31        0          14    2.639057
...                    ...        ...      ...         ...         ...
ZYLOG     28894      ZYLOG 2014-03-31        0          13    2.564949
          28895      ZYLOG 2015-03-31        0          15     2.70805
          28896      ZYLOG 2016-03-31        0          20    2.995732
          28897      ZYLOG 2017-03-31        0          22    3.091042
          28898      ZYLOG 2018-03-31        0          22    3.091042

                FemaleDirCount PercentWomenDir Women_dummy     AvgAge  \
Symbol
20MICRONS 0                  0             0.0           0  69.166667
          1                  0             0.0           0  69.461538
          2                  0             0.0           0  69.461538
          3                  0             0.0           0  69.461538
          4                  0             0.0           0  69.461538
...                        ...             ...         ...        ...
ZYLOG     28894              0             0.0           0  67.166667
          28895              0             0.0           0  67.166667
          28896              0             0.0           0     65.125
          28897              1        0.045455           1     65.125
          28898              1        0.045455           1     65.125

                CountRookie Rookie_dummy CountNonRookie CountIndep  \
Symbol
20MICRONS 0               4            0              8          0
          1               4            0              9          0
          2               2            0             11          0
          3               2            0             12          0
          4               1            0             13          5
...                     ...          ...            ...        ...
ZYLOG     28894           2            0             11          7
          28895           4            1             11          8
          28896           8            1             12         13
          28897           8            1             14         15
          28898           6            1             16         15

                PercentIndep CountNonIndep CountRookieIndep  \
Symbol
20MICRONS 0              0.0            12                0
          1              0.0            13                0
          2              0.0            13                0
          3              0.0            14                0
          4         0.357143             9                0
...                      ...           ...              ...
ZYLOG     28894     0.538462             6                1
          28895     0.533333             7                2
          28896         0.65             7                5
          28897     0.681818             7                6
          28898     0.681818             7                5

                CountRookieNonIndep CountNonRookieIndep  \
Symbol
20MICRONS 0                       4                   0
          1                       4                   0
          2                       2                   0
          3                       2                   0
          4                       1                   5
...                             ...                 ...
ZYLOG     28894                   1                   6
          28895                   2                   6
          28896                   3                   8
          28897                   2                   9
          28898                   1                  10

                CountNonRookieNonIndep CountPromoterDir CountBusyDir  \
Symbol
20MICRONS 0                          8                0            1
          1                          9                0            1
          2                         11                0            1
          3                         12                0            1
          4                          8                4            1
...                                ...              ...          ...
ZYLOG     28894                      5                1            3
          28895                      5                1            3
          28896                      4                1            3
          28897                      5                1            3
          28898                      6                1            3

                Busy_dummy  AsOnYear IsCeoMD HasChairman HasPromoterOnBoard  \
Symbol
20MICRONS 0              1      2009       0           0                  0
          1              1      2010       0           0                  0
          2              1      2011       0           0                  0
          3              1      2012       0           0                  0
          4              1      2013       1           1                  1
...                    ...       ...     ...         ...                ...
ZYLOG     28894          1      2014       1           1                  1
          28895          1      2015       1           1                  1
          28896          1      2016       1           1                  1
          28897          1      2017       1           1                  1
          28898          1      2018       1           1                  1

                IsDualityChairmanMD IsFamilyManaged IsFamilyChairman  \
Symbol
20MICRONS 0                       0               0                0
          1                       0               0                0
          2                       0               0                0
          3                       0               0                0
          4                       1               1                1
...                             ...             ...              ...
ZYLOG     28894                   1               1                0
          28895                   0               1                0
          28896                   0               1                0
          28897                   0               1                0
          28898                   0               1                0

                IsFamilyChairmanAndCEO CountFirstTermDir  \
Symbol
20MICRONS 0                          0                 6
          1                          0                 7
          2                          0                 6
          3                          0                 6
          4                          1                 3
...                                ...               ...
ZYLOG     28894                      0                 5
          28895                      0                 6
          28896                      0                10
          28897                      0                12
          28898                      0                11

                CountTurnOverIndepDir HasIndepTurnOver AvgTenureInYearsALL  \
Symbol
20MICRONS 0                         0                0            6.419178
          1                         0                0            6.893994
          2                         0                0            7.893994
          3                         0                0            8.324658
          4                         0                0            9.324658
...                               ...              ...                 ...
ZYLOG     28894                     0                0            7.496944
          28895                     0                0            7.412237
          28896                     0                0            6.410274
          28897                     0                0            6.758655
          28898                    22                1            7.758655

                AvgTenureInYearsIndep PercentRookieIndep  \
Symbol
20MICRONS 0                       0.0                  0
          1                       0.0                  0
          2                       0.0                  0
          3                       0.0                  0
          4                       0.0                0.0
...                               ...                ...
ZYLOG     28894              0.538462           0.142857
          28895              0.933333               0.25
          28896                   1.1           0.384615
          28897              1.590909                0.4
          28898              2.272727           0.333333

                PercentNonRookieIndep PercentRookieNonIndep  \
Symbol
20MICRONS 0                       0.0              0.333333
          1                       0.0              0.307692
          2                       0.0              0.153846
          3                       0.0              0.142857
          4                  0.357143              0.071429
...                               ...                   ...
ZYLOG     28894              0.461538              0.076923
          28895                   0.4              0.133333
          28896                   0.4                  0.15
          28897              0.409091              0.090909
          28898              0.454545              0.045455

                PercentNonRookieNonIndep PercentRookie PercentNonRookie  \
Symbol
20MICRONS 0                     0.666667      0.333333         0.666667
          1                     0.692308      0.307692         0.692308
          2                     0.846154      0.153846         0.846154
          3                     0.857143      0.142857         0.857143
          4                     0.571429      0.071429         0.928571
...                                  ...           ...              ...
ZYLOG     28894                 0.384615      0.153846         0.846154
          28895                 0.333333      0.266667         0.733333
          28896                      0.2           0.4              0.6
          28897                 0.227273      0.363636         0.636364
          28898                 0.272727      0.272727         0.727273

                IsRookieBoard JustOneRookie TwoOrMoreRookies  \
Symbol
20MICRONS 0                 0             0                0
          1                 0             0                0
          2                 0             0                0
          3                 0             0                0
          4                 0             0                0
...                       ...           ...              ...
ZYLOG     28894             0             1                0
          28895             0             0                1
          28896             0             0                1
          28897             0             0                1
          28898             0             0                1

                PercentRetiringTermLimit TermLimitRetireesPcodeList  \
Symbol
20MICRONS 0                            0                         []
          1                            0                         []
          2                            0                         []
          3                            0                         []
          4                          0.0                         []
...                                  ...                        ...
ZYLOG     28894                      0.0                         []
          28895                      0.0                         []
          28896                      0.0                         []
          28897                      0.0                         []
          28898                 0.066667                [P00062851]

                PercentBusyDir PercentFirstTermIndep  \
Symbol
20MICRONS 0                  0                     0
          1                  0                     0
          2                  0                     0
          3                  0                     0
          4                0.2                   0.2
...                        ...                   ...
ZYLOG     28894       0.428571              0.428571
          28895          0.375                   0.5
          28896       0.230769              0.538462
          28897            0.2                   0.6
          28898            0.2              0.533333

                                      FirstYearIndepPCodeList  \
Symbol
20MICRONS 0                                                []
          1                                                []
          2                                                []
          3                                                []
          4                                                []
...                                                       ...
ZYLOG     28894                                   [P00062851]
          28895                                   [P00067111]
          28896  [P00036956, P00075400, P00075399, P00075398]
          28897                        [P00081419, P00080494]
          28898                                            []

                                                    IndepPCodeList  \
Symbol
20MICRONS 0                                                     []
          1                                                     []
          2                                                     []
          3                                                     []
          4      [P00027633, P00031581, P00027665, P00027663, P...
...                                                            ...
ZYLOG     28894  [P00007571, P00013013, P00001781, P00027509, P...
          28895  [P00007571, P00013013, P00001781, P00027509, P...
          28896  [P00007571, P00013013, P00001781, P00036956, P...
          28897  [P00007571, P00013013, P00001781, P00036956, P...
          28898  [P00007571, P00013013, P00001781, P00036956, P...

                                                FirstYearPCodeList  \
Symbol
20MICRONS 0                                            [P00032270]
          1                                            [P00031581]
          2                                                     []
          3                                            [P00042601]
          4                                                     []
...                                                            ...
ZYLOG     28894                             [P00048642, P00062851]
          28895                             [P00067112, P00067111]
          28896  [P00036956, P00073179, P00075400, P00075399, P...
          28897                             [P00081419, P00080494]
          28898                                                 []

                                                         PCodeList  \
Symbol
20MICRONS 0      [P00027662, P00027633, P00027664, P00029006, P...
          1      [P00027662, P00027633, P00027664, P00029006, P...
          2      [P00027662, P00027633, P00027664, P00029006, P...
          3      [P00027662, P00027633, P00027664, P00042601, P...
          4      [P00027662, P00027633, P00027664, P00042601, P...
...                                                            ...
ZYLOG     28894  [P00007571, P00013013, P00001781, P00005480, P...
          28895  [P00007571, P00013013, P00001781, P00005480, P...
          28896  [P00007571, P00013013, P00001781, P00005480, P...
          28897  [P00007571, P00013013, P00001781, P00005480, P...
          28898  [P00007571, P00013013, P00001781, P00005480, P...

                 CountRetiringTermLimit  CountFirstTermIndep  \
Symbol
20MICRONS 0                         0.0                  0.0
          1                         0.0                  0.0
          2                         0.0                  0.0
          3                         0.0                  0.0
          4                         0.0                  1.0
...                                 ...                  ...
ZYLOG     28894                     0.0                  3.0
          28895                     0.0                  4.0
          28896                     0.0                  7.0
          28897                     0.0                  9.0
          28898                     1.0                  8.0

                 CountDirTurnOver_exits_retire  \
Symbol
20MICRONS 0                                0.0
          1                                0.0
          2                                0.0
          3                                0.0
          4                                0.0
...                                        ...
ZYLOG     28894                            0.0
          28895                            0.0
          28896                            0.0
          28897                            0.0
          28898                           22.0

                 PercentDirTurnOver_exits_retire  CountDirTurnOver_real_exits  \
Symbol
20MICRONS 0                                  0.0                          0.0
          1                                  0.0                          0.0
          2                                  0.0                          0.0
          3                                  0.0                          0.0
          4                                  0.0                          0.0
...                                          ...                          ...
ZYLOG     28894                              0.0                          0.0
          28895                              0.0                          0.0
          28896                              0.0                          0.0
          28897                              0.0                          0.0
          28898                              1.0                         20.0

                 PercentDirTurnOver_real_exits  \
Symbol
20MICRONS 0                           0.000000
          1                           0.000000
          2                           0.000000
          3                           0.000000
          4                           0.000000
...                                        ...
ZYLOG     28894                       0.000000
          28895                       0.000000
          28896                       0.000000
          28897                       0.000000
          28898                       0.909091

                 CountIndepDirTurnOver_exits_retire  \
Symbol
20MICRONS 0                                     0.0
          1                                     0.0
          2                                     0.0
          3                                     0.0
          4                                     0.0
...                                             ...
ZYLOG     28894                                 0.0
          28895                                 0.0
          28896                                 0.0
          28897                                 0.0
          28898                                15.0

                 PercentIndepDirTurnOver_exits_retire  \
Symbol
20MICRONS 0                                       0.0
          1                                       0.0
          2                                       0.0
          3                                       0.0
          4                                       0.0
...                                               ...
ZYLOG     28894                                   0.0
          28895                                   0.0
          28896                                   0.0
          28897                                   0.0

In [17]:
    #frame['CountIndepDirTurnOver_w_exits_shifted'] = np.where( frame['CountIndepDirTurnOver_w_exits_shifted'].isna(), 0, frame['CountIndepDirTurnOver_w_exits_shifted'])
    #frame['PercentIndepDirTurnOver_w_exits_shifted'] = np.where( frame['PercentIndepDirTurnOver_w_exits_shifted'].isna(), 0, frame['PercentIndepDirTurnOver_w_exits_shifted'])

    #frame['CountIndepDirTurnOver_wo_exits_shifted'] = np.where( frame['CountIndepDirTurnOver_wo_exits_shifted'].isna(), 0, frame['CountIndepDirTurnOver_wo_exits_shifted'])
    #frame['PercentIndepDirTurnOver_wo_exits_shifted'] = np.where( frame['PercentIndepDirTurnOver_wo_exits_shifted'].isna(), 0, frame['PercentIndepDirTurnOver_wo_exits_shifted'])

In [18]:
df53 = df52["Symbol"].drop_duplicates().reset_index(drop = True).to_frame().reset_index().rename( {"index":"Company Index"}, axis = 1)
df53

      Company Index      Symbol
0                 0   20MICRONS
1                 1  21STCENMGM
2                 2      360ONE
3                 3   3IINFOLTD
4                 4     3MINDIA
...             ...         ...
2772           2772       ZUARI
2773           2773    ZUARIIND
2774           2774   ZYDUSLIFE
2775           2775   ZYDUSWELL
2776           2776       ZYLOG

[2777 rows x 2 columns]

In [19]:
df54 = df53.merge(df52.reset_index(drop = True).drop(["level_2"], axis = 1), on = ["Symbol"])

In [20]:
df54

,Company Index,Symbol,AsOnDate,TotDirCount,LnBoardSize,FemaleDirCount,PercentWomenDir,Women_dummy,AvgAge,CountRookie,Rookie_dummy,CountNonRookie,CountIndep,PercentIndep,CountNonIndep,CountRookieIndep,CountRookieNonIndep,CountNonRookieIndep,CountNonRookieNonIndep,CountPromoterDir,CountBusyDir,Busy_dummy,AsOnYear,IsCeoMD,HasChairman,HasPromoterOnBoard,IsDualityChairmanMD,IsFamilyManaged,IsFamilyChairman,IsFamilyChairmanAndCEO,CountFirstTermDir,CountTurnOverIndepDir,HasIndepTurnOver,AvgTenureInYearsALL,AvgTenureInYearsIndep,PercentRookieIndep,PercentNonRookieIndep,PercentRookieNonIndep,PercentNonRookieNonIndep,PercentRookie,PercentNonRookie,IsRookieBoard,JustOneRookie,TwoOrMoreRookies,PercentRetiringTermLimit,TermLimitRetireesPcodeList,PercentBusyDir,PercentFirstTermIndep,FirstYearIndepPCodeList,IndepPCodeList,FirstYearPCodeList,PCodeList,CountRetiringTermLimit,CountFirstTermIndep,CountDirTurnOver_exits_retire,PercentDirTurnOver_exits_retire,CountDirTurnOver_real_exits,PercentDirTurnOver_real_exits,CountIndepDirTurnOver_exits_retire,PercentIndepDirTurnOver_exits_retire,CountIndepDirTurnOver_real_exits,PercentIndepDirTurnOver_real_exits,CountDirTurnOver_exits_retire_shifted,PercentIndepDirTurnOver_exits_retire_shifted,CountDirTurnOver_real_exits_shifted,PercentDirTurnOver_real_exits_shifted,CountIndepDirTurnOver_exits_retire_shifted,CountIndepDirTurnOver_real_exits_shifted,PercentIndepDirTurnOver_real_exits_shifted
0,0,20MICRONS,2009-03-31,12,2.484907,0,0.0,0,69.166667,4,0,8,0,0.0,12,0,4,0,8,0,1,1,2009,0,0,0,0,0,0,0,6,0,0,6.419178,0.0,0,0.0,0.333333,0.666667,0.333333,0.666667,0,0,0,0,[],0,0,[],[],[P00032270],"[P00027662, P00027633, P00027664, P00029006, P...",0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0,20MICRONS,2010-03-31,13,2.564949,0,0.0,0,69.461538,4,0,9,0,0.0,13,0,4,0,9,0,1,1,2010,0,0,0,0,0,0,0,7,0,0,6.893994,0.0,0,0.0,0.307692,0.692308,0.307692,0.692308,0,0,0,0,[],0,0,[],[],[P00031581],"[P00027662, P00027633, P00027664, P00029006, P...",0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0,20MICRONS,2011-03-31,13,2.564949,0,0.0,0,69.461538,2,0,11,0,0.0,13,0,2,0,11,0,1,1,2011,0,0,0,0,0,0,0,6,0,0,7.893994,0.0,0,0.0,0.153846,0.846154,0.153846,0.846154,0,0,0,0,[],0,0,[],[],[],"[P00027662, P00027633, P00027664, P00029006, P...",0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,20MICRONS,2012-03-31,14,2.639057,0,0.0,0,69.461538,2,0,12,0,0.0,14,0,2,0,12,0,1,1,2012,0,0,0,0,0,0,0,6,0,0,8.324658,0.0,0,0.0,0.142857,0.857143,0.142857,0.857143,0,0,0,0,[],0,0,[],[],[P00042601],"[P00027662, P00027633, P00027664, P00042601, P...",0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0,20MICRONS,2013-03-31,14,2.639057,0,0.0,0,69.461538,1,0,13,5,0.357143,9,0,1,5,8,4,1,1,2013,1,1,1,1,1,1,1,3,0,0,9.324658,0.0,0.0,0.357143,0.071429,0.571429,0.071429,0.928571,0,0,0,0.0,[],0.2,0.2,[],"[P00027633, P00031581, P00027665, P00027663, P...",[],"[P00027662, P00027633, P00027664, P00042601, P...",0.0,1.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28894,2776,ZYLOG,2014-03-31,13,2.564949,0,0.0,0,67.166667,2,0,11,7,0.538462,6,1,1,6,5,1,3,1,2014,1,1,1,1,1,0,0,5,0,0,7.496944,0.538462,0.142857,0.461538,0.076923,0.384615,0.153846,0.846154,0,1,0,0.0,[],0.428571,0.428571,[P00062851],"[P00007571, P00013013, P00001781, P00027509, P...","[P00048642, P00062851]","[P00007571, P00013013, P00001781, P00005480, P...",0.0,3.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28895,2776,ZYLOG,2015-03-31,15,2.70805,0,0.0,0,67.166667,4,1,11,8,0.533333,7,2,2,6,5,1,3,1,2015,1,1,1,0,1,0,0,6,0,0,7.412237,0.933333,0.25,0.4,0.133333,0.333333,0.266667,0.733333,0,0,1,0.0,[],0.375,0.5,[P00067111],"[P00007571, P00013013, P00001781, P00027509, P...","[P00067112, P00067111]","[P00007571, P00013013, P00001781, P00005480, P...",0.0,4.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28896,2776,ZYLOG,2016-03-31,20,2.995732,0,0.0,0,65.125,8,1,12,13,0.65,7,5,3,8,4,1,3,1,2016,1,1,1,0,1,0,0,10,0,0,6.410274,1.1,0.384615,0.4,0.15,0.2,0.4,0.6,0,0,1,0.0,[],0.230769,0.538462,"[P00036956, P00075400, P00075399, P00075398]","[P00007571, P00013013, P00001781, P00036956, P...","[P00036956, P00073179, P00075400, P00075399, P...","[P00007571, P00013013, P00001781, P00005480, P...",0.0,7.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28897,2776,ZYLOG,2017-03-31,22,3.091042,1,0.045455,1,65.125,8,1,14,15,0.681818,7,6,2,9,5,1,3,1,2017,1,1,1,0,1,0,0,12,0,0,6.758655,1.590909,0.4,0.409091,0.090909,0.227273,0.363636,0.636364,0,0,1,0.0,[],0.2,0.6,"[P00081419, P00080494]","[P00007571, P00013013, P00001781, P00036956, P...","[P00081419, P00080494]","[P00007571, P00013013, P00001781, P00005480, P...",0.0,9.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28898,2776,ZYLOG,2018-03-31,22,3.091042,1,0.045455,1,65.125,6,1,16,15,0.681818,7,5,1,10,6,1,3,1,2018,1,1,1,0,1,0,0,11,22,1,7.758655,2.272727,0.333333,0.454545,0.045455,0.272727,0.272727,0.727273,0,0,1,0.066667,[P00062851],0.2,0.533333,[],"[P00007571, P00013013, P00001781, P00036956, P...",[],"[P00007571, P00013013, P00001781, P00005480, P...",1.0,8.0,22.0,1.0,20.0,0.909091,15.0,1.0,14.0,0.933333,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [21]:
df52.to_csv('Main_Firm_No Loc_No Fin v140924.csv')

# TESTING

In [74]:
df54.loc[ df54["TotDirCount"] >= 100]

,Company Index,Symbol,AsOnDate,TotDirCount,LnBoardSize,FemaleDirCount,PercentWomenDir,Women_dummy,AvgAge,CountRookie,Rookie_dummy,CountNonRookie,CountIndep,PercentIndep,CountNonIndep,CountRookieIndep,CountRookieNonIndep,CountNonRookieIndep,CountNonRookieNonIndep,CountPromoterDir,CountBusyDir,Busy_dummy,AsOnYear,IsCeoMD,HasChairman,HasPromoterOnBoard,IsDualityChairmanMD,IsFamilyManaged,IsFamilyChairman,IsFamilyChairmanAndCEO,CountFirstTermDir,CountTurnOverIndepDir,HasIndepTurnOver,AvgTenureInYearsALL,AvgTenureInYearsIndep,PercentRookieIndep,PercentNonRookieIndep,PercentRookieNonIndep,PercentNonRookieNonIndep,PercentRookie,PercentNonRookie,IsRookieBoard,JustOneRookie,TwoOrMoreRookies,PercentRetiringTermLimit,TermLimitRetireesPcodeList,PercentBusyDir,PercentFirstTermIndep,FirstYearIndepPCodeList,IndepPCodeList,FirstYearPCodeList,PCodeList,CountRetiringTermLimit,CountFirstTermIndep,CountDirTurnOver_exits_retire,PercentDirTurnOver_exits_retire,CountDirTurnOver_real_exits,PercentDirTurnOver_real_exits,CountIndepDirTurnOver_exits_retire,PercentIndepDirTurnOver_exits_retire,CountIndepDirTurnOver_real_exits,PercentIndepDirTurnOver_real_exits,CountDirTurnOver_exits_retire_shifted,PercentIndepDirTurnOver_exits_retire_shifted,CountDirTurnOver_real_exits_shifted,PercentDirTurnOver_real_exits_shifted,CountIndepDirTurnOver_exits_retire_shifted,CountIndepDirTurnOver_real_exits_shifted,PercentIndepDirTurnOver_real_exits_shifted
12047,1129,IOC,2024-03-31,103,4.634729,12,0.116505,1,68.240506,15,1,88,44,0.427184,59,7,8,37,51,0,35,1,2024,0,1,0,0,0,0,0,22,103,1,10.536641,3.485437,0.159091,0.359223,0.07767,0.495146,0.145631,0.854369,0,0,1,0.045455,"[P00094715, P00096108]",0.795455,0.204545,[],"[P00048137, P00017212, P00021230, P00018704, P...","[P00117190, P00114798, P00114074, P00115969]","[P00048137, P00019389, P00017212, P00021182, P...",2.0,9.0,103.0,1.0,91.0,0.883495,44.0,1.0,42.0,0.954545,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17876,1691,NLCINDIA,2024-03-31,101,4.615121,7,0.069307,1,68.542169,18,1,83,41,0.405941,60,4,14,37,46,0,26,1,2024,1,1,0,1,0,0,0,27,101,1,10.647118,3.70297,0.097561,0.366337,0.138614,0.455446,0.178218,0.821782,0,0,1,0.04878,"[P00094631, P00094860]",0.634146,0.146341,[],"[P00022467, P00036111, P00024338, P00022957, P...","[P00115954, P00113858, P00113855, P00113944, P...","[P00040895, P00022467, P00036111, P00024338, P...",2.0,6.0,101.0,1.0,93.0,0.920792,41.0,1.0,39.0,0.951220,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21895,2087,SAIL,2022-03-31,101,4.615121,8,0.079208,1,69.688312,13,1,88,35,0.346535,66,6,7,29,59,0,29,1,2022,1,1,0,1,0,0,0,22,0,0,9.811945,2.475248,0.171429,0.287129,0.069307,0.584158,0.128713,0.871287,0,0,1,0.0,[],0.828571,0.257143,"[P00104302, P00104304, P00104300, P00104303, P...","[P00014773, P00001975, P00010518, P00022736, P...","[P00024608, P00104302, P00105399, P00104866, P...","[P00022467, P00022334, P00014773, P00021182, P...",0.0,9.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21896,2087,SAIL,2023-03-31,107,4.672829,8,0.074766,1,68.903614,14,1,93,36,0.336449,71,6,8,30,63,0,30,1,2023,1,1,0,1,0,0,0,24,0,0,10.244792,2.663551,0.166667,0.280374,0.074766,0.588785,0.130841,0.869159,0,0,1,0.0,[],0.833333,0.222222,[P00108494],"[P00014773, P00001975, P00010518, P00022736, P...","[P00108503, P00108494, P00109825, P00108447, P...","[P00022467, P00022334, P00014773, P00021182, P...",0.0,8.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21897,2087,SAIL,2024-03-31,107,4.672829,8,0.074766,1,68.903614,13,1,94,36,0.336449,71,6,7,30,64,0,30,1,2024,1,1,0,1,0,0,0,20,107,1,11.244792,3.0,0.166667,0.280374,0.065421,0.598131,0.121495,0.878505,0,0,1,0.027778,[P00096206],0.833333,0.194444,[],"[P00014773, P00001975, P00010518, P00022736, P...",[],"[P00022467, P00022334, P00014773, P00021182, P...",1.0,7.0,107.0,1.0,101.0,0.943925,36.0,1.0,35.0,0.972222,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [79]:
test1 = df1.loc[ (df1["Symbol"] == "IOC") & (df1["AsOnDate"] == "2024-03-31"), ["Director First Name", "Director Middle Name", "Director Surname"] ]
test1

       Director First Name Director Middle Name Director Surname
404697        KALAIKURUCHI                  NaN           JAIRAJ
404844             SARTHAK                  NaN          BEHURIA
408543              INDIRA             JITENDRA           PARIKH
408800                GYAN                CHAND             DAGA
409950               SAMIR                KUMAR            BARUA
...                    ...                  ...              ...
427009                 RAM               NARESH            SINGH
427010       AKHAURI MANOJ                KUMAR            SINHA
427012          DATTATREYA                  RAO        SIRPURKER
427013                LATA                  NaN           USENDI
427014              SATISH                KUMAR         VADUGURI

[103 rows x 3 columns]

In [80]:
test1["NAME"] = np.where( pd.isnull(test1["Director First Name"]), "", test1["Director First Name"])\
                + np.where( pd.isnull(test1["Director Middle Name"]), "", test1["Director Middle Name"])\
                + np.where( pd.isnull(test1["Director Surname"]), "", test1["Director Surname"])

In [81]:
test1

,Director First Name,Director Middle Name,Director Surname,NAME
404697,KALAIKURUCHI,NaN,JAIRAJ,KALAIKURUCHIJAIRAJ
404844,SARTHAK,NaN,BEHURIA,SARTHAKBEHURIA
408543,INDIRA,JITENDRA,PARIKH,INDIRAJITENDRAPARIKH
408800,GYAN,CHAND,DAGA,GYANCHANDDAGA
409950,SAMIR,KUMAR,BARUA,SAMIRKUMARBARUA
...,...,...,...,...
427009,RAM,NARESH,SINGH,RAMNARESHSINGH
427010,AKHAURI MANOJ,KUMAR,SINHA,AKHAURI MANOJKUMARSINHA
427012,DATTATREYA,RAO,SIRPURKER,DATTATREYARAOSIRPURKER
427013,LATA,NaN,USENDI,LATAUSENDI
427014,SATISH,KUMAR,VADUGURI,SATISHKUMARVADUGURI

In [82]:
test1["NAME"].nunique()

103

In [94]:
dff1 = pd.read_csv("Firm level data_locationRavi_21226_final(in).csv")

C:\Users\SHIVAM\AppData\Local\Temp\ipykernel_19276\3956496350.py:1: DtypeWarning: Columns (48) have mixed types. Specify dtype option on import or set low_memory=False.
  dff1 = pd.read_csv("Firm level data_locationRavi_21226_final(in).csv")

In [95]:
dff2 = pd.read_csv("Dirlevel_with CAR and briefs_from 2013_81917.csv")

C:\Users\SHIVAM\AppData\Local\Temp\ipykernel_19276\2399263687.py:1: DtypeWarning: Columns (28,32,42,53,54,55,56,57,58,115,116,117,118,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232) have mixed types. Specify dtype option on import or set low_memory=False.
  dff2 = pd.read_csv("Dirlevel_with CAR and briefs_from 2013_81917.csv")

In [111]:
test1 = df1.loc[ (df1["Symbol"] == "SAIL") & (df1["AsOnDate"] == "2020-03-31"), ["AsOnDate", "Person Code", "Director First Name", "Director Middle Name", "Director Surname"] ]
test1

,AsOnDate,Person Code,Director First Name,Director Middle Name,Director Surname
263558,2020-03-31,P00022467,SUSHIL,KUMAR,ROONGTA
265831,2020-03-31,P00022334,VIRENDRA,SINGH,JAIN
266423,2020-03-31,P00014773,JAGDISH,NaN,KHATTAR
266633,2020-03-31,P00021182,GYAN,CHAND,DAGA
267663,2020-03-31,P00001975,VINAYSHIL,DEVENDRA NATH,GAUTAM
...,...,...,...,...,...
291411,2020-03-31,P00086991,ATUL,NaN,SRIVASTAVA
291412,2020-03-31,P00043152,T.,S.,SURESH
291413,2020-03-31,P00084452,NARENDRA,KUMAR,TANEJA
291414,2020-03-31,P00075301,ANSHU,NaN,VAISH
291415,2020-03-31,P00075817,GANESH,NaN,VISHWAKARMA

In [110]:
test2 = dff2.loc[ (dff2["Symbol"] == "SAIL") & (dff2["AsOnDate"] == "31-03-2020"), ["AsOnDate", "Person Code", "Director First Name", "Director Middle Name", "Director Surname"] ]
test2

,AsOnDate,Person Code,Director First Name,Director Middle Name,Director Surname
45760,31-03-2020,P00044441,ANIL,KUMAR,CHAUDHARY
61392,31-03-2020,P00051832,SOMA,NaN,MONDAL
62042,31-03-2020,P00059485,KARTAR,SINGH,CHAUHAN
62043,31-03-2020,P00060203,NARENDRA,KUMAR,TANEJA
62483,31-03-2020,P00060310,ATUL,NaN,SRIVASTAVA
62615,31-03-2020,P00055318,PUNEET,NaN,KANSAL
62904,31-03-2020,P00061774,HARINAND,NaN,RAI
63289,31-03-2020,P00045512,KRISHAN,KUMAR,GUPTA
63541,31-03-2020,P00062659,VIVEK,NaN,GUPTA
64499,31-03-2020,P00063819,NIDGURTI,NaN,SHANKARAPPA
64734,31-03-2020,P00051744,ANIRBAN,NaN,DASGUPTA

In [116]:
dff3 = pd.read_excel("Indian Boards Data as on 31-Mar-2020.xlsx", skiprows = 1)
dff3

,Symbol,Company,Person Code,Director Salutation,Director First Name,Director Middle Name,Director Surname,Date of Birth,Gender,Nationality,Appointment Date,Tenure Valid till,Member of Civil Services,Promoter Director (Yes/No),Position on Board,Independent (Yes/No),Education1,Education2,Education3,Education4,Education5,Education6,Education7,Education8,Education9,Education10,Skills/Competencies,Occupation,Cessation Date,Cessation Reason,Other Directorship 1,Other Directorship 2,Other Directorship 3,Other Directorship 4,Other Directorship 5,Other Directorship 6,Other Directorship 7,Other Directorship 8,Other Directorship 9,Other Directorship 10,Other Directorship 11,Other Directorship 12,Other Directorship 13,Other Directorship 14,Other Directorship 15,Brief Profile
0,20MICRONS,20 MICRONS LTD.,P00027662,MR.,DIPTIMOY,DINESHCHANDRA,BHATTACHARJEE,09-DEC-1955,M,NaN,29-APR-2005,NaN,NaN,NO,"NOMINEE DIRECTOR, EXECUTIVE DIRECTOR",NO,GRADUATE: B.SC.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,02-MAR-2009,NOMINATION ENDED,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"MR.D.D.BHATTACHARJEE, IDBI-NOMINEE DIRECTOR HO..."
1,20MICRONS,20 MICRONS LTD.,P00027633,MR.,RAMKISHAN,AMIRCHAND,DEVIDAYAL,08-DEC-1950,M,INDIA,13-OCT-2007,12-AUG-2024,NONE,NO,NON-EXECUTIVE DIRECTOR,YES,POST GRADUATE: M.B.A.,"POST GRADUATE: M.COM.,MAHARAJA SAYAJIRAO UNIVE...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"ACCOUNTS/AUDIT/TAXATION,CONSUMER DISCRETIONARY...",INDUSTRIALIST,NaN,NaN,20 MICRONS LTD.,BANCO PRODUCTS (INDIA) LTD.,MUNJAL AUTO INDUSTRIES LTD.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MR.RAM DEVIDAYAL HAS A MASTER'S DEGREE IN COMM...
2,20MICRONS,20 MICRONS LTD.,P00027664,MR.,MIHIR,ARVIND,JOSHI,12-JUN-1977,M,NaN,23-AUG-2007,NaN,NaN,NO,NOMINEE DIRECTOR OF GUJARAT VENTURA FINANCE LT...,NO,"GRADUATE: ASSOCIATE MEMBER,INSTITUTE OF COMPAN...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22-OCT-2011,RESIGNED (NO REASON STATED),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"MR.MIHIR JOSHI, GVFL- NOMINEE DIRECTOR HOLDS D..."
3,20MICRONS,20 MICRONS LTD.,P00064917,MS.,DARSHA,RAJESH,KIKANI,01-SEP-1957,F,INDIA,06-AUG-2014,NaN,NaN,NO,NON-EXECUTIVE DIRECTOR,YES,"GRADUATE: FELLOW-MEMBER,INSTITUTE OF COMPANY S...",GRADUATE: LL.B.,"POST GRADUATE: COMPANY SECRETARY,INSTITUTE OF ...","POST GRADUATE: M.B.A.,GUJARAT UNIVERSITY,AHMED...","POST GRADUATE: MEMBER,INSTITUTE OF CHARTERED S...","POST GRADUATE: P.G.PROGRAM-EXECUTIVE,INDIAN IN...",NaN,NaN,NaN,NaN,"ACCOUNTS/AUDIT/TAXATION,CORPORATE GOVERNANCE,F...",NaN,04-MAY-2017,RESIGNED (DUE TO PRE-OCCUPATION),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"MRS. DARSHA R. KIKANI, THE INDEPENDENT DIRECTO..."
4,20MICRONS,20 MICRONS LTD.,P00042601,MR.,NARESH,S.,MAKHIJA,NaN,M,NaN,29-APR-2011,NaN,NaN,NO,"NOMINEE DIRECTOR OF IDBI BANK LTD., NON-EXECUT...",NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,05-FEB-2015,NOMINATION ENDED,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31429,ZYDUSWELL,ZYDUS WELLNESS LTD.,P00013236,MR.,PANKAJ,RAMAN,PATEL,16-MAR-1953,M,INDIA,27-APR-2009,NaN,NONE,YES,"CHAIRPERSON, NON-EXECUTIVE DIRECTOR, PROMOTER-...",NO,"GRADUATE: B.E.,UNIVERSITY OF MUMBAI,MUMBAI","GRADUATE: LL.B.,UNIVERSITY OF MUMBAI,MUMBAI","POST GRADUATE: MASTERS-PHARMACEUTICAL SCIENCE,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,"ACCOUNTS/AUDIT/TAXATION,COMMODITIES,CORPORATE ...","PRESIDENT, FEDERATION OF INDIAN CHAMBERS OF CO...",14-JUL-2014,RETIRED/SUPERANNUATED/TERM EXPIRED,TORRENT POWER LTD.,ZYDUS LIFESCIENCES LTD.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"MR. PANKAJ PATEL SPEARHEADS ZYDUS CADILA, ONE ..."
31430,ZYDUSWELL,ZYDUS WELLNESS LTD.,P00013240,DR.(MR.),SHARVIL,PANKAJ,PATEL,13-OCT-1978,M,INDIA,27-APR-2009,NaN,NONE,YES,"CHAIRPERSON, NON-EXECUTIVE DIRECTOR, PROMOTER-...",NO,GRADUATE: GRADUATE-CHEMICAL & PHARMACEUTICAL S...,"DOCTORATE: PH.D.-BREAST CANCER,UNIVERSITY OF S...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"CORPORATE SOCIAL RESPONSIBILITY,FAST MOVING CO...","JT.MANAGING DIRECTOR, ZYDUS LIFESCIENCES LTD.",NaN,NaN,ZYDUS LIFESCIENCES LTD.,ZYDUS WELLNESS LTD.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DR. SHARVIL P. PATEL IS THE MANAGING DIRECTOR ...
31431,ZYDUSWELL,ZYDUS WELLNESS LTD.,P00005675,MR.,SHEKHAR,GOVIND,PATEL,09-AUG-1971,M,INDIA,25-MAR-2003,NaN,NONE,NO,NaN,NaN,"POST GRADUATE: P.G.DIPLOMA-CIVIL,BHARTIYA VIDH...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"CONSUMER DISCRETIONARY,CORPORATE GOVERNANCE,CO...","MANAGING DIRECTOR, GANESH HOUSING CORP.LTD.",27-JUL-2006,NaN,GANESH HOUSING CORP.LTD.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RICH AND VARIED EXPERIENCE OF MORE THAN 12 YEA...
31432,ZYDUSWELL,ZYDUS WELLNESS LTD.,P00053258,MS.,DHARMISHTA,NARENDRAPRASAD,RAVAL,12-JAN-1956,F,INDIA,11-MAR-2019,10-MAR-2029,NONE,NO,NON-EXECUTIVE DIRECTOR,YES,GRADUATE: B.SC.,GRADUATE: LL.B.,POST GRADUATE: LL.M.,POST GRADUATE: MASTERS-LEGISLATIVE LAW,NaN,NaN,NaN,NaN,NaN,NaN,"COMMODITIES,CORPORATE GOVERNANCE,DIVERSITY,FAS...","SECRETARY, INDIAN LAW INSTITUTE OF GUJARAT STA...",NaN,NaN,NOCIL LTD.,TORRENT POWER LTD.,ZYDUS LIFESCIENCES LTD.,ZYDUS WELLNESS LTD.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"MS. DHARMISHTABEN N. RAVAL, AN EMINENT LAWYER ..."
31433,ZYDUSWELL,ZYDUS WELLNESS LTD.,P00090966,MR.,SAVYASACHI,SANTOSH,SENGUPTA,16-OCT-1952,M,NaN,02-NOV-2018,NaN,NaN,NO,NON-EXECUTIVE DIRECTOR,YES,GRADUATE: B.SC.-STATISTICS,"POST GRADUATE: P.G.DIPLOMA-MANAGEMENT,INDIAN I...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"FAST MOVING CONSUMER GOODS,LEADERSHIP/MANAGEME...",MANAGEMENT CONSULTANT,NaN,NaN,ZYDUS WELLNESS LTD.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"MR. SAVYASACHI SENGUPTA, AGED ABOUT 66 YEARS I..."

In [118]:
test2 = dff3.loc[ (dff3["Symbol"] == "SAIL"), ["Person Code", "Director First Name", "Director Middle Name", "Director Surname"] ]
test2

      Person Code Director First Name Director Middle Name Director Surname
26550   P00021232               VIJAI                KUMAR          AGARWAL
26551   P00022736               ISHER                JUDGE        AHLUWALIA
26552   P00024734               SHOEB                 SYED            AHMED
26553   P00024730              JAVAID                  NaN           AKHTAR
26554   P00022473                VELU                  NaN        ANNAMALAI
...           ...                 ...                  ...              ...
26636   P00084452            NARENDRA                KUMAR           TANEJA
26637   P00022144               VINOD                KUMAR          THAKRAL
26638   P00075301               ANSHU                  NaN            VAISH
26639   P00018278             CHANDRA              SHEKHAR            VERMA
26640   P00075817              GANESH                  NaN      VISHWAKARMA

[91 rows x 4 columns]

In [22]:
#Firm Dir City

In [23]:
#dfl1 = pd.read_excel('Prowess IQ - Location Data.xlsx', skiprows = 5)

In [24]:
#dfl1.drop( ["Head Office", "Registered Office", "Registrar Address"], axis = 1)

In [25]:
#dfl2 = dfl1.dropna()
#dfl2.loc[:, 'Company Name'] = dfl2['Company Name'].str.upper()
#dfl2 = dfl2.rename({'Company Name': 'Company'}, axis = 1)
#dfl2

In [26]:
#dfl3 = df31.loc[:, ['Company', 'Symbol']].drop_duplicates().reset_index(drop = True)
#dfl3

In [27]:
#dfl4 = dfl2.merge(dfl3, on = 'Company').drop(['Company'], axis = 1)
#dfl4

In [28]:
#df53 = df52.copy()
#df54 = df53.reset_index(drop = True)
#df55 = df54.drop(['level_2'], axis = 1)
#df55

In [29]:
#df60 = df55.merge(dfl4, on = 'Symbol', how = 'outer')

In [30]:
#df60

In [31]:
#df61 = df60.loc[:, ['City', 'AsOnDate', 'Symbol', 'FirstYearIndepPCodeList', 'IndepPCodeList']]

In [32]:
# '''
# df61['CountOtherFirstYearIndepPCode'] = 0
# df61['CountTotalIndepPCode'] = 0
# df61['FirstYearDirCityIndep'] = 0

# df61['CountOtherFirstYearPCode'] = 0
# df61['CountTotalPCode'] = 0
# df61['FirstYearDirCity'] = 0

# df61['CountOtherFirstYearPCodeIndepExcl'] = 0
# df61['CountTotalPCodeIndepExcl'] = 0
# df61['FirstYearDirCityIndepExcl'] = 0

# df61['CountOtherFirstYearPCodeExcl'] = 0
# df61['CountTotalPCodeExcl'] = 0
# df61['FirstYearDirCityExcl'] = 0
# '''

In [33]:
# '''
# def FirDirCity(frame):
#     for Symbol in frame['Symbol']:
#         # P Code list First year and Total INDEP directors of CURR company in the same city
#         pcodecompfirstindep = set(frame.loc[ frame['Symbol'] == Symbol]['FirstYearIndepPCodeList'].explode())
#         pcodecomptotindep = set(frame.loc[ frame['Symbol'] == Symbol]['IndepPCodeList'].explode())

#         # P Code list First year and Total directors of CURR company
#         pcodecompfirst = set(frame.loc[ frame['Symbol'] == Symbol]['FirstYearPCodeList'].explode())
#         pcodecomptot = set(frame.loc[ frame['Symbol'] == Symbol]['PCodeList'].explode())

#         # P Code list First Year and total INDEP directors of OTHER companies
#         pcodeotherfirstindep = frame.loc[ frame['Symbol'] != Symbol]['FirstYearIndepPCodeList'].explode().nunique()
#         pcodeothertotindep = frame.loc[ frame['Symbol'] != Symbol]['IndepPCodeList'].explode().nunique()

#         # P Code list First Year and total directors of OTHER companies
#         pcodeotherfirst = frame.loc[ frame['Symbol'] != Symbol]['FirstYearPCodeList'].explode().nunique()
#         pcodeothertot = frame.loc[ frame['Symbol'] != Symbol]['PCodeList'].explode().nunique()
        
#         # P Code list First Year and total INDEP directors of OTHER companies excluding CURR company
#         pcodeotherfirstindepexcl = sum(1 for x in set(frame.loc[ frame['Symbol'] != Symbol]['FirstYearIndepPCodeList'].explode()) if x not in pcodecompfirstindep)
        
#         pcodeothertotindepexcl = sum(1 for x in set(frame.loc[ frame['Symbol'] != Symbol]['IndepPCodeList'].explode()) if x not in pcodecomptotindep)
        
#         # P Code list First Year and total directors of OTHER companies excluding CURR company
#         pcodeotherfirstexcl = sum(1 for x in set(frame.loc[ frame['Symbol'] != Symbol]['FirstYearPCodeList'].explode()) if x not in pcodecompfirst)
#         pcodeothertotexcl = sum(1 for x in set(frame.loc[ frame['Symbol'] != Symbol]['PCodeList'].explode()) if x not in pcodecomptot)
        
#         frame.loc[ frame['Symbol'] == Symbol, 'CountOtherFirstYearIndepPCode'] = pcodeotherfirstindep
#         frame.loc[ frame['Symbol'] == Symbol, 'CountTotalIndepPCode'] = pcodeothertotindep
#         frame.loc[ frame['Symbol'] == Symbol, 'FirstYearDirCityIndep'] = pcodeotherfirstindep / pcodeothertotindep if pcodeothertotindep>0 else 0

#         frame.loc[ frame['Symbol'] == Symbol, 'CountOtherFirstYearPCode'] = pcodeotherfirst
#         frame.loc[ frame['Symbol'] == Symbol, 'CountTotalPCode'] = pcodeothertot
#         frame.loc[ frame['Symbol'] == Symbol, 'FirstYearDirCity'] = pcodeotherfirst / pcodeothertot if pcodeothertot>0 else 0

#         frame.loc[ frame['Symbol'] == Symbol, 'CountOtherFirstYearPCodeIndepExcl'] = pcodeotherfirstindepexcl
#         frame.loc[ frame['Symbol'] == Symbol, 'CountTotalPCodeIndepExcl'] = pcodeothertotindepexcl
#         frame.loc[ frame['Symbol'] == Symbol, 'FirstYearDirCityIndepExcl'] = pcodeotherfirstindepexcl / pcodeothertotindepexcl if pcodeothertotindepexcl>0 else 0
        
#         frame.loc[ frame['Symbol'] == Symbol, 'CountOtherFirstYearPCodeExcl'] = pcodeotherfirstexcl
#         frame.loc[ frame['Symbol'] == Symbol, 'CountTotalPCodeExcl'] = pcodeothertotexcl
#         frame.loc[ frame['Symbol'] == Symbol, 'FirstYearDirCityExcl'] = pcodeotherfirstexcl / pcodeothertotexcl if pcodeothertotexcl>0 else 0

#     return frame
# '''

In [34]:
# df70 = df60.groupby(['City', 'AsOnDate']).progress_apply(FirDirCity)

In [35]:
# df70

In [36]:
# df70.to_csv('Main_Firm_Loc ONLY_No Fin v280824.1.csv')