In [1]:
import pandas_datareader.data as web #to collect data
import datetime as dt #to specify start and end dates

# import yfinance as yf

import eventstudy as es
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import scipy.stats as stats


import pandas as pd

import statsmodels.api as sm
import statsmodels.formula.api as smf
from statsmodels.regression.rolling import RollingOLS

from patsy import dmatrices
from tqdm.notebook import tqdm
tqdm.pandas()

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

## Data Reading

In [2]:
car = pd.read_csv("Director Level CAR_on_appointment v010225.csv", index_col = 0)

C:\Users\SHIVAM\AppData\Local\Temp\ipykernel_12608\1846434778.py:1: DtypeWarning: Columns (22,23,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48) have mixed types. Specify dtype option on import or set low_memory=False.
  car = pd.read_csv("Director Level CAR_on_appointment v010225.csv", index_col = 0)

In [3]:
car

,Symbol,Company,AsOnDate,Person Code,Director Salutation,Director First Name,Director Middle Name,Director Surname,Date of Birth,Gender,Nationality,Appointment Date,Member of Civil Services,Education1,Education2,Education3,Education4,Education5,Education6,Education7,Education8,Education9,Education10,Skills/Competencies,Cessation Date,Cessation Reason,Brief Profile,Promoter Director (Yes/No),Position on Board,Independent (Yes/No),Occupation,Other Directorship 1,Other Directorship 2,Other Directorship 3,Other Directorship 4,Other Directorship 5,Other Directorship 6,Other Directorship 7,Other Directorship 8,Other Directorship 9,Other Directorship 10,Other Directorship 11,Other Directorship 12,Other Directorship 13,Other Directorship 14,Other Directorship 15,Tenure Valid till,PrevLastServed,Indep,cumsum_U,cumsum_Y,cumsum_N,OpBalUnc,OpBalIndep,OpBalNonIndep,OpBalTotal,CloBalUnc,CloBalIndep,CloBalNonIndep,CloBalTotal,YOE,YOEmax,AllPastDirect,CurrDirectA,CurrDirectAB,PastSiezedDirectA,PastSiezedDirectAB,CountOtherPastUnclearA,CountOtherPastIndepA,CountOtherPastNonIndepA,CompCountOtherPastTotalA,CountOtherPastUnclearAB,CountOtherPastIndepAB,CountOtherPastNonIndepAB,CompCountOtherPastTotalAB,CountCurrUnclearA,CountCurrIndepA,CountCurrNonIndepA,CompCountCurrTotalA,CountCurrUnclearAB,CountCurrIndepAB,CountCurrNonIndepAB,CompCountCurrTotalAB,Rookie,IsIndep,IsNonIndep,IsRookie,IsNonRookie,IsCeoMD,IsChairman,IsPromoterClassification,IsPromoterBoard,IsPromoter,IsDualityChairmanMD,IsFamilyManaged,IsFamilyChairman,IsFamilyChairmanAndCEO,IsRookieIndep,IsRookieNonIndep,IsNonRookieIndep,IsNonRookieNonIndep,IsFemale,Age,TenureInYearsIndep,TenureInYearsTotal,IsFirstTermIndep,IsRetires5y,IsTermLimitRetirement,IsDefaultTerm,AsOnYear,IsTurnOver,HasRetires5y,HasTermLimitRetirement,IsTurnOverIndep,CompanyName,ProwessCode,Entity type,Entity type code,Incorporation year,Industry group,Industry group code,NIC name,NIC code,Ownership group code,Ownership group,Age group,Head office address,ACP,pct,RF,RMRF,MF,SMB,HML,OLS120_intercept,OLS120_RMRF,OLS120_SMB,OLS120_HML,OLS120_r_squared,OLS120_adjusted_r_squared,OLS120_f_p_value,120CAR3,120CAR5,120CAR7,120CAR11,OLS150_intercept,OLS150_RMRF,OLS150_SMB,OLS150_HML,OLS150_r_squared,OLS150_adjusted_r_squared,OLS150_f_p_value,150CAR3,150CAR5,150CAR7,150CAR11,OLS180_intercept,OLS180_RMRF,OLS180_SMB,OLS180_HML,OLS180_r_squared,OLS180_adjusted_r_squared,OLS180_f_p_value,180CAR3,180CAR5,180CAR7,180CAR11
0,3MINDIA,3M INDIA LTD.,2006-03-31,P00033272,MR.,SHANKARANARAYANA,VISHWANATHA RAO,BANAWARA,1960-05-14,M,INDIA,2002-07-24,NONE,GRADUATE: B.COM.,"POST GRADUATE: M.B.A.-FINANCE,BANGALORE UNIVER...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"ACCOUNTS/AUDIT/TAXATION,FINANCE,LEADERSHIP/MAN...",NaN,NaN,"MR. B.V. SHANKARANARAYANA RAO, 57, HOLDS A BAC...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,U,1,0,0,1346.0,0,0,1346.0,1711.0,0,0,1711.0,1346.0,1346.0,(),"(('3M INDIA LTD.', 'U'),)","(('3M INDIA LTD.', 'U'),)",(),(),0,0,0,0,0,0,0,0,1,0,0,1,1,0,0,1,N,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,64.0,0.0,3.687671,0,0,0,0,2006,0,0,0,0,3M India Ltd.,36277.0,Public Ltd.,1.020302e+10,1987.0,"Plastic furniture, floorings & miscellaneous i...",1.010120e+14,Manufacture of other plastics products n.e.c.,22209.0,2.020200e+10,Private (Foreign),Between 1986 and 1990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3MINDIA,3M INDIA LTD.,2006-03-31,P00000249,LATE MR.,BALAJI RAO,JAGANNATH RAO,DOVETON,1939-12-15,M,INDIA,2001-12-26,NONE,"GRADUATE: ASSOCIATE MEMBER,INDIAN INSTITUTION ...","GRADUATE: B.E.-MECHANICAL,UNIVERSITY OF MADRAS...","POST GRADUATE: M.E.-MECHANICAL,UNIVERSITY OF M...",POST GRADUATE: P.G.-ADVANCED MANAGEMENT PROGRA...,POST GRADUATE: P.G.DIPLOMA-INDUSTRIAL ENGINEER...,NaN,NaN,NaN,NaN,NaN,"ACCOUNTS/AUDIT/TAXATION,CONSUMER DISCRETIONARY...",NaN,NaN,"MR. D.J. BALAJI RAO, 73, HOLDS A B.E DEGREE IN...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,U,1,0,0,1556.0,0,0,1556.0,1921.0,0,0,1921.0,1556.0,3289.0,(),"(('ASHOK LEYLAND LTD.', 'U'), ('3M INDIA LTD.'...","(('ASHOK LEYLAND LTD.', 'U'), ('3M INDIA LTD.'...",(),(),0,0,0,0,0,0,0,0,5,0,0,5,5,0,0,5,N,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,84.0,0.0,4.263014,0,1,0,0,2006,0,0,0,0,3M India Ltd.,36277.0,Public Ltd.,1.020302e+10,1987.0,"Plastic furniture, floorings & miscellaneous i...",1.010120e+14,Manufacture of other plastics products n.e.c.,22209.0,2.020200e+10,Private (Foreign),Between 1986 and 1990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ASHOKLEY,ASHOK LEYLAND LTD.,2006-03-31,P00000249,LATE MR.,BALAJI RAO,JAGANNATH RAO,DOVETON,1939-12-15,M,INDIA,2000-07-27,NONE,"GRADUATE: ASSOCIATE MEMBER,INDIAN INSTITUTION ...","GRADUATE: B.E.-MECHANICAL,UNIVERSITY OF MADRAS...","POST GRADUATE: M.E.-MECHANICAL,UNIVERSITY OF M...",POST GRADUATE: P.G.-ADVANCED MANAGEMENT PROGRA...,POST GRADUATE: P.G.DIPLOMA-INDUSTRIAL ENGINEER...,NaN,NaN,NaN,NaN,NaN,"ACCOUNTS/AUDIT/TAXATION,CONSUMER DISCRETIONARY...",NaN,NaN,"MR D J BALAJI RAO, IS A FORMER DEPUTY MANAGING...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,U,1,0,0,2073.0,0,0,2073.0,2438.0,0,0,2438.0,2073.0,3289.0,(),"(('ASHOK LEYLAND LTD.', 'U'), ('3M INDIA LTD.'...","(('ASHOK LEYLAND LTD.', 'U'), ('3M INDIA LTD.'...",(),(),0,0,0,0,0,0,0,0,5,0,0,5,5,0,0,5,N,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,84.0,0.0,5.679452,0,0,0,0,2006,0,0,0,0,Ashok Leyland Ltd.,22104.0,Public Ltd.,1.020302e+10,1948.0,Commercial vehicles,1.010145e+14,Manufacture of commercial vehicles such as van...,29102.0,2.020101e+10,Hinduja (Ashok Leyland) Group,Before 1950,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BAJAJHLDNG,BAJAJ HOLDINGS & INVESTMENT LTD.,2006-03-31,P00000249,LATE MR.,BALAJI RAO,JAGANNATH RAO,DOVETON,1939-12-15,M,INDIA,1997-03-29,NONE,"GRADUATE: ASSOCIATE MEMBER,INDIAN INSTITUTION ...","GRADUATE: B.E.-MECHANICAL,UNIVERSITY OF MADRAS...","POST GRADUATE: M.E.-MECHANICAL,UNIVERSITY OF M...",POST GRADUATE: P.G.-ADVANCED MANAGEMENT PROGRA...,POST GRADUATE: P.G.DIPLOMA-INDUSTRIAL ENGINEER...,NaN,NaN,NaN,NaN,NaN,"ACCOUNTS/AUDIT/TAXATION,CONSUMER DISCRETIONARY...",NaN,NaN,"D. J. BALAJI RAO (BORN ON 15 DECEMBER 1939), H...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,U,1,0,0,3289.0,0,0,3289.0,3654.0,0,0,3654.0,3289.0,3289.0,(),"(('ASHOK LEYLAND LTD.', 'U'), ('3M INDIA LTD.'...","(('ASHOK LEYLAND LTD.', 'U'), ('3M INDIA LTD.'...",(),(),0,0,0,0,0,0,0,0,5,0,0,5,5,0,0,5,N,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,84.0,0.0,9.010959,0,0,1,0,2006,0,0,0,0,Bajaj Holdings & Invst. Ltd.,28899.0,Public Ltd.,1.020302e+10,1945.0,Other fund based financial services,1.020400e+14,"Trusts, funds and other financial vehicles",64300.0,2.010101e+10,Bajaj Group,Before 1950,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,GRAPHITE,GRAPHITE INDIA LTD.,2006-03-31,P00000249,LATE MR.,BALAJI RAO,JAGANNATH RAO,DOVETON,1939-12-15,M,INDIA,2004-01-17,NONE,"GRADUATE: ASSOCIATE MEMBER,INDIAN INSTITUTION ...","GRADUATE: B.E.-MECHANICAL,UNIVERSITY OF MADRAS...","POST GRADUATE: M.E.-MECHANICAL,UNIVERSITY OF M...",POST GRADUATE: P.G.-ADVANCED MANAGEMENT PROGRA...,POST GRADUATE: P.G.DIPLOMA-INDUSTRIAL ENGINEER...,NaN,NaN,NaN,NaN,NaN,"ACCOUNTS/AUDIT/TAXATION,CONSUMER DISCRETIONARY...",NaN,NaN,"MR. D J BALAJI RAO, AGED 73 YEARS, HOLDS A DEG...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,U,1,0,0,804.0,0,0,804.0,1169.0,0,0,1169.0,804.0,3289.0,(),"(('ASHOK LEYLAND LTD.', 'U'), ('3M INDIA LTD.'...","(('ASHOK LEYLAND LTD.', 'U'), ('3M INDIA LTD.'...",(),(),0,0,0,0,0,0,0,0,5,0,0,5,5,0,0,5,N,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,84.0,0.0,2.202740,0,0,0,0,2006,0,0,0,0,Graphite India Ltd.,42434.0,Public Ltd.,1.020302e+10,1974.0,Refractories,1.010130e+14,"Manufacture of refractory bricks, blocks tiles...",23912.0,2.010103e+10,Graphite India Group,Between 1972 and 1985,"31, Chowringhee Road, Kolkata West Bengal",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446429,ZYDUSWELL,ZYDUS WELLNESS LTD.,2024-03-31,P00005980,MR.,BHARAT,VINAYAK,PATEL,1950-09-29,M,NaN,2003-04-29,NaN,GRADUATE: B.E.-MECHANICAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2006-07-27,NaN,HE HAS VAST EXPERIENCE IN CHEMICAL MANUFACTURI...,NO,NON-EXECUTIVE DIRECTOR,YES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-03-31,Y,3,12,0,3623.0,4015,0,7638.0,3623.0,4380,0,8003.0,7642.0,7642.0,"(('ZYDUSWELL', 'U'), ('ZYDUSWELL', 'Y'))","(('ZYDUS WELLNESS LTD.', 'Y'),)","(('ZYDUS WELLNESS LTD.', 'Y'),)","(('ZYDUSWELL', 'U'), ('ZYDUSWELL', 'Y'))","(('ZYDUSWELL', 'U'), ('ZYDUSWELL', 'Y'))",1,1,0,2,1,1,0,2,0,1,0,1,0,1,0,1,N,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,74.0,11.0,20.926027,0,0,0,1,2024,1,0,0,1,Zydus Wellness Ltd.,42684.0,Public Ltd.,1.020302e+10,1994.0,Vegetable oils & products,1.010111e+14,"Manufacture of other vegetable oil, animal oil...",10409.0,2.010104e+10,Zydus Cadila Group,Between 1991 and 2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
446430,ZYDUSWELL,ZYDUS WELLNESS LTD.,2024-03-31,P00031583,MR.,JITENDRA,R.,PATEL,NaN,M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009-07-29,NaN,NaN,NO,"MANAGING DIRECTOR, EXECUTIVE DIRECTOR",NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-03-31,N,0,0,12,NaN,0,4015,NaN,NaN,0,4380,NaN,NaN,NaN,"(('ZYDUSWELL', 'N'),)","(('ZYDUS WELLNESS LTD.', 'N'),)","(('ZYDUS WELLNESS LTD.', 'N'),)","(('ZYDUSWELL', 'N'),)","(('ZYDUSWELL', 'N'),)",0,0,1,1,0,0,1,1,0,0,1,1,0,0,1,1,n,0,1,0,1,1,0,0,0,0,0,0,0,0,0,0,0,1,0,NaN,0.0,NaN,0,0,0,0,2024,1,0,0,0,Zydus Wellness Ltd.,42684.0,Public Ltd.,1.020302e+10,1994.0,Vegetable oils & products,1.010111e+14,"Manufacture of other vegetable oil, animal oil...",10409.0,2.010104e+10,Zydus Cadila Group,Between 1991 and 2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
446431,ZYDUSWELL,ZYDUS WELLNESS LTD.,2024-03-31,P00005982,MR.,MANU,PURSHOTTAM,PATEL,1936-04-21,M,NaN,1994-11-01,NaN,GRADUATE: B.COM.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2006-07-27,NaN,HE HAS VAST EXPERIENCE IN TEA MANUFACTURING BU...,NO,NON-EXECUTIVE DIRECTOR,YES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-03-31,Y,3,12,0,6724.0,4015,0,10739.0,6724.0,4380,0,11104.0,10743.0,10743.0,"(('ZYDUSWELL', 'U'), ('ZYDUSWELL', 'Y'))","(('ZYDUS WELLNESS LTD.', 'Y'),)","(('ZYDUS WELLNESS LTD.', 'Y'),)","(('ZYDUSWELL', 'U'), ('ZYDUSWELL', 'Y'))","(('ZYDUSWELL', 'U'), ('ZYDUSWELL', 'Y'))",1,1,0,2,1,1,0,2,0,1,0,1,0,1,0,1,N,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,88.0,11.0,29.421918,0,0,0,1,2024,1,0,0,1,Zydus Wellness Ltd.,42684.0,Public Ltd.,1.020302e+10,1994.0,Vegetable oils & products,1.010111e+14,"Manufacture of other vegetable oil, animal oil...",10409.0,2.010104e+10,Zydus Cadila Group,Between 1991 and 2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
446432,ZYDUSWELL,ZYDUS WELLNESS LTD.,2024-03-31,P00022619,DR.(MR.),MUKESH,RAOJI,PATEL,1947-09-13,M,NaN,2006-07-27,NaN,POST GRADUATE: M.PHARM.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009-04-27,NaN,HE IS A MASTER IN PHARMACY AND ALSO A PH.D. IN...,NO,NON-EXECUTIVE DIRECTOR,YES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-03-31,Y,3,12,0,2438.0,4015,0,6453.0,2438.0,4380,0,6818.0,6457.0,6457.0,"(('ZYDUSWELL', 'U'), ('ZYDUSWELL', 'Y'))","(('ZYDUS WELLNESS LTD.', 'Y'),)","(('ZYDUS WELLNESS LTD.', 'Y'),)","(('ZYDUSWELL', 'U'), ('ZYDUSWELL', 'Y'))","(('ZYDUSWELL', 'U'), ('ZYDUSWELL', 'Y'))",1,1,0,2,1,1,0,2,0,1,0,1,0,1,0,1,N,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,77.0,11.0,17.679452,0,0,0,1,2024,1,0,0,1,Zydus Wellness Ltd.,42684.0,Public Ltd.,1.020302e+10,1994.0,Vegetable oils & products,1.010111e+14,"Manufacture of other vegetable oil, animal oil...",10409.0,2.010104e+10,Zydus Cadila Group,Between 1991 and 2013,NaN,15.65,0.000000,0.017086,1.247630,1.264716,0.353752,-0.765796,-0.023964,-0.000399,-0.001528,-0.000381,0.017038,-0.008384,5.719998e-01,0.025329,0.008091,-0.015526,0.011386,-0.023681,-0.000460,-0.001883,0.000408,0.027484,0.007501,2.526707e-01,0.025916,0.009138,-0.016500,0.008444,-0.023612,-0.000521,-0.002284,-0.00029,0.029526,0.012984,1.517715e-01,0.026497,0.010076,-0.016052,0.008829
446433,ZYDUSWELL,ZYDUS WELLNESS LTD.,2024-03-31,P00090966,MR.,SAVYASACHI,SANTOSH,SENGUPTA,1952-10-16,M,NaN,2018-11-02,NaN,GRADUATE: B.SC.-STATISTICS,"POST GRADUATE: P.G.DIPLOMA-MANAGEMENT,INDIAN I...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"FAST MOVING CONSUMER GOODS,LEADERSHIP/MANAGEME...",2023-11-01,RETIRED/SUPERANNUATED/TERM EXPIRED,"MR. SAVYASACHI SENGUPTA, AGED ABOUT 66 YEARS I...",NO,NON-EXECUTIVE DIRECTOR,YES,MANAGEMENT CONSULTANT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-03-31,Y,0,6,0,149.0,1825,0,1974.0,149.0,2190,0,2339.0,1976.0,1976.0,"(('ZYDUSWELL', 'Y'),)","(('ZYDUS WELLNESS LTD.', 'Y'),)","(('ZYDUS WELLNESS LTD.', 'Y'),)","(('ZYDUSWELL', 'Y'),)","(('ZYDUSWELL', 'Y'),)",0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,N,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,71.0,5.0,5.408219,0,0,0,0,2024,1,0,0,1,Zydus Wellness Ltd.,42684.0,Public Ltd.,1.020302e+10,1994.0,Vegetable oils & products,1.010111e+14,"Manufacture of other vegetable oil, animal oil...",10409.0,2.010104e+10,Zydus Cadila Group,Between 1991 and 2013,NaN,1180.15,-0.018301,0.018363,1.280998,1.299361,-0.382356,0.948342,-0.022766,0.013519,0.008227,-0.003051,0.239743,0.220081,5.417183e-07,-0.040112,-0.030899,-0.020614,-0.181446,-0.023445,0.012825,0.007379,-0.003311,0.195702,0.179176,5.484724e-07,-0.036246,-0.024944,-0.011133,-0.167557,-0.022171,0.012003,0.008282,-0.00329,0.182234,0.168295,9.523301e-08,-0.039730,-0.029963,-0.019709,-0.181602

In [4]:
car["AsOnDate"] = pd.to_datetime(car["AsOnDate"], format = "%Y-%m-%d")

In [5]:
car.columns.to_list()

['Symbol',
 'Company',
 'AsOnDate',
 'Person Code',
 'Director Salutation',
 'Director First Name',
 'Director Middle Name',
 'Director Surname',
 'Date of Birth',
 'Gender',
 'Nationality',
 'Appointment Date',
 'Member of Civil Services',
 'Education1',
 'Education2',
 'Education3',
 'Education4',
 'Education5',
 'Education6',
 'Education7',
 'Education8',
 'Education9',
 'Education10',
 'Skills/Competencies',
 'Cessation Date',
 'Cessation Reason',
 'Brief Profile',
 'Promoter Director (Yes/No)',
 'Position on Board',
 'Independent (Yes/No)',
 'Occupation',
 'Other Directorship 1',
 'Other Directorship 2',
 'Other Directorship 3',
 'Other Directorship 4',
 'Other Directorship 5',
 'Other Directorship 6',
 'Other Directorship 7',
 'Other Directorship 8',
 'Other Directorship 9',
 'Other Directorship 10',
 'Other Directorship 11',
 'Other Directorship 12',
 'Other Directorship 13',
 'Other Directorship 14',
 'Other Directorship 15',
 'Tenure Valid till',
 'PrevLastServed',
 'Indep',
 'cumsum_U',
 'cumsum_Y',
 'cumsum_N',
 'OpBalUnc',
 'OpBalIndep',
 'OpBalNonIndep',
 'OpBalTotal',
 'CloBalUnc',
 'CloBalIndep',
 'CloBalNonIndep',
 'CloBalTotal',
 'YOE',
 'YOEmax',
 'AllPastDirect',
 'CurrDirectA',
 'CurrDirectAB',
 'PastSiezedDirectA',
 'PastSiezedDirectAB',
 'CountOtherPastUnclearA',
 'CountOtherPastIndepA',
 'CountOtherPastNonIndepA',
 'CompCountOtherPastTotalA',
 'CountOtherPastUnclearAB',
 'CountOtherPastIndepAB',
 'CountOtherPastNonIndepAB',
 'CompCountOtherPastTotalAB',
 'CountCurrUnclearA',
 'CountCurrIndepA',
 'CountCurrNonIndepA',
 'CompCountCurrTotalA',
 'CountCurrUnclearAB',
 'CountCurrIndepAB',
 'CountCurrNonIndepAB',
 'CompCountCurrTotalAB',
 'Rookie',
 'IsIndep',
 'IsNonIndep',
 'IsRookie',
 'IsNonRookie',
 'IsCeoMD',
 'IsChairman',
 'IsPromoterClassification',
 'IsPromoterBoard',
 'IsPromoter',
 'IsDualityChairmanMD',
 'IsFamilyManaged',
 'IsFamilyChairman',
 'IsFamilyChairmanAndCEO',
 'IsRookieIndep',
 'IsRookieNonIndep',
 'IsNonRookieIndep',
 'IsNonRookieNonIndep',
 'IsFemale',
 'Age',
 'TenureInYearsIndep',
 'TenureInYearsTotal',
 'IsFirstTermIndep',
 'IsRetires5y',
 'IsTermLimitRetirement',
 'IsDefaultTerm',
 'AsOnYear',
 'IsTurnOver',
 'HasRetires5y',
 'HasTermLimitRetirement',
 'IsTurnOverIndep',
 'CompanyName',
 'ProwessCode',
 'Entity type',
 'Entity type code',
 'Incorporation year',
 'Industry group',
 'Industry group code',
 'NIC name',
 'NIC code',
 'Ownership group code',
 'Ownership group',
 'Age group',
 'Head office address',
 'ACP',
 'pct',
 'RF',
 'RMRF',
 'MF',
 'SMB',
 'HML',
 'OLS120_intercept',
 'OLS120_RMRF',
 'OLS120_SMB',
 'OLS120_HML',
 'OLS120_r_squared',
 'OLS120_adjusted_r_squared',
 'OLS120_f_p_value',
 '120CAR3',
 '120CAR5',
 '120CAR7',
 '120CAR11',
 'OLS150_intercept',
 'OLS150_RMRF',
 'OLS150_SMB',
 'OLS150_HML',
 'OLS150_r_squared',
 'OLS150_adjusted_r_squared',
 'OLS150_f_p_value',
 '150CAR3',
 '150CAR5',
 '150CAR7',
 '150CAR11',
 'OLS180_intercept',
 'OLS180_RMRF',
 'OLS180_SMB',
 'OLS180_HML',
 'OLS180_r_squared',
 'OLS180_adjusted_r_squared',
 'OLS180_f_p_value',
 '180CAR3',
 '180CAR5',
 '180CAR7',
 '180CAR11']

### Only govt firms only

In [6]:
car = car.loc[ car["Ownership group code"] >= 20000000000, :].copy()

# 2013 - 2020

In [7]:
carS1 = car.loc[ (car["AsOnDate"] < "2021-01-01") & (car["AsOnDate"] > "2012-12-31"), : ].copy()
carS1 = carS1.drop_duplicates( subset = ["Person Code", "Appointment Date"] ).reset_index(drop = True)
carS1

,Symbol,Company,AsOnDate,Person Code,Director Salutation,Director First Name,Director Middle Name,Director Surname,Date of Birth,Gender,Nationality,Appointment Date,Member of Civil Services,Education1,Education2,Education3,Education4,Education5,Education6,Education7,Education8,Education9,Education10,Skills/Competencies,Cessation Date,Cessation Reason,Brief Profile,Promoter Director (Yes/No),Position on Board,Independent (Yes/No),Occupation,Other Directorship 1,Other Directorship 2,Other Directorship 3,Other Directorship 4,Other Directorship 5,Other Directorship 6,Other Directorship 7,Other Directorship 8,Other Directorship 9,Other Directorship 10,Other Directorship 11,Other Directorship 12,Other Directorship 13,Other Directorship 14,Other Directorship 15,Tenure Valid till,PrevLastServed,Indep,cumsum_U,cumsum_Y,cumsum_N,OpBalUnc,OpBalIndep,OpBalNonIndep,OpBalTotal,CloBalUnc,CloBalIndep,CloBalNonIndep,CloBalTotal,YOE,YOEmax,AllPastDirect,CurrDirectA,CurrDirectAB,PastSiezedDirectA,PastSiezedDirectAB,CountOtherPastUnclearA,CountOtherPastIndepA,CountOtherPastNonIndepA,CompCountOtherPastTotalA,CountOtherPastUnclearAB,CountOtherPastIndepAB,CountOtherPastNonIndepAB,CompCountOtherPastTotalAB,CountCurrUnclearA,CountCurrIndepA,CountCurrNonIndepA,CompCountCurrTotalA,CountCurrUnclearAB,CountCurrIndepAB,CountCurrNonIndepAB,CompCountCurrTotalAB,Rookie,IsIndep,IsNonIndep,IsRookie,IsNonRookie,IsCeoMD,IsChairman,IsPromoterClassification,IsPromoterBoard,IsPromoter,IsDualityChairmanMD,IsFamilyManaged,IsFamilyChairman,IsFamilyChairmanAndCEO,IsRookieIndep,IsRookieNonIndep,IsNonRookieIndep,IsNonRookieNonIndep,IsFemale,Age,TenureInYearsIndep,TenureInYearsTotal,IsFirstTermIndep,IsRetires5y,IsTermLimitRetirement,IsDefaultTerm,AsOnYear,IsTurnOver,HasRetires5y,HasTermLimitRetirement,IsTurnOverIndep,CompanyName,ProwessCode,Entity type,Entity type code,Incorporation year,Industry group,Industry group code,NIC name,NIC code,Ownership group code,Ownership group,Age group,Head office address,ACP,pct,RF,RMRF,MF,SMB,HML,OLS120_intercept,OLS120_RMRF,OLS120_SMB,OLS120_HML,OLS120_r_squared,OLS120_adjusted_r_squared,OLS120_f_p_value,120CAR3,120CAR5,120CAR7,120CAR11,OLS150_intercept,OLS150_RMRF,OLS150_SMB,OLS150_HML,OLS150_r_squared,OLS150_adjusted_r_squared,OLS150_f_p_value,150CAR3,150CAR5,150CAR7,150CAR11,OLS180_intercept,OLS180_RMRF,OLS180_SMB,OLS180_HML,OLS180_r_squared,OLS180_adjusted_r_squared,OLS180_f_p_value,180CAR3,180CAR5,180CAR7,180CAR11
0,20MICRONS,20 MICRONS LTD.,2013-03-31,P00027662,MR.,DIPTIMOY,DINESHCHANDRA,BHATTACHARJEE,1955-12-09,M,NaN,2005-04-29,NaN,GRADUATE: B.SC.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009-03-02,NOMINATION ENDED,"MR.D.D.BHATTACHARJEE, IDBI-NOMINEE DIRECTOR HO...",NO,"NOMINEE DIRECTOR, EXECUTIVE DIRECTOR",NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012-03-31,N,4,0,1,2892.0,0,0,2892.0,2892.0,0,365,3257.0,2893.0,2893.0,"(('20MICRONS', 'U'),)","(('20 MICRONS LTD.', 'N'),)","(('20 MICRONS LTD.', 'N'),)","(('20MICRONS', 'U'),)","(('20MICRONS', 'U'),)",1,0,0,1,1,0,0,1,0,0,1,1,0,0,1,1,N,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,68.0,0.0,7.923288,0,0,0,0,2013,0,0,0,0,20 Microns Ltd.,11.0,Public Ltd.,1.020302e+10,1987.0,Minerals,1.010203e+14,Other mining and quarrying,8.0,2.010104e+10,20 Microns Group,Between 1986 and 1990,"347, G I D C Industrial Estate, Waghodia, Vad...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20MICRONS,20 MICRONS LTD.,2013-03-31,P00027633,MR.,RAMKISHAN,AMIRCHAND,DEVIDAYAL,1950-12-08,M,INDIA,2007-10-13,NONE,POST GRADUATE: M.B.A.,"POST GRADUATE: M.COM.,MAHARAJA SAYAJIRAO UNIVE...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"ACCOUNTS/AUDIT/TAXATION,CONSUMER DISCRETIONARY...",NaN,NaN,MR.RAM DEVIDAYAL HAS A MASTER'S DEGREE IN COMM...,NO,NON-EXECUTIVE DIRECTOR,YES,NaN,20 MICRONS LTD.,BANCO PRODUCTS (INDIA) LTD.,MUNJAL AUTO INDUSTRIES LTD.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012-03-31,Y,4,1,0,1995.0,0,0,1995.0,1995.0,365,0,2360.0,1996.0,4262.0,"(('20MICRONS', 'U'), ('BANCOINDIA', 'U'), ('MU...","(('MUNJAL AUTO INDUSTRIES LTD.', 'Y'), ('20 MI...","(('MUNJAL AUTO INDUSTRIES LTD.', 'Y'), ('20 MI...","(('20MICRONS', 'U'), ('BANCOINDIA', 'U'), ('MU...","(('20MICRONS', 'U'), ('BANCOINDIA', 'U'), ('MU...",3,0,0,3,3,0,0,3,0,3,0,3,1,3,0,4,N,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,73.0,0.0,5.465753,0,0,0,0,2013,0,0,0,0,20 Microns Ltd.,11.0,Public Ltd.,1.020302e+10,1987.0,Minerals,1.010203e+14,Other mining and quarrying,8.0,2.010104e+10,20 Microns Group,Between 1986 and 1990,"347, G I D C Industrial Estate, Waghodia, Vad...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BANCOINDIA,BANCO PRODUCTS (INDIA) LTD.,2013-03-31,P00027633,MR.,RAMKISHAN,AMIRCHAND,DEVIDAYAL,1950-12-08,M,INDIA,2001-07-30,NONE,POST GRADUATE: M.B.A.,"POST GRADUATE: M.COM.,MAHARAJA SAYAJIRAO UNIVE...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"ACCOUNTS/AUDIT/TAXATION,CONSUMER DISCRETIONARY...",NaN,NaN,MR. RAM DEVIDAYAL HOLDS MASTER DEGREE IN COMME...,NO,NON-EXECUTIVE DIRECTOR,YES,NaN,20 MICRONS LTD.,BANCO PRODUCTS (INDIA) LTD.,MUNJAL AUTO INDUSTRIES LTD.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012-03-31,Y,6,1,0,4260.0,0,0,4260.0,4260.0,365,0,4625.0,4262.0,4262.0,"(('20MICRONS', 'U'), ('BANCOINDIA', 'U'), ('MU...","(('MUNJAL AUTO INDUSTRIES LTD.', 'Y'), ('20 MI...","(('MUNJAL AUTO INDUSTRIES LTD.', 'Y'), ('20 MI...","(('20MICRONS', 'U'), ('BANCOINDIA', 'U'), ('MU...","(('20MICRONS', 'U'), ('BANCOINDIA', 'U'), ('MU...",3,0,0,3,3,0,0,3,0,3,0,3,1,3,0,4,N,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,73.0,0.0,11.671233,0,0,0,1,2013,0,0,0,0,Banco Products (India) Ltd.,29909.0,Public Ltd.,1.020302e+10,1961.0,Other automobile ancillaries,1.010145e+14,Manufacture of diverse parts and accessories f...,29301.0,2.020200e+10,Private (Foreign),Between 1951 and 1971,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MUNJALAU,MUNJAL AUTO INDUSTRIES LTD.,2013-03-31,P00027633,MR.,RAMKISHAN,AMIRCHAND,DEVIDAYAL,1950-12-08,M,INDIA,2008-07-26,NONE,POST GRADUATE: M.B.A.,"POST GRADUATE: M.COM.,MAHARAJA SAYAJIRAO UNIVE...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"ACCOUNTS/AUDIT/TAXATION,CONSUMER DISCRETIONARY...",NaN,NaN,MR.RAM DEVIDAYAL HAS A MASTER'S DEGREE IN COMM...,NO,NON-EXECUTIVE DIRECTOR,YES,NaN,20 MICRONS LTD.,BANCO PRODUCTS (INDIA) LTD.,MUNJAL AUTO INDUSTRIES LTD.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012-03-31,Y,4,1,0,1708.0,0,0,1708.0,1708.0,365,0,2073.0,1709.0,4262.0,"(('20MICRONS', 'U'), ('BANCOINDIA', 'U'), ('MU...","(('MUNJAL AUTO INDUSTRIES LTD.', 'Y'), ('20 MI...","(('MUNJAL AUTO INDUSTRIES LTD.', 'Y'), ('20 MI...","(('20MICRONS', 'U'), ('BANCOINDIA', 'U'), ('MU...","(('20MICRONS', 'U'), ('BANCOINDIA', 'U'), ('MU...",3,0,0,3,3,0,0,3,0,3,0,3,1,3,0,4,N,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,73.0,0.0,4.679452,1,1,0,0,2013,0,0,0,0,Munjal Auto Inds. Ltd.,86677.0,Public Ltd.,1.020302e+10,1985.0,Other automobile ancillaries,1.010145e+14,Manufacture of other attachments to motor vehi...,29209.0,2.010101e+10,Hero (Munjals) Group,Between 1972 and 1985,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20MICRONS,20 MICRONS LTD.,2013-03-31,P00027664,MR.,MIHIR,ARVIND,JOSHI,1977-06-12,M,NaN,2007-08-23,NaN,"GRADUATE: ASSOCIATE MEMBER,INSTITUTE OF COMPAN...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011-10-22,RESIGNED (NO REASON STATED),"MR.MIHIR JOSHI, GVFL- NOMINEE DIRECTOR HOLDS D...",NO,"NOMINEE DIRECTOR OF GVFL LTD., EXECUTIVE DIRECTOR",NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012-03-31,N,4,0,1,2046.0,0,0,2046.0,2046.0,0,365,2411.0,2047.0,2047.0,"(('20MICRONS', 'U'),)","(('20 MICRONS LTD.', 'N'),)","(('20 MICRONS LTD.', 'N'),)","(('20MICRONS', 'U'),)","(('20MICRONS', 'U'),)",1,0,0,1,1,0,0,1,0,0,1,1,0,0,1,1,N,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,47.0,0.0,5.605479,0,0,0,0,2013,0,0,0,0,20 Microns Ltd.,11.0,Public Ltd.,1.020302e+10,1987.0,Minerals,1.010203e+14,Other mining and quarrying,8.0,2.010104e+10,20 Microns Group,Between 1986 and 1990,"347, G I D C Industrial Estate, Waghodia, Vad...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30706,ZOTA,ZOTA HEALTH CARE LTD.,2020-03-31,P00082465,MR.,MANUKANT,CHANDULAL,ZOTA,1951-04-17,M,INDIA,2000-07-12,NaN,"POST GRADUATE: M.SC.-MATHEMATICS,SARDAR PATEL ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"DIVERSITY,FINANCE,HEALTHCARE,INTERNATIONAL BUS...",NaN,NaN,MR. MANUKANT CHANDULAL ZOLA HAS DONE MASTERS O...,YES,"EXECUTIVE DIRECTOR, PROMOTER-DIRECTOR",NO,"EXECUTIVE DIRECTOR, ZOTA HEALTH CARE LTD.",ZOTA HEALTH CARE LTD.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-03-31,NaN,N,0,0,1,7202.0,0,0,7202.0,7202.0,0,365,7567.0,7202.0,7202.0,(),"(('ZOTA HEALTH CARE LTD.', 'N'),)","(('ZOTA HEALTH CARE LTD.', 'N'),)",(),(),0,0,0,0,0,0,0,0,0,0,1,1,0,0,1,1,N,0,1,0,1,0,0,1,1,1,0,0,0,0,0,0,0,1,0,73.0,0.0,19.731507,0,0,0,1,2020,0,0,0,0,Zota Health Care Ltd.,275663.0,Public Ltd.,1.020302e+10,2000.0,Wholesale trading,1.010404e+14,Wholesale of pharmaceutical and medical goods,46497.0,2.010200e+10,Private (Indian),Between 1991 and 2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30707,ZOTA,ZOTA HEALTH CARE LTD.,2020-03-31,P00082472,MR.,MOXESH,KETAN,ZOTA,1990-11-12,M,INDIA,2016-10-07,NaN,"GRADUATE: BACHELORS-PHARMACY,GUJARAT TECHNOLOG...",POST GRADUATE: M.SC.-INTERNATIONAL MARKETING &...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"ACCOUNTS/AUDIT/TAXATION,DIVERSITY,FINANCE,HEAL...",NaN,NaN,MR. MOXESH KETANBHAI ZOTA HAS DONE BACHELOR OF...,YES,"MANAGING DIRECTOR, NOMINEE DIRECTOR OF ZOTA HE...",NO,"MANAGING DIRECTOR, ZOTA HEALTH CARE LTD.",ZOTA HEALTH CARE LTD.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2026-10-06,NaN,N,0,0,1,1271.0,0,0,1271.0,1271.0,0,365,1636.0,1271.0,1271.0,(),"(('ZOTA HEALTH CARE LTD.', 'N'),)","(('ZOTA HEALTH CARE LTD.', 'N'),)",(),(),0,0,0,0,0,0,0,0,0,0,1,1,0,0,1,1,N,0,1,0,1,1,0,1,1,1,0,1,0,0,0,0,0,1,0,33.0,0.0,3.482192,0,0,0,0,2020,0,0,0,0,Zota Health Care Ltd.,275663.0,Public Ltd.,1.020302e+10,2000.0,Wholesale trading,1.010404e+14,Wholesale of pharmaceutical and medical goods,46497.0,2.010200e+10,Private (Indian),Between 1991 and 2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30708,ZUARIIND,ZUARI INDUSTRIES LTD.,2020-03-31,P00097876,MS.,MANJU,NaN,GUPTA,1951-11-29,F,INDIA,2020-03-28,NaN,"GRADUATE: B.A.(HONS.),PANJAB UNIVERSITY,PUNJAB",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"LEADERSHIP/MANAGEMENT,STRATEGY",NaN,NaN,"MRS. MANJU GUPTA, AGED 70 YEARS, IS A B.A. (HO...",NaN,NON-EXECUTIVE DIRECTOR,YES,NaN,ZUARI INDUSTRIES LTD.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2028-03-27,NaN,Y,0,1,0,3.0,0,0,3.0,3.0,365,0,368.0,3.0,3.0,(),"(('ZUARI INDUSTRIES LTD.', 'Y'),)","(('ZUARI INDUSTRIES LTD.', 'Y'),)",(),(),0,0,0,0,0,0,0,0,0,1,0,1,0,1,0,1,Y,1,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,72.0,0.0,0.008219,1,0,0,0,2020,0,0,0,0,Zuari Industries Ltd.,275679.0,Public Ltd.,1.020302e+10,1967.0,Sugar,1.010111e+14,Manufacture or refining of sugar (sucrose) fro...,10721.0,2.010101e+10,Birla K.K. Group,Between 1951 and 1971,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30709,ZUARIIND,ZUARI INDUSTRIES LTD.,2020-03-31,P00096747,MR.,VIJAY,VYANKATESH,PARANJAPE,1952-05-24,M,INDIA,2019-12-27,NaN,"GRADUATE: B.E.,REGIONAL ENGINEERING COLLEGE,NA...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"FAST MOVING CONSUMER GOODS,FINANCE,OPERATIONS",NaN,NaN,MR. VIJAY PARANJAPE HOLDS BACHELOR'S DEGREE IN...,NO,NON-EXECUTIVE DIRECTOR,YES,NaN,ZUARI INDUSTRIES LTD.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2027-12-26,NaN,Y,0,1,0,95.0,0,0,95.0,95.0,365,0,460.0,95.0,95.0,(),"(('ZUARI INDUSTRIES LTD.', 'Y'),)","(('ZUARI INDUSTRIES LTD.', 'Y'),)",(),(),0,0,0,0,0,0,0,0,0,1,0,1,0,1,0,1,Y,1,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,72.0,0.0,0.260274,1,0,0,0,2020,0,0,0,0,Zuari Industries Ltd.,275679.0,Public Ltd.,1.020302e+10,1967.0,Sugar,1.010111e+14,Manufacture or refining of sugar (sucrose) fro...,10721.0,2.010101e+10,Birla K.K. Group,Between 1951 and 1971,NaN,52.65,0.123799,0.013426,0.651835,0.665261,0.189779,-0.090375,-0.025258,0.01223,0.008616,0.00131,0.134162,0.111769,0.000784,0.205058,0.217008,0.131526,0.470787,-0.025242,0.011121,0.008927,0.002339,0.14405,0.126462,0.000045,0.203512,0.213966,0.128369,0.467796,-0.025599,0.012282,0.009577,0.001534,0.140078,0.12542,0.000007,0.204529,0.21627,0.130738,0.470534
30710,ZUARIIND,ZUARI INDUSTRIES LTD.,2020-03-31,P00098115,MR.,SOUNDARARAGHAVAN,NaN,RANGACHARI,1948-10-28,M,INDIA,2020-02-15,NONE,POST GRADUATE: C.A.(CHARTERED ACCOUNTANT),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"ACCOUNTS/AUDIT/TAXATION,CORPORATE GOVERNANCE,F...",NaN,NaN,MR. R.S. RAGHAVAN IS ONE OF THE PIONEERS IN TH...,NaN,NaN,NaN,NaN,ZUARI INDUSTRIES LTD.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,U,1,0,0,45.0,0,0,45.0,410.0,0,0,410.0,45.0,45.0,(),"(('ZUARI INDUSTRIES LTD.', 'U'),)","(('ZUARI INDUSTRIES LTD.', 'U'),)",(),(),0,0,0,0,0,0,0,0,1,0,0,1,1,0,0,1,Y,0,1,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,75.0,0.0,0.123288,0,0,0,0,2020,0,0,0,0,Zuari Industries Ltd.,275679.0,Public Ltd.,1.020302e+10,1967.0,Sugar,1.010111e+14,Manufacture or refining of sugar (sucrose) fro...,10721.0,2.010101e+10,Birla K.K. Group,Between 1951 and 1971,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 120 Days

### 120 CAR 3

In [8]:
group1 = carS1.loc[ carS1["IsRookieIndep"] == 1, ["120CAR3"]].dropna()
group2 = carS1.loc[ carS1["IsNonRookieIndep"] == 1, ["120CAR3"]].dropna()

group3 = carS1.loc[ carS1["IsRookieNonIndep"] == 1, ["120CAR3"]].dropna()
group4 = carS1.loc[ carS1["IsNonRookieNonIndep"] == 1, ["120CAR3"]].dropna()

In [9]:
t_stat1, p_value1 = stats.ttest_ind(group1, group2, equal_var=False)  # Welchs t-test (default)
t_stat2, p_value2 = stats.ttest_ind(group3, group4, equal_var=False)  # Welchs t-test (default)


print("ROOKIE INDEP VS NON ROOKIE INDEP")
print("T Statistic:", t_stat1, " P Value:",p_value1)
print("Mean1:", group1.mean().values, " Mean2:", group2.mean().values, " Diff:", group1.mean().values - group2.mean().values)
print()

print("ROOKIE NON INDEP VS NON ROOKIE NON INDEP")
print("T Statistic:", t_stat2, " P Value:",p_value2)
print("Mean1:", group3.mean().values, " Mean2:", group4.mean().values, " Diff:", group3.mean().values - group4.mean().values)

ROOKIE INDEP VS NON ROOKIE INDEP
T Statistic: [-0.5572365]  P Value: [0.5773817]
Mean1: [-0.00435789]  Mean2: [-0.00279733]  Diff: [-0.00156056]

ROOKIE NON INDEP VS NON ROOKIE NON INDEP
T Statistic: [-1.35347901]  P Value: [0.17601252]
Mean1: [-0.00357618]  Mean2: [0.00632842]  Diff: [-0.0099046]

In [10]:
group1.describe()

           120CAR3
count  3869.000000
mean     -0.004358
std       0.125627
min      -5.546831
25%      -0.037638
50%      -0.004855
75%       0.031328
max       0.631866

### 120 CAR 5

In [11]:
group1 = carS1.loc[ carS1["IsRookieIndep"] == 1, ["120CAR5"]].dropna()
group2 = carS1.loc[ carS1["IsNonRookieIndep"] == 1, ["120CAR5"]].dropna()

group3 = carS1.loc[ carS1["IsRookieNonIndep"] == 1, ["120CAR5"]].dropna()
group4 = carS1.loc[ carS1["IsNonRookieNonIndep"] == 1, ["120CAR5"]].dropna()

In [12]:
t_stat1, p_value1 = stats.ttest_ind(group1, group2, equal_var=False)  # Welchs t-test (default)
t_stat2, p_value2 = stats.ttest_ind(group3, group4, equal_var=False)  # Welchs t-test (default)


print("ROOKIE INDEP VS NON ROOKIE INDEP")
print("T Statistic:", t_stat1, " P Value:",p_value1)
print("Mean1:", group1.mean().values, " Mean2:", group2.mean().values, " Diff:", group1.mean().values - group2.mean().values)
print()

print("ROOKIE NON INDEP VS NON ROOKIE NON INDEP")
print("T Statistic:", t_stat2, " P Value:",p_value2)
print("Mean1:", group3.mean().values, " Mean2:", group4.mean().values, " Diff:", group3.mean().values - group4.mean().values)

ROOKIE INDEP VS NON ROOKIE INDEP
T Statistic: [-1.00864212]  P Value: [0.3131772]
Mean1: [-0.0080704]  Mean2: [-0.00385372]  Diff: [-0.00421668]

ROOKIE NON INDEP VS NON ROOKIE NON INDEP
T Statistic: [-1.41735771]  P Value: [0.15648844]
Mean1: [-0.0033886]  Mean2: [0.00800908]  Diff: [-0.01139767]

### 120 CAR 7

In [13]:
group1 = carS1.loc[ carS1["IsRookieIndep"] == 1, ["120CAR7"]].dropna()
group2 = carS1.loc[ carS1["IsNonRookieIndep"] == 1, ["120CAR7"]].dropna()

group3 = carS1.loc[ carS1["IsRookieNonIndep"] == 1, ["120CAR7"]].dropna()
group4 = carS1.loc[ carS1["IsNonRookieNonIndep"] == 1, ["120CAR7"]].dropna()

In [14]:
t_stat1, p_value1 = stats.ttest_ind(group1, group2, equal_var=False)  # Welchs t-test (default)
t_stat2, p_value2 = stats.ttest_ind(group3, group4, equal_var=False)  # Welchs t-test (default)


print("ROOKIE INDEP VS NON ROOKIE INDEP")
print("T Statistic:", t_stat1, " P Value:",p_value1)
print("Mean1:", group1.mean().values, " Mean2:", group2.mean().values, " Diff:", group1.mean().values - group2.mean().values)
print()

print("ROOKIE NON INDEP VS NON ROOKIE NON INDEP")
print("T Statistic:", t_stat2, " P Value:",p_value2)
print("Mean1:", group3.mean().values, " Mean2:", group4.mean().values, " Diff:", group3.mean().values - group4.mean().values)

ROOKIE INDEP VS NON ROOKIE INDEP
T Statistic: [-0.80863956]  P Value: [0.41874689]
Mean1: [-0.01073275]  Mean2: [-0.00683068]  Diff: [-0.00390207]

ROOKIE NON INDEP VS NON ROOKIE NON INDEP
T Statistic: [-1.02095768]  P Value: [0.30735692]
Mean1: [-0.00409281]  Mean2: [0.00440205]  Diff: [-0.00849485]

### 120 CAR 11

In [15]:
group1 = carS1.loc[ carS1["IsRookieIndep"] == 1, ["120CAR11"]].dropna()
group2 = carS1.loc[ carS1["IsNonRookieIndep"] == 1, ["120CAR11"]].dropna()

group3 = carS1.loc[ carS1["IsRookieNonIndep"] == 1, ["120CAR11"]].dropna()
group4 = carS1.loc[ carS1["IsNonRookieNonIndep"] == 1, ["120CAR11"]].dropna()

In [16]:
t_stat1, p_value1 = stats.ttest_ind(group1, group2, equal_var=False)  # Welchs t-test (default)
t_stat2, p_value2 = stats.ttest_ind(group3, group4, equal_var=False)  # Welchs t-test (default)


print("ROOKIE INDEP VS NON ROOKIE INDEP")
print("T Statistic:", t_stat1, " P Value:",p_value1)
print("Mean1:", group1.mean().values, " Mean2:", group2.mean().values, " Diff:", group1.mean().values - group2.mean().values)
print()

print("ROOKIE NON INDEP VS NON ROOKIE NON INDEP")
print("T Statistic:", t_stat2, " P Value:",p_value2)
print("Mean1:", group3.mean().values, " Mean2:", group4.mean().values, " Diff:", group3.mean().values - group4.mean().values)

ROOKIE INDEP VS NON ROOKIE INDEP
T Statistic: [-1.22452235]  P Value: [0.22079858]
Mean1: [-0.01567976]  Mean2: [-0.00451768]  Diff: [-0.01116208]

ROOKIE NON INDEP VS NON ROOKIE NON INDEP
T Statistic: [-0.77687221]  P Value: [0.43728845]
Mean1: [-0.00702294]  Mean2: [8.55203161e-05]  Diff: [-0.00710847]

## 150 Days

### 150 CAR 3

In [17]:
group1 = carS1.loc[ carS1["IsRookieIndep"] == 1, ["150CAR3"]].dropna()
group2 = carS1.loc[ carS1["IsNonRookieIndep"] == 1, ["150CAR3"]].dropna()

group3 = carS1.loc[ carS1["IsRookieNonIndep"] == 1, ["150CAR3"]].dropna()
group4 = carS1.loc[ carS1["IsNonRookieNonIndep"] == 1, ["150CAR3"]].dropna()

In [18]:
t_stat1, p_value1 = stats.ttest_ind(group1, group2, equal_var=False)  # Welchs t-test (default)
t_stat2, p_value2 = stats.ttest_ind(group3, group4, equal_var=False)  # Welchs t-test (default)


print("ROOKIE INDEP VS NON ROOKIE INDEP")
print("T Statistic:", t_stat1, " P Value:",p_value1)
print("Mean1:", group1.mean().values, " Mean2:", group2.mean().values, " Diff:", group1.mean().values - group2.mean().values)
print()

print("ROOKIE NON INDEP VS NON ROOKIE NON INDEP")
print("T Statistic:", t_stat2, " P Value:",p_value2)
print("Mean1:", group3.mean().values, " Mean2:", group4.mean().values, " Diff:", group3.mean().values - group4.mean().values)

ROOKIE INDEP VS NON ROOKIE INDEP
T Statistic: [-1.03065599]  P Value: [0.30273448]
Mean1: [-0.00451897]  Mean2: [-0.00191092]  Diff: [-0.00260805]

ROOKIE NON INDEP VS NON ROOKIE NON INDEP
T Statistic: [-1.45235531]  P Value: [0.14651978]
Mean1: [-0.00341992]  Mean2: [0.00734245]  Diff: [-0.01076237]

### 150 CAR 5

In [19]:
group1 = carS1.loc[ carS1["IsRookieIndep"] == 1, ["150CAR5"]].dropna()
group2 = carS1.loc[ carS1["IsNonRookieIndep"] == 1, ["150CAR5"]].dropna()

group3 = carS1.loc[ carS1["IsRookieNonIndep"] == 1, ["150CAR5"]].dropna()
group4 = carS1.loc[ carS1["IsNonRookieNonIndep"] == 1, ["150CAR5"]].dropna()

In [20]:
t_stat1, p_value1 = stats.ttest_ind(group1, group2, equal_var=False)  # Welchs t-test (default)
t_stat2, p_value2 = stats.ttest_ind(group3, group4, equal_var=False)  # Welchs t-test (default)


print("ROOKIE INDEP VS NON ROOKIE INDEP")
print("T Statistic:", t_stat1, " P Value:",p_value1)
print("Mean1:", group1.mean().values, " Mean2:", group2.mean().values, " Diff:", group1.mean().values - group2.mean().values)
print()

print("ROOKIE NON INDEP VS NON ROOKIE NON INDEP")
print("T Statistic:", t_stat2, " P Value:",p_value2)
print("Mean1:", group3.mean().values, " Mean2:", group4.mean().values, " Diff:", group3.mean().values - group4.mean().values)

ROOKIE INDEP VS NON ROOKIE INDEP
T Statistic: [-1.1828698]  P Value: [0.2368969]
Mean1: [-0.00813131]  Mean2: [-0.00347307]  Diff: [-0.00465825]

ROOKIE NON INDEP VS NON ROOKIE NON INDEP
T Statistic: [-1.5621613]  P Value: [0.11836623]
Mean1: [-0.00308192]  Mean2: [0.00962106]  Diff: [-0.01270298]

### 150 CAR 7

In [21]:
group1 = carS1.loc[ carS1["IsRookieIndep"] == 1, ["150CAR7"]].dropna()
group2 = carS1.loc[ carS1["IsNonRookieIndep"] == 1, ["150CAR7"]].dropna()

group3 = carS1.loc[ carS1["IsRookieNonIndep"] == 1, ["150CAR7"]].dropna()
group4 = carS1.loc[ carS1["IsNonRookieNonIndep"] == 1, ["150CAR7"]].dropna()

In [22]:
t_stat1, p_value1 = stats.ttest_ind(group1, group2, equal_var=False)  # Welchs t-test (default)
t_stat2, p_value2 = stats.ttest_ind(group3, group4, equal_var=False)  # Welchs t-test (default)


print("ROOKIE INDEP VS NON ROOKIE INDEP")
print("T Statistic:", t_stat1, " P Value:",p_value1)
print("Mean1:", group1.mean().values, " Mean2:", group2.mean().values, " Diff:", group1.mean().values - group2.mean().values)
print()

print("ROOKIE NON INDEP VS NON ROOKIE NON INDEP")
print("T Statistic:", t_stat2, " P Value:",p_value2)
print("Mean1:", group3.mean().values, " Mean2:", group4.mean().values, " Diff:", group3.mean().values - group4.mean().values)

ROOKIE INDEP VS NON ROOKIE INDEP
T Statistic: [-1.15821401]  P Value: [0.24681219]
Mean1: [-0.01127506]  Mean2: [-0.00592881]  Diff: [-0.00534625]

ROOKIE NON INDEP VS NON ROOKIE NON INDEP
T Statistic: [-1.21704234]  P Value: [0.2236889]
Mean1: [-0.00385829]  Mean2: [0.00632162]  Diff: [-0.0101799]

### 150 CAR 11

In [23]:
group1 = carS1.loc[ carS1["IsRookieIndep"] == 1, ["150CAR11"]].dropna()
group2 = carS1.loc[ carS1["IsNonRookieIndep"] == 1, ["150CAR11"]].dropna()

group3 = carS1.loc[ carS1["IsRookieNonIndep"] == 1, ["150CAR11"]].dropna()
group4 = carS1.loc[ carS1["IsNonRookieNonIndep"] == 1, ["150CAR11"]].dropna()

In [24]:
t_stat1, p_value1 = stats.ttest_ind(group1, group2, equal_var=False)  # Welchs t-test (default)
t_stat2, p_value2 = stats.ttest_ind(group3, group4, equal_var=False)  # Welchs t-test (default)


print("ROOKIE INDEP VS NON ROOKIE INDEP")
print("T Statistic:", t_stat1, " P Value:",p_value1)
print("Mean1:", group1.mean().values, " Mean2:", group2.mean().values, " Diff:", group1.mean().values - group2.mean().values)
print()

print("ROOKIE NON INDEP VS NON ROOKIE NON INDEP")
print("T Statistic:", t_stat2, " P Value:",p_value2)
print("Mean1:", group3.mean().values, " Mean2:", group4.mean().values, " Diff:", group3.mean().values - group4.mean().values)

ROOKIE INDEP VS NON ROOKIE INDEP
T Statistic: [-1.59484411]  P Value: [0.11079677]
Mean1: [-0.01544897]  Mean2: [-0.00143943]  Diff: [-0.01400954]

ROOKIE NON INDEP VS NON ROOKIE NON INDEP
T Statistic: [-1.19024648]  P Value: [0.23403993]
Mean1: [-0.00654712]  Mean2: [0.00424704]  Diff: [-0.01079416]

## 180 Days

### 180 CAR 3

In [25]:
group1 = carS1.loc[ carS1["IsRookieIndep"] == 1, ["180CAR3"]].dropna()
group2 = carS1.loc[ carS1["IsNonRookieIndep"] == 1, ["180CAR3"]].dropna()

group3 = carS1.loc[ carS1["IsRookieNonIndep"] == 1, ["180CAR3"]].dropna()
group4 = carS1.loc[ carS1["IsNonRookieNonIndep"] == 1, ["180CAR3"]].dropna()

In [26]:
t_stat1, p_value1 = stats.ttest_ind(group1, group2, equal_var=False)  # Welchs t-test (default)
t_stat2, p_value2 = stats.ttest_ind(group3, group4, equal_var=False)  # Welchs t-test (default)


print("ROOKIE INDEP VS NON ROOKIE INDEP")
print("T Statistic:", t_stat1, " P Value:",p_value1)
print("Mean1:", group1.mean().values, " Mean2:", group2.mean().values, " Diff:", group1.mean().values - group2.mean().values)
print()

print("ROOKIE NON INDEP VS NON ROOKIE NON INDEP")
print("T Statistic:", t_stat2, " P Value:",p_value2)
print("Mean1:", group3.mean().values, " Mean2:", group4.mean().values, " Diff:", group3.mean().values - group4.mean().values)

ROOKIE INDEP VS NON ROOKIE INDEP
T Statistic: [0.78110482]  P Value: [0.43478038]
Mean1: [-0.00490414]  Mean2: [-0.00958958]  Diff: [0.00468545]

ROOKIE NON INDEP VS NON ROOKIE NON INDEP
T Statistic: [-1.46036783]  P Value: [0.14430854]
Mean1: [-0.00360598]  Mean2: [0.00734952]  Diff: [-0.01095549]

### 180 CAR 5

In [27]:
group1 = carS1.loc[ carS1["IsRookieIndep"] == 1, ["180CAR5"]].dropna()
group2 = carS1.loc[ carS1["IsNonRookieIndep"] == 1, ["180CAR5"]].dropna()

group3 = carS1.loc[ carS1["IsRookieNonIndep"] == 1, ["180CAR5"]].dropna()
group4 = carS1.loc[ carS1["IsNonRookieNonIndep"] == 1, ["180CAR5"]].dropna()

In [28]:
t_stat1, p_value1 = stats.ttest_ind(group1, group2, equal_var=False)  # Welchs t-test (default)
t_stat2, p_value2 = stats.ttest_ind(group3, group4, equal_var=False)  # Welchs t-test (default)


print("ROOKIE INDEP VS NON ROOKIE INDEP")
print("T Statistic:", t_stat1, " P Value:",p_value1)
print("Mean1:", group1.mean().values, " Mean2:", group2.mean().values, " Diff:", group1.mean().values - group2.mean().values)
print()

print("ROOKIE NON INDEP VS NON ROOKIE NON INDEP")
print("T Statistic:", t_stat2, " P Value:",p_value2)
print("Mean1:", group3.mean().values, " Mean2:", group4.mean().values, " Diff:", group3.mean().values - group4.mean().values)

ROOKIE INDEP VS NON ROOKIE INDEP
T Statistic: [0.50931363]  P Value: [0.61055541]
Mean1: [-0.00934006]  Mean2: [-0.01370667]  Diff: [0.00436661]

ROOKIE NON INDEP VS NON ROOKIE NON INDEP
T Statistic: [-1.65166496]  P Value: [0.09871998]
Mean1: [-0.00352327]  Mean2: [0.01008947]  Diff: [-0.01361275]

### 180 CAR 7

In [29]:
group1 = carS1.loc[ carS1["IsRookieIndep"] == 1, ["180CAR7"]].dropna()
group2 = carS1.loc[ carS1["IsNonRookieIndep"] == 1, ["180CAR7"]].dropna()

group3 = carS1.loc[ carS1["IsRookieNonIndep"] == 1, ["180CAR7"]].dropna()
group4 = carS1.loc[ carS1["IsNonRookieNonIndep"] == 1, ["180CAR7"]].dropna()

In [30]:
t_stat1, p_value1 = stats.ttest_ind(group1, group2, equal_var=False)  # Welchs t-test (default)
t_stat2, p_value2 = stats.ttest_ind(group3, group4, equal_var=False)  # Welchs t-test (default)


print("ROOKIE INDEP VS NON ROOKIE INDEP")
print("T Statistic:", t_stat1, " P Value:",p_value1)
print("Mean1:", group1.mean().values, " Mean2:", group2.mean().values, " Diff:", group1.mean().values - group2.mean().values)
print()

print("ROOKIE NON INDEP VS NON ROOKIE NON INDEP")
print("T Statistic:", t_stat2, " P Value:",p_value2)
print("Mean1:", group3.mean().values, " Mean2:", group4.mean().values, " Diff:", group3.mean().values - group4.mean().values)

ROOKIE INDEP VS NON ROOKIE INDEP
T Statistic: [0.43510532]  P Value: [0.66350393]
Mean1: [-0.01248649]  Mean2: [-0.01637772]  Diff: [0.00389124]

ROOKIE NON INDEP VS NON ROOKIE NON INDEP
T Statistic: [-1.32165541]  P Value: [0.18639134]
Mean1: [-0.0041819]  Mean2: [0.00704541]  Diff: [-0.01122731]

### 180 CAR 11

In [31]:
group1 = carS1.loc[ carS1["IsRookieIndep"] == 1, ["180CAR11"]].dropna()
group2 = carS1.loc[ carS1["IsNonRookieIndep"] == 1, ["180CAR11"]].dropna()

group3 = carS1.loc[ carS1["IsRookieNonIndep"] == 1, ["180CAR11"]].dropna()
group4 = carS1.loc[ carS1["IsNonRookieNonIndep"] == 1, ["180CAR11"]].dropna()

In [32]:
t_stat1, p_value1 = stats.ttest_ind(group1, group2, equal_var=False)  # Welchs t-test (default)
t_stat2, p_value2 = stats.ttest_ind(group3, group4, equal_var=False)  # Welchs t-test (default)


print("ROOKIE INDEP VS NON ROOKIE INDEP")
print("T Statistic:", t_stat1, " P Value:",p_value1)
print("Mean1:", group1.mean().values, " Mean2:", group2.mean().values, " Diff:", group1.mean().values - group2.mean().values)
print()

print("ROOKIE NON INDEP VS NON ROOKIE NON INDEP")
print("T Statistic:", t_stat2, " P Value:",p_value2)
print("Mean1:", group3.mean().values, " Mean2:", group4.mean().values, " Diff:", group3.mean().values - group4.mean().values)

ROOKIE INDEP VS NON ROOKIE INDEP
T Statistic: [-0.03042303]  P Value: [0.97573089]
Mean1: [-0.01725299]  Mean2: [-0.01682808]  Diff: [-0.00042491]

ROOKIE NON INDEP VS NON ROOKIE NON INDEP
T Statistic: [-1.27551195]  P Value: [0.20222602]
Mean1: [-0.00672345]  Mean2: [0.00486935]  Diff: [-0.01159279]

# 2013 - 2024

In [33]:
carS2 = car.loc[ (car["AsOnDate"] < "2024-01-01") & (car["AsOnDate"] > "2012-12-31"), : ].copy()
carS2 = carS2.drop_duplicates( subset = ["Person Code", "Appointment Date"] ).reset_index(drop = True)
carS2

,Symbol,Company,AsOnDate,Person Code,Director Salutation,Director First Name,Director Middle Name,Director Surname,Date of Birth,Gender,Nationality,Appointment Date,Member of Civil Services,Education1,Education2,Education3,Education4,Education5,Education6,Education7,Education8,Education9,Education10,Skills/Competencies,Cessation Date,Cessation Reason,Brief Profile,Promoter Director (Yes/No),Position on Board,Independent (Yes/No),Occupation,Other Directorship 1,Other Directorship 2,Other Directorship 3,Other Directorship 4,Other Directorship 5,Other Directorship 6,Other Directorship 7,Other Directorship 8,Other Directorship 9,Other Directorship 10,Other Directorship 11,Other Directorship 12,Other Directorship 13,Other Directorship 14,Other Directorship 15,Tenure Valid till,PrevLastServed,Indep,cumsum_U,cumsum_Y,cumsum_N,OpBalUnc,OpBalIndep,OpBalNonIndep,OpBalTotal,CloBalUnc,CloBalIndep,CloBalNonIndep,CloBalTotal,YOE,YOEmax,AllPastDirect,CurrDirectA,CurrDirectAB,PastSiezedDirectA,PastSiezedDirectAB,CountOtherPastUnclearA,CountOtherPastIndepA,CountOtherPastNonIndepA,CompCountOtherPastTotalA,CountOtherPastUnclearAB,CountOtherPastIndepAB,CountOtherPastNonIndepAB,CompCountOtherPastTotalAB,CountCurrUnclearA,CountCurrIndepA,CountCurrNonIndepA,CompCountCurrTotalA,CountCurrUnclearAB,CountCurrIndepAB,CountCurrNonIndepAB,CompCountCurrTotalAB,Rookie,IsIndep,IsNonIndep,IsRookie,IsNonRookie,IsCeoMD,IsChairman,IsPromoterClassification,IsPromoterBoard,IsPromoter,IsDualityChairmanMD,IsFamilyManaged,IsFamilyChairman,IsFamilyChairmanAndCEO,IsRookieIndep,IsRookieNonIndep,IsNonRookieIndep,IsNonRookieNonIndep,IsFemale,Age,TenureInYearsIndep,TenureInYearsTotal,IsFirstTermIndep,IsRetires5y,IsTermLimitRetirement,IsDefaultTerm,AsOnYear,IsTurnOver,HasRetires5y,HasTermLimitRetirement,IsTurnOverIndep,CompanyName,ProwessCode,Entity type,Entity type code,Incorporation year,Industry group,Industry group code,NIC name,NIC code,Ownership group code,Ownership group,Age group,Head office address,ACP,pct,RF,RMRF,MF,SMB,HML,OLS120_intercept,OLS120_RMRF,OLS120_SMB,OLS120_HML,OLS120_r_squared,OLS120_adjusted_r_squared,OLS120_f_p_value,120CAR3,120CAR5,120CAR7,120CAR11,OLS150_intercept,OLS150_RMRF,OLS150_SMB,OLS150_HML,OLS150_r_squared,OLS150_adjusted_r_squared,OLS150_f_p_value,150CAR3,150CAR5,150CAR7,150CAR11,OLS180_intercept,OLS180_RMRF,OLS180_SMB,OLS180_HML,OLS180_r_squared,OLS180_adjusted_r_squared,OLS180_f_p_value,180CAR3,180CAR5,180CAR7,180CAR11
0,20MICRONS,20 MICRONS LTD.,2013-03-31,P00027662,MR.,DIPTIMOY,DINESHCHANDRA,BHATTACHARJEE,1955-12-09,M,NaN,2005-04-29,NaN,GRADUATE: B.SC.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009-03-02,NOMINATION ENDED,"MR.D.D.BHATTACHARJEE, IDBI-NOMINEE DIRECTOR HO...",NO,"NOMINEE DIRECTOR, EXECUTIVE DIRECTOR",NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012-03-31,N,4,0,1,2892.0,0,0,2892.0,2892.0,0,365,3257.0,2893.0,2893.0,"(('20MICRONS', 'U'),)","(('20 MICRONS LTD.', 'N'),)","(('20 MICRONS LTD.', 'N'),)","(('20MICRONS', 'U'),)","(('20MICRONS', 'U'),)",1,0,0,1,1,0,0,1,0,0,1,1,0,0,1,1,N,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,68.0,0.0,7.923288,0,0,0,0,2013,0,0,0,0,20 Microns Ltd.,11.0,Public Ltd.,1.020302e+10,1987.0,Minerals,1.010203e+14,Other mining and quarrying,8.0,2.010104e+10,20 Microns Group,Between 1986 and 1990,"347, G I D C Industrial Estate, Waghodia, Vad...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20MICRONS,20 MICRONS LTD.,2013-03-31,P00027633,MR.,RAMKISHAN,AMIRCHAND,DEVIDAYAL,1950-12-08,M,INDIA,2007-10-13,NONE,POST GRADUATE: M.B.A.,"POST GRADUATE: M.COM.,MAHARAJA SAYAJIRAO UNIVE...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"ACCOUNTS/AUDIT/TAXATION,CONSUMER DISCRETIONARY...",NaN,NaN,MR.RAM DEVIDAYAL HAS A MASTER'S DEGREE IN COMM...,NO,NON-EXECUTIVE DIRECTOR,YES,NaN,20 MICRONS LTD.,BANCO PRODUCTS (INDIA) LTD.,MUNJAL AUTO INDUSTRIES LTD.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012-03-31,Y,4,1,0,1995.0,0,0,1995.0,1995.0,365,0,2360.0,1996.0,4262.0,"(('20MICRONS', 'U'), ('BANCOINDIA', 'U'), ('MU...","(('MUNJAL AUTO INDUSTRIES LTD.', 'Y'), ('20 MI...","(('MUNJAL AUTO INDUSTRIES LTD.', 'Y'), ('20 MI...","(('20MICRONS', 'U'), ('BANCOINDIA', 'U'), ('MU...","(('20MICRONS', 'U'), ('BANCOINDIA', 'U'), ('MU...",3,0,0,3,3,0,0,3,0,3,0,3,1,3,0,4,N,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,73.0,0.0,5.465753,0,0,0,0,2013,0,0,0,0,20 Microns Ltd.,11.0,Public Ltd.,1.020302e+10,1987.0,Minerals,1.010203e+14,Other mining and quarrying,8.0,2.010104e+10,20 Microns Group,Between 1986 and 1990,"347, G I D C Industrial Estate, Waghodia, Vad...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BANCOINDIA,BANCO PRODUCTS (INDIA) LTD.,2013-03-31,P00027633,MR.,RAMKISHAN,AMIRCHAND,DEVIDAYAL,1950-12-08,M,INDIA,2001-07-30,NONE,POST GRADUATE: M.B.A.,"POST GRADUATE: M.COM.,MAHARAJA SAYAJIRAO UNIVE...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"ACCOUNTS/AUDIT/TAXATION,CONSUMER DISCRETIONARY...",NaN,NaN,MR. RAM DEVIDAYAL HOLDS MASTER DEGREE IN COMME...,NO,NON-EXECUTIVE DIRECTOR,YES,NaN,20 MICRONS LTD.,BANCO PRODUCTS (INDIA) LTD.,MUNJAL AUTO INDUSTRIES LTD.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012-03-31,Y,6,1,0,4260.0,0,0,4260.0,4260.0,365,0,4625.0,4262.0,4262.0,"(('20MICRONS', 'U'), ('BANCOINDIA', 'U'), ('MU...","(('MUNJAL AUTO INDUSTRIES LTD.', 'Y'), ('20 MI...","(('MUNJAL AUTO INDUSTRIES LTD.', 'Y'), ('20 MI...","(('20MICRONS', 'U'), ('BANCOINDIA', 'U'), ('MU...","(('20MICRONS', 'U'), ('BANCOINDIA', 'U'), ('MU...",3,0,0,3,3,0,0,3,0,3,0,3,1,3,0,4,N,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,73.0,0.0,11.671233,0,0,0,1,2013,0,0,0,0,Banco Products (India) Ltd.,29909.0,Public Ltd.,1.020302e+10,1961.0,Other automobile ancillaries,1.010145e+14,Manufacture of diverse parts and accessories f...,29301.0,2.020200e+10,Private (Foreign),Between 1951 and 1971,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MUNJALAU,MUNJAL AUTO INDUSTRIES LTD.,2013-03-31,P00027633,MR.,RAMKISHAN,AMIRCHAND,DEVIDAYAL,1950-12-08,M,INDIA,2008-07-26,NONE,POST GRADUATE: M.B.A.,"POST GRADUATE: M.COM.,MAHARAJA SAYAJIRAO UNIVE...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"ACCOUNTS/AUDIT/TAXATION,CONSUMER DISCRETIONARY...",NaN,NaN,MR.RAM DEVIDAYAL HAS A MASTER'S DEGREE IN COMM...,NO,NON-EXECUTIVE DIRECTOR,YES,NaN,20 MICRONS LTD.,BANCO PRODUCTS (INDIA) LTD.,MUNJAL AUTO INDUSTRIES LTD.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012-03-31,Y,4,1,0,1708.0,0,0,1708.0,1708.0,365,0,2073.0,1709.0,4262.0,"(('20MICRONS', 'U'), ('BANCOINDIA', 'U'), ('MU...","(('MUNJAL AUTO INDUSTRIES LTD.', 'Y'), ('20 MI...","(('MUNJAL AUTO INDUSTRIES LTD.', 'Y'), ('20 MI...","(('20MICRONS', 'U'), ('BANCOINDIA', 'U'), ('MU...","(('20MICRONS', 'U'), ('BANCOINDIA', 'U'), ('MU...",3,0,0,3,3,0,0,3,0,3,0,3,1,3,0,4,N,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,73.0,0.0,4.679452,1,1,0,0,2013,0,0,0,0,Munjal Auto Inds. Ltd.,86677.0,Public Ltd.,1.020302e+10,1985.0,Other automobile ancillaries,1.010145e+14,Manufacture of other attachments to motor vehi...,29209.0,2.010101e+10,Hero (Munjals) Group,Between 1972 and 1985,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20MICRONS,20 MICRONS LTD.,2013-03-31,P00027664,MR.,MIHIR,ARVIND,JOSHI,1977-06-12,M,NaN,2007-08-23,NaN,"GRADUATE: ASSOCIATE MEMBER,INSTITUTE OF COMPAN...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011-10-22,RESIGNED (NO REASON STATED),"MR.MIHIR JOSHI, GVFL- NOMINEE DIRECTOR HOLDS D...",NO,"NOMINEE DIRECTOR OF GVFL LTD., EXECUTIVE DIRECTOR",NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012-03-31,N,4,0,1,2046.0,0,0,2046.0,2046.0,0,365,2411.0,2047.0,2047.0,"(('20MICRONS', 'U'),)","(('20 MICRONS LTD.', 'N'),)","(('20 MICRONS LTD.', 'N'),)","(('20MICRONS', 'U'),)","(('20MICRONS', 'U'),)",1,0,0,1,1,0,0,1,0,0,1,1,0,0,1,1,N,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,47.0,0.0,5.605479,0,0,0,0,2013,0,0,0,0,20 Microns Ltd.,11.0,Public Ltd.,1.020302e+10,1987.0,Minerals,1.010203e+14,Other mining and quarrying,8.0,2.010104e+10,20 Microns Group,Between 1986 and 1990,"347, G I D C Industrial Estate, Waghodia, Vad...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39366,ZIMLAB,ZIM LABORATORIES LTD.,2023-03-31,P00110929,DR.(MR.),KAMLESH,BAJIRAO,SHENDE,1955-12-01,M,NaN,2022-04-01,NaN,"POST GRADUATE: MASTERS-PHARMACOLOGY,MAHARASHTR...","DOCTORATE: PH.D.-HERBAL MEDICINE,MAHARASHTRA U...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"CORPORATE GOVERNANCE,HEALTHCARE,INTERNATIONAL ...",NaN,NaN,DR. KAMLESH SHENDE HAS MORE THAN 30 YEARS OF E...,NO,NON-EXECUTIVE DIRECTOR,YES,NaN,ZIM LABORATORIES LTD.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,0,1,0,364.0,0,0,364.0,364.0,365,0,729.0,364.0,364.0,(),"(('ZIM LABORATORIES LTD.', 'Y'),)","(('ZIM LABORATORIES LTD.', 'Y'),)",(),(),0,0,0,0,0,0,0,0,0,1,0,1,0,1,0,1,Y,1,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,68.0,0.0,0.997260,1,0,0,0,2023,0,0,0,0,Zim Laboratories Ltd.,275454.0,Public Ltd.,1.020302e+10,1984.0,Drugs & pharmaceuticals,1.010120e+14,Manufacture of allopathic pharmaceutical prepa...,21002.0,2.010104e+10,ZIM Group,Between 1972 and 1985,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39367,ZUARI,ZUARI AGRO CHEMICALS LTD.,2023-03-31,P00109790,MR.,SANJEEV,NaN,LALL,1964-04-30,M,NaN,2022-09-01,NaN,"POST GRADUATE: M.A.-ECONOMICS,DELHI SCHOOL OF ...","POST GRADUATE: P.G.D.B.M.,XLRI-XAVIER SCHOOL O...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"FINANCE,LEADERSHIP/MANAGEMENT,STRATEGY",NaN,NaN,MR. SANJEEV LALL HOLDS DEGREE IN MA (ECONOMICS...,NO,NON-EXECUTIVE DIRECTOR,YES,NaN,ZUARI AGRO CHEMICALS LTD.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-08-31,NaN,Y,0,1,0,211.0,0,0,211.0,211.0,365,0,576.0,211.0,211.0,(),"(('ZUARI AGRO CHEMICALS LTD.', 'Y'),)","(('ZUARI AGRO CHEMICALS LTD.', 'Y'),)",(),(),0,0,0,0,0,0,0,0,0,1,0,1,0,1,0,1,Y,1,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,60.0,0.0,0.578082,1,0,0,0,2023,0,0,0,0,Zuari Agro Chemicals Ltd.,397515.0,Public Ltd.,1.020302e+10,2009.0,Fertilisers,1.010120e+14,Manufacture of fertilizers and nitrogen compounds,2012.0,2.010101e+10,Birla K.K. Group,Between 1991 and 2013,NaN,186.95,-0.036340,0.029928,-0.633790,-0.603862,1.835675,-0.067453,-0.015354,0.016828,0.009624,0.009007,0.357271,0.340649,3.850793e-11,-0.083591,-0.154535,-0.072844,-0.053108,-0.014010,0.016728,0.010779,0.009078,0.369934,0.356988,1.350454e-14,-0.089473,-0.164008,-0.084332,-0.072163,-0.013677,0.017037,0.009525,0.008584,0.363550,0.352701,3.485881e-17,-0.088726,-0.162667,-0.084134,-0.070765
39368,ZUARIIND,ZUARI INDUSTRIES LTD.,2023-03-31,P00109215,MR.,ALOK,NaN,SAXENA,1962-09-25,M,INDIA,2022-07-01,NaN,"GRADUATE: B.SC.,KUMAUN UNIVERSITY,NAINITAL","POST GRADUATE: P.G.DIPLOMA-SUGAR TECHNOLOGY,NA...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"LEADERSHIP/MANAGEMENT,OPERATIONS",NaN,NaN,"MR. ALOK SAXENA, AGED AROUND 59 YEARS. IS A SU...",NO,EXECUTIVE DIRECTOR,NO,"EXECUTIVE DIRECTOR, ZUARI INDUSTRIES LTD.",ZUARI INDUSTRIES LTD.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2026-06-30,NaN,N,0,0,1,273.0,0,0,273.0,273.0,0,365,638.0,273.0,273.0,(),"(('ZUARI INDUSTRIES LTD.', 'N'),)","(('ZUARI INDUSTRIES LTD.', 'N'),)",(),(),0,0,0,0,0,0,0,0,0,0,1,1,0,0,1,1,Y,0,1,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,62.0,0.0,0.747945,0,0,0,0,2023,0,0,0,0,Zuari Industries Ltd.,275679.0,Public Ltd.,1.020302e+10,1967.0,Sugar,1.010111e+14,Manufacture or refining of sugar (sucrose) fro...,10721.0,2.010101e+10,Birla K.K. Group,Between 1951 and 1971,NaN,145.20,-0.030060,0.013775,-0.304595,-0.290820,1.940595,-2.660786,-0.014164,0.014168,0.013855,0.010419,0.451527,0.437342,4.362242e-15,-0.056387,-0.068578,-0.114664,0.033346,-0.014235,0.015028,0.011461,0.009962,0.461037,0.449962,1.680361e-19,-0.050609,-0.063026,-0.110386,0.038218,-0.014430,0.013275,0.012868,0.006976,0.389204,0.378792,9.644934e-19,-0.065931,-0.075486,-0.123193,0.033923
39369,ZYDUSLIFE,ZYDUS LIFESCIENCES LTD.,2023-03-31,P00110939,MR.,MONAPPA,ARUN,AKHIL,1978-09-01,M,NaN,2022-11-29,NaN,"GRADUATE: B.E.-ELECTRICAL,GEORGIA INSTITUTE OF...","POST GRADUATE: M.B.A.,HARVARD BUSINESS SCHOOL,...",POST GRADUATE: MASTERS-PUBLIC ADMINISTRATION-I...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"FINANCE,INFORMATION TECHNOLOGY",NaN,NaN,"MR. AKHIL MONAPPA, 45 YEARS, AN MBA FROM HARVA...",NO,NON-EXECUTIVE DIRECTOR,YES,NaN,ZYDUS LIFESCIENCES LTD.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2027-11-28,NaN,Y,0,1,0,122.0,0,0,122.0,122.0,365,0,487.0,122.0,122.0,(),"(('ZYDUS LIFESCIENCES LTD.', 'Y'),)","(('ZYDUS LIFESCIENCES LTD.', 'Y'),)",(),(),0,0,0,0,0,0,0,0,0,1,0,1,0,1,0,1,Y,1,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,46.0,0.0,0.334247,1,0,0,0,2023,0,0,0,0,Zydus Lifesciences Ltd.,41246.0,Public Ltd.,1.020302e+10,1995.0,Drugs & pharmaceuticals,1.010120e+14,Manufacture of allopathic pharmaceutical prepa...,21002.0,2.010104e+10,Zydus Cadila Group,Between 1991 and 2013,"'Saffron', 2nd Floor, Ambawadi, Ahmedabad Guj...",405.35,0.013502,0.017110,0.208140,0.225250,-0.482253,-0.301074,-0.020840,0.006780,-0.000472,0.001187,0.111923,0.088956,3.149783e-03,-0.014494,0.012987,0.023293,-0.016780,-0.019726,0.008360,-0.000898,-0.000588,0.185022,0.168275,1.399616e-06,-0.019847,0.005988,0.015783,-0.025514,-0.019392,0.009433,0.001160,-0.000695,0.268297,0.255825,6.438805e-12,-0.021456,0.002620,0.010710,-0.032779
39370,ZYDUSLIFE,ZYDUS LIFESCIENCES LTD.,2023-03-31,P00110940,MS.,UPASANA,KAMINENI,KONIDELA,1986-07-20,F,NaN,2022-11-29,NaN,"GRADUATE: EXECUTIVE EDUCATION,HARVARD BUSINESS...",GRADUATE: GRADUATE-INTERNATIONAL BUSINESS MARK...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"CORPORATE SOCIAL RESPONSIBILITY,HUMAN RESOURCE...",NaN,NaN,MS. UPASANA KAMINENI KONIDELA IS A THIRD GENER...,NO,NON-EXECUTIVE DIRECTOR,YES,NaN,ZYDUS LIFESCIENCES LTD.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2027-11-28,NaN,Y,0,1,0,122.0,0,0,122.0,122.0,365,0,487.0,122.0,122.0,(),"(('ZYDUS LIFESCIENCES LTD.', 'Y'),)","(('ZYDUS LIFESCIENCES LTD.', 'Y'),)",(),(),0,0,0,0,0,0,0,0,0,1,0,1,0,1,0,1,Y,1,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,38.0,0.0,0.334247,1,0,0,0,2023,0,0,0,0,Zydus Lifesciences Ltd.,41246.0,Public Ltd.,1.020302e+10,1995.0,Drugs & pharmaceuticals,1.010120e+14,Manufacture of allopathic pharmaceutical prepa...,21002.0,2.010104e+10,Zydus Cadila Group,Between 1991 and 2013,"'Saffron', 2nd Floor, Ambawadi, Ahmedabad Guj...",405.35,0.013502,0.017110,0.208140,0.225250,-0.482253,-0.301074,-0.020840,0.006780,-0.000472,0.001187,0.111923,0.088956,3.149783e-03,-0.014494,0.012987,0.023293,-0.016780,-0.019726,0.008360,-0.000898,-0.000588,0.185022,0.168275,1.399616e-06,-0.019847,0.005988,0.015783,-0.025514,-0.019392,0.009433,0.001160,-0.000695,0.268297,0.255825,6.438805e-12,-0.021456,0.002620,0.010710,-0.032779

## 120 Days

### 120 CAR 3

In [34]:
group1 = carS2.loc[ carS2["IsRookieIndep"] == 1, ["120CAR3"]].dropna()
group2 = carS2.loc[ carS2["IsNonRookieIndep"] == 1, ["120CAR3"]].dropna()

group3 = carS2.loc[ carS2["IsRookieNonIndep"] == 1, ["120CAR3"]].dropna()
group4 = carS2.loc[ carS2["IsNonRookieNonIndep"] == 1, ["120CAR3"]].dropna()

In [35]:
t_stat1, p_value1 = stats.ttest_ind(group1, group2, equal_var=False)  # Welchs t-test (default)
t_stat2, p_value2 = stats.ttest_ind(group3, group4, equal_var=False)  # Welchs t-test (default)


print("ROOKIE INDEP VS NON ROOKIE INDEP")
print("T Statistic:", t_stat1, " P Value:",p_value1)
print("Mean1:", group1.mean().values, " Mean2:", group2.mean().values, " Diff:", group1.mean().values - group2.mean().values)
print()

print("ROOKIE NON INDEP VS NON ROOKIE NON INDEP")
print("T Statistic:", t_stat2, " P Value:",p_value2)
print("Mean1:", group3.mean().values, " Mean2:", group4.mean().values, " Diff:", group3.mean().values - group4.mean().values)

ROOKIE INDEP VS NON ROOKIE INDEP
T Statistic: [0.295947]  P Value: [0.76727663]
Mean1: [-0.00395907]  Mean2: [-0.00464609]  Diff: [0.00068701]

ROOKIE NON INDEP VS NON ROOKIE NON INDEP
T Statistic: [-1.112002]  P Value: [0.26621559]
Mean1: [-0.00315564]  Mean2: [0.00357125]  Diff: [-0.00672689]

### 120 CAR 5

In [36]:
group1 = carS2.loc[ carS2["IsRookieIndep"] == 1, ["120CAR5"]].dropna()
group2 = carS2.loc[ carS2["IsNonRookieIndep"] == 1, ["120CAR5"]].dropna()

group3 = carS2.loc[ carS2["IsRookieNonIndep"] == 1, ["120CAR5"]].dropna()
group4 = carS2.loc[ carS2["IsNonRookieNonIndep"] == 1, ["120CAR5"]].dropna()

In [37]:
t_stat1, p_value1 = stats.ttest_ind(group1, group2, equal_var=False)  # Welchs t-test (default)
t_stat2, p_value2 = stats.ttest_ind(group3, group4, equal_var=False)  # Welchs t-test (default)


print("ROOKIE INDEP VS NON ROOKIE INDEP")
print("T Statistic:", t_stat1, " P Value:",p_value1)
print("Mean1:", group1.mean().values, " Mean2:", group2.mean().values, " Diff:", group1.mean().values - group2.mean().values)
print()

print("ROOKIE NON INDEP VS NON ROOKIE NON INDEP")
print("T Statistic:", t_stat2, " P Value:",p_value2)
print("Mean1:", group3.mean().values, " Mean2:", group4.mean().values, " Diff:", group3.mean().values - group4.mean().values)

ROOKIE INDEP VS NON ROOKIE INDEP
T Statistic: [-0.16406643]  P Value: [0.86968229]
Mean1: [-0.00755014]  Mean2: [-0.00696067]  Diff: [-0.00058946]

ROOKIE NON INDEP VS NON ROOKIE NON INDEP
T Statistic: [-1.41006518]  P Value: [0.15860906]
Mean1: [-0.00404493]  Mean2: [0.00531255]  Diff: [-0.00935748]

### 120 CAR 7

In [38]:
group1 = carS2.loc[ carS2["IsRookieIndep"] == 1, ["120CAR7"]].dropna()
group2 = carS2.loc[ carS2["IsNonRookieIndep"] == 1, ["120CAR7"]].dropna()

group3 = carS2.loc[ carS2["IsRookieNonIndep"] == 1, ["120CAR7"]].dropna()
group4 = carS2.loc[ carS2["IsNonRookieNonIndep"] == 1, ["120CAR7"]].dropna()

In [39]:
t_stat1, p_value1 = stats.ttest_ind(group1, group2, equal_var=False)  # Welchs t-test (default)
t_stat2, p_value2 = stats.ttest_ind(group3, group4, equal_var=False)  # Welchs t-test (default)


print("ROOKIE INDEP VS NON ROOKIE INDEP")
print("T Statistic:", t_stat1, " P Value:",p_value1)
print("Mean1:", group1.mean().values, " Mean2:", group2.mean().values, " Diff:", group1.mean().values - group2.mean().values)
print()

print("ROOKIE NON INDEP VS NON ROOKIE NON INDEP")
print("T Statistic:", t_stat2, " P Value:",p_value2)
print("Mean1:", group3.mean().values, " Mean2:", group4.mean().values, " Diff:", group3.mean().values - group4.mean().values)

ROOKIE INDEP VS NON ROOKIE INDEP
T Statistic: [0.1286077]  P Value: [0.89767093]
Mean1: [-0.01026602]  Mean2: [-0.01082839]  Diff: [0.00056237]

ROOKIE NON INDEP VS NON ROOKIE NON INDEP
T Statistic: [-1.11763941]  P Value: [0.26379282]
Mean1: [-0.00565454]  Mean2: [0.00208022]  Diff: [-0.00773477]

### 120 CAR 11

In [40]:
group1 = carS2.loc[ carS2["IsRookieIndep"] == 1, ["120CAR11"]].dropna()
group2 = carS2.loc[ carS2["IsNonRookieIndep"] == 1, ["120CAR11"]].dropna()

group3 = carS2.loc[ carS2["IsRookieNonIndep"] == 1, ["120CAR11"]].dropna()
group4 = carS2.loc[ carS2["IsNonRookieNonIndep"] == 1, ["120CAR11"]].dropna()

In [41]:
t_stat1, p_value1 = stats.ttest_ind(group1, group2, equal_var=False)  # Welchs t-test (default)
t_stat2, p_value2 = stats.ttest_ind(group3, group4, equal_var=False)  # Welchs t-test (default)


print("ROOKIE INDEP VS NON ROOKIE INDEP")
print("T Statistic:", t_stat1, " P Value:",p_value1)
print("Mean1:", group1.mean().values, " Mean2:", group2.mean().values, " Diff:", group1.mean().values - group2.mean().values)
print()

print("ROOKIE NON INDEP VS NON ROOKIE NON INDEP")
print("T Statistic:", t_stat2, " P Value:",p_value2)
print("Mean1:", group3.mean().values, " Mean2:", group4.mean().values, " Diff:", group3.mean().values - group4.mean().values)

ROOKIE INDEP VS NON ROOKIE INDEP
T Statistic: [-0.45267729]  P Value: [0.65079432]
Mean1: [-0.01492278]  Mean2: [-0.01133807]  Diff: [-0.00358471]

ROOKIE NON INDEP VS NON ROOKIE NON INDEP
T Statistic: [-0.77547527]  P Value: [0.43810207]
Mean1: [-0.00940475]  Mean2: [-0.00341533]  Diff: [-0.00598942]

## 150 Days

### 150 CAR 3

In [42]:
group1 = carS2.loc[ carS2["IsRookieIndep"] == 1, ["150CAR3"]].dropna()
group2 = carS2.loc[ carS2["IsNonRookieIndep"] == 1, ["150CAR3"]].dropna()

group3 = carS2.loc[ carS2["IsRookieNonIndep"] == 1, ["150CAR3"]].dropna()
group4 = carS2.loc[ carS2["IsNonRookieNonIndep"] == 1, ["150CAR3"]].dropna()

In [43]:
t_stat1, p_value1 = stats.ttest_ind(group1, group2, equal_var=False)  # Welchs t-test (default)
t_stat2, p_value2 = stats.ttest_ind(group3, group4, equal_var=False)  # Welchs t-test (default)


print("ROOKIE INDEP VS NON ROOKIE INDEP")
print("T Statistic:", t_stat1, " P Value:",p_value1)
print("Mean1:", group1.mean().values, " Mean2:", group2.mean().values, " Diff:", group1.mean().values - group2.mean().values)
print()

print("ROOKIE NON INDEP VS NON ROOKIE NON INDEP")
print("T Statistic:", t_stat2, " P Value:",p_value2)
print("Mean1:", group3.mean().values, " Mean2:", group4.mean().values, " Diff:", group3.mean().values - group4.mean().values)

ROOKIE INDEP VS NON ROOKIE INDEP
T Statistic: [-0.09558961]  P Value: [0.92384841]
Mean1: [-0.00394835]  Mean2: [-0.00374846]  Diff: [-0.00019988]

ROOKIE NON INDEP VS NON ROOKIE NON INDEP
T Statistic: [-1.23679556]  P Value: [0.21625093]
Mean1: [-0.00275599]  Mean2: [0.00477078]  Diff: [-0.00752677]

### 150 CAR 5

In [44]:
group1 = carS2.loc[ carS2["IsRookieIndep"] == 1, ["150CAR5"]].dropna()
group2 = carS2.loc[ carS2["IsNonRookieIndep"] == 1, ["150CAR5"]].dropna()

group3 = carS2.loc[ carS2["IsRookieNonIndep"] == 1, ["150CAR5"]].dropna()
group4 = carS2.loc[ carS2["IsNonRookieNonIndep"] == 1, ["150CAR5"]].dropna()

In [45]:
t_stat1, p_value1 = stats.ttest_ind(group1, group2, equal_var=False)  # Welchs t-test (default)
t_stat2, p_value2 = stats.ttest_ind(group3, group4, equal_var=False)  # Welchs t-test (default)


print("ROOKIE INDEP VS NON ROOKIE INDEP")
print("T Statistic:", t_stat1, " P Value:",p_value1)
print("Mean1:", group1.mean().values, " Mean2:", group2.mean().values, " Diff:", group1.mean().values - group2.mean().values)
print()

print("ROOKIE NON INDEP VS NON ROOKIE NON INDEP")
print("T Statistic:", t_stat2, " P Value:",p_value2)
print("Mean1:", group3.mean().values, " Mean2:", group4.mean().values, " Diff:", group3.mean().values - group4.mean().values)

ROOKIE INDEP VS NON ROOKIE INDEP
T Statistic: [-0.37702844]  P Value: [0.70616098]
Mean1: [-0.00752186]  Mean2: [-0.00625817]  Diff: [-0.00126369]

ROOKIE NON INDEP VS NON ROOKIE NON INDEP
T Statistic: [-1.56620027]  P Value: [0.11739539]
Mean1: [-0.00336906]  Mean2: [0.00707933]  Diff: [-0.01044839]

### 150 CAR 7

In [46]:
group1 = carS2.loc[ carS2["IsRookieIndep"] == 1, ["150CAR7"]].dropna()
group2 = carS2.loc[ carS2["IsNonRookieIndep"] == 1, ["150CAR7"]].dropna()

group3 = carS2.loc[ carS2["IsRookieNonIndep"] == 1, ["150CAR7"]].dropna()
group4 = carS2.loc[ carS2["IsNonRookieNonIndep"] == 1, ["150CAR7"]].dropna()

In [47]:
t_stat1, p_value1 = stats.ttest_ind(group1, group2, equal_var=False)  # Welchs t-test (default)
t_stat2, p_value2 = stats.ttest_ind(group3, group4, equal_var=False)  # Welchs t-test (default)


print("ROOKIE INDEP VS NON ROOKIE INDEP")
print("T Statistic:", t_stat1, " P Value:",p_value1)
print("Mean1:", group1.mean().values, " Mean2:", group2.mean().values, " Diff:", group1.mean().values - group2.mean().values)
print()

print("ROOKIE NON INDEP VS NON ROOKIE NON INDEP")
print("T Statistic:", t_stat2, " P Value:",p_value2)
print("Mean1:", group3.mean().values, " Mean2:", group4.mean().values, " Diff:", group3.mean().values - group4.mean().values)

ROOKIE INDEP VS NON ROOKIE INDEP
T Statistic: [-0.24268222]  P Value: [0.80825698]
Mean1: [-0.0106039]  Mean2: [-0.00960922]  Diff: [-0.00099468]

ROOKIE NON INDEP VS NON ROOKIE NON INDEP
T Statistic: [-1.31579561]  P Value: [0.18832741]
Mean1: [-0.0048338]  Mean2: [0.00424337]  Diff: [-0.00907716]

### 150 CAR 11

In [48]:
group1 = carS2.loc[ carS2["IsRookieIndep"] == 1, ["150CAR11"]].dropna()
group2 = carS2.loc[ carS2["IsNonRookieIndep"] == 1, ["150CAR11"]].dropna()

group3 = carS2.loc[ carS2["IsRookieNonIndep"] == 1, ["150CAR11"]].dropna()
group4 = carS2.loc[ carS2["IsNonRookieNonIndep"] == 1, ["150CAR11"]].dropna()

In [49]:
t_stat1, p_value1 = stats.ttest_ind(group1, group2, equal_var=False)  # Welchs t-test (default)
t_stat2, p_value2 = stats.ttest_ind(group3, group4, equal_var=False)  # Welchs t-test (default)


print("ROOKIE INDEP VS NON ROOKIE INDEP")
print("T Statistic:", t_stat1, " P Value:",p_value1)
print("Mean1:", group1.mean().values, " Mean2:", group2.mean().values, " Diff:", group1.mean().values - group2.mean().values)
print()

print("ROOKIE NON INDEP VS NON ROOKIE NON INDEP")
print("T Statistic:", t_stat2, " P Value:",p_value2)
print("Mean1:", group3.mean().values, " Mean2:", group4.mean().values, " Diff:", group3.mean().values - group4.mean().values)

ROOKIE INDEP VS NON ROOKIE INDEP
T Statistic: [-0.83144166]  P Value: [0.4057517]
Mean1: [-0.01461306]  Mean2: [-0.00833369]  Diff: [-0.00627936]

ROOKIE NON INDEP VS NON ROOKIE NON INDEP
T Statistic: [-1.18944619]  P Value: [0.234336]
Mean1: [-0.00810816]  Mean2: [0.00087379]  Diff: [-0.00898195]

## 180 Days

### 180 CAR 3

In [50]:
group1 = carS2.loc[ carS2["IsRookieIndep"] == 1, ["180CAR3"]].dropna()
group2 = carS2.loc[ carS2["IsNonRookieIndep"] == 1, ["180CAR3"]].dropna()

group3 = carS2.loc[ carS2["IsRookieNonIndep"] == 1, ["180CAR3"]].dropna()
group4 = carS2.loc[ carS2["IsNonRookieNonIndep"] == 1, ["180CAR3"]].dropna()

In [51]:
t_stat1, p_value1 = stats.ttest_ind(group1, group2, equal_var=False)  # Welchs t-test (default)
t_stat2, p_value2 = stats.ttest_ind(group3, group4, equal_var=False)  # Welchs t-test (default)


print("ROOKIE INDEP VS NON ROOKIE INDEP")
print("T Statistic:", t_stat1, " P Value:",p_value1)
print("Mean1:", group1.mean().values, " Mean2:", group2.mean().values, " Diff:", group1.mean().values - group2.mean().values)
print()

print("ROOKIE NON INDEP VS NON ROOKIE NON INDEP")
print("T Statistic:", t_stat2, " P Value:",p_value2)
print("Mean1:", group3.mean().values, " Mean2:", group4.mean().values, " Diff:", group3.mean().values - group4.mean().values)

ROOKIE INDEP VS NON ROOKIE INDEP
T Statistic: [1.14970217]  P Value: [0.25031465]
Mean1: [-0.00425757]  Mean2: [-0.00982218]  Diff: [0.00556461]

ROOKIE NON INDEP VS NON ROOKIE NON INDEP
T Statistic: [-1.25140982]  P Value: [0.210875]
Mean1: [-0.00275781]  Mean2: [0.00492168]  Diff: [-0.0076795]

### 180 CAR 5

In [52]:
group1 = carS2.loc[ carS2["IsRookieIndep"] == 1, ["180CAR5"]].dropna()
group2 = carS2.loc[ carS2["IsNonRookieIndep"] == 1, ["180CAR5"]].dropna()

group3 = carS2.loc[ carS2["IsRookieNonIndep"] == 1, ["180CAR5"]].dropna()
group4 = carS2.loc[ carS2["IsNonRookieNonIndep"] == 1, ["180CAR5"]].dropna()

In [53]:
t_stat1, p_value1 = stats.ttest_ind(group1, group2, equal_var=False)  # Welchs t-test (default)
t_stat2, p_value2 = stats.ttest_ind(group3, group4, equal_var=False)  # Welchs t-test (default)


print("ROOKIE INDEP VS NON ROOKIE INDEP")
print("T Statistic:", t_stat1, " P Value:",p_value1)
print("Mean1:", group1.mean().values, " Mean2:", group2.mean().values, " Diff:", group1.mean().values - group2.mean().values)
print()

print("ROOKIE NON INDEP VS NON ROOKIE NON INDEP")
print("T Statistic:", t_stat2, " P Value:",p_value2)
print("Mean1:", group3.mean().values, " Mean2:", group4.mean().values, " Diff:", group3.mean().values - group4.mean().values)

ROOKIE INDEP VS NON ROOKIE INDEP
T Statistic: [0.82073585]  P Value: [0.41182993]
Mean1: [-0.00851005]  Mean2: [-0.01420339]  Diff: [0.00569333]

ROOKIE NON INDEP VS NON ROOKIE NON INDEP
T Statistic: [-1.65889359]  P Value: [0.09723139]
Mean1: [-0.00358338]  Mean2: [0.00758981]  Diff: [-0.01117319]

### 180 CAR 7

In [54]:
group1 = carS2.loc[ carS2["IsRookieIndep"] == 1, ["180CAR7"]].dropna()
group2 = carS2.loc[ carS2["IsNonRookieIndep"] == 1, ["180CAR7"]].dropna()

group3 = carS2.loc[ carS2["IsRookieNonIndep"] == 1, ["180CAR7"]].dropna()
group4 = carS2.loc[ carS2["IsNonRookieNonIndep"] == 1, ["180CAR7"]].dropna()

In [55]:
t_stat1, p_value1 = stats.ttest_ind(group1, group2, equal_var=False)  # Welchs t-test (default)
t_stat2, p_value2 = stats.ttest_ind(group3, group4, equal_var=False)  # Welchs t-test (default)


print("ROOKIE INDEP VS NON ROOKIE INDEP")
print("T Statistic:", t_stat1, " P Value:",p_value1)
print("Mean1:", group1.mean().values, " Mean2:", group2.mean().values, " Diff:", group1.mean().values - group2.mean().values)
print()

print("ROOKIE NON INDEP VS NON ROOKIE NON INDEP")
print("T Statistic:", t_stat2, " P Value:",p_value2)
print("Mean1:", group3.mean().values, " Mean2:", group4.mean().values, " Diff:", group3.mean().values - group4.mean().values)

ROOKIE INDEP VS NON ROOKIE INDEP
T Statistic: [0.82630643]  P Value: [0.40866188]
Mean1: [-0.01158054]  Mean2: [-0.01762357]  Diff: [0.00604303]

ROOKIE NON INDEP VS NON ROOKIE NON INDEP
T Statistic: [-1.50282992]  P Value: [0.13297298]
Mean1: [-0.0054166]  Mean2: [0.00507678]  Diff: [-0.01049337]

### 180 CAR 11

In [56]:
group1 = carS2.loc[ carS2["IsRookieIndep"] == 1, ["180CAR11"]].dropna()
group2 = carS2.loc[ carS2["IsNonRookieIndep"] == 1, ["180CAR11"]].dropna()

group3 = carS2.loc[ carS2["IsRookieNonIndep"] == 1, ["180CAR11"]].dropna()
group4 = carS2.loc[ carS2["IsNonRookieNonIndep"] == 1, ["180CAR11"]].dropna()

In [57]:
t_stat1, p_value1 = stats.ttest_ind(group1, group2, equal_var=False)  # Welchs t-test (default)
t_stat2, p_value2 = stats.ttest_ind(group3, group4, equal_var=False)  # Welchs t-test (default)


print("ROOKIE INDEP VS NON ROOKIE INDEP")
print("T Statistic:", t_stat1, " P Value:",p_value1)
print("Mean1:", group1.mean().values, " Mean2:", group2.mean().values, " Diff:", group1.mean().values - group2.mean().values)
print()

print("ROOKIE NON INDEP VS NON ROOKIE NON INDEP")
print("T Statistic:", t_stat2, " P Value:",p_value2)
print("Mean1:", group3.mean().values, " Mean2:", group4.mean().values, " Diff:", group3.mean().values - group4.mean().values)

ROOKIE INDEP VS NON ROOKIE INDEP
T Statistic: [0.36532428]  P Value: [0.71488225]
Mean1: [-0.01607871]  Mean2: [-0.02024755]  Diff: [0.00416884]

ROOKIE NON INDEP VS NON ROOKIE NON INDEP
T Statistic: [-1.47316655]  P Value: [0.14078389]
Mean1: [-0.00948337]  Mean2: [0.00178249]  Diff: [-0.01126585]